<mat-card>
    <div class="row p-1 d-flex align-items-center">
      <h3 class="col-8 p-l-30">Previous Events Connection</h3>
      <div class="col-4 p-t-10 p-r-30 d-flex justify-content-end">
                <select class="p-t-8 p-b-8 p-l-30 p-r-10 ">    
                    <option></option>
                </select> 
      </div>
    </div>

    <mat-divider></mat-divider>
  
    <div class="table-responsive">
      <table>
        <tr class="d-flex justify-content-between">
            <th class="f-w-200"> <span text-align="center">NAME OF EVENT</span>
             <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler> </th>
            <th class="f-w-200"><span text-align="center">DATE</span>
                <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler> </th>
            <th class="f-w-200"><span text-align="center">TOTAL CONNECTION</span>
                <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler> </th>
            <th class="f-w-200"><span text-align="center">DURATION</span> 
                <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler> </th>
            <th class="f-w-200"><span text-align="center">PRIMARY DEVICE</span></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </table>
    </div>
  </mat-card>
  
