@import "@core/scss/angular/libs/form-wizard.component.scss";
@import "@core/scss/angular/libs/select.component.scss";

.vertical-line {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  min-height: 80vh;
}
.list-header {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: uppercase;
  background-color: #4c67aae6;
  padding: 2px 6px 2px 6px;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.spinner-border {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.custom-card-body {
  border-left: 10px solid #4c67aa;
  border-right: 10px solid #4c67aa;
  border-bottom: 10px solid #4c67aa;
}
.custom-card-header {
  color: #ffffff;
  background-color: #4c67aa !important;
}
.dark-layout {
  .custom-card-header {
    background-color: chocolate !important;
  }
  .custom-card-body {
    border-left: 10px solid chocolate;
    border-right: 10px solid chocolate;
    border-bottom: 10px solid chocolate;
  }
  .custome-stepper-title {
    color: #ffffff;
  }
  .list-header {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: uppercase;
    background-color: #d2691eb3;
    padding: 2px 6px 2px 6px;
    border-radius: 7px;
    color: #ffffff;
    letter-spacing: 1.2px;
  }
}
.custome-stepper-header {
  padding: 1em;
  border-radius: 10%;
  background-color: aliceblue;
}
.custome-stepper-title {
  color: #6e6b7b;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 0rem;
}

.custome-stepper-sub-title {
  font-weight: 400;
  font-size: 0.85rem;
  color: #b9b9c3;
}
.custome-stepper {
  cursor: pointer;
  margin-bottom: 10px;
}
.custome-stepper:hover {
  &.custome-stepper-header {
    background-color: antiquewhite !important;
    padding: 1em;
    border-radius: 10%;
  }
}
