@import "@core/scss/angular/libs/form-wizard.component.scss";
@import "@core/scss/angular/libs/select.component.scss";

.vertical-line {
  border-left: 1px solid #ccc; /* Adjust the color and width as needed */
  padding-left: 10px; /* Adjust the padding to control the gap between columns and the line */
}

.custome-stepper-header {
  padding: 1em;
  border-radius: 10%;
}
.custome-stepper-title {
  color: #6e6b7b;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 0rem;
}

.custome-stepper-sub-title {
  font-weight: 400;
  font-size: 0.85rem;
  color: #b9b9c3;
}
.custome-stepper {
  cursor: pointer;
}
.custome-stepper:hover {
  &.custome-stepper-header {
    background-color: antiquewhite !important;
    padding: 1em;
    border-radius: 10%;
  }
}
@media (max-width: 991.98px) {
  .container .row .col-lg-6.col-xl-6.d-none.d-md-block {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 65px;
  left: -250px; /* Initially hide sidebar off-screen */
  bottom: 0;
  width: 250px;
  background-color: #f0f0f0;
  overflow-y: auto;
  transition: left 0.3s ease; /* Add transition effect */
  z-index: 1000;
}

.show-sidebar {
  left: 0; /* Slide sidebar into view */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
