<div class="card mb-3" style="border: 1px solid rgba(195, 195, 195, 1)">
  <div
    class="d-flex justify-content-between"
    style="background-color: rgba(233, 241, 244, 1)"
  >
    <div class="card-header bg-transparent" style="color: rgba(0, 0, 0, 1)">
      Scheduled Event
    </div>
    <div class="card-header" style="color: rgba(33, 96, 147, 1)">
      <i class="bi bi-clock-history" style="margin-right: 0.4rem"></i> 00:22:08
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 mt-1">
        <h6 style="align-items: center; text-align: center">SAT</h6>
        <h3 style="align-items: center; text-align: center">15</h3>
      </div>
      <div class="col-7 mt-1">
        <h6 class="team-name">McQuaid vs Fairfort</h6>
        <div class="d-flex">
          <span class="game-name">Football</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 mt-1 d-flex justify-content-center align-items-center">
        <div class="i-clock-box">
          <i class="bi bi-clock"></i>
        </div>
      </div>
      <div class="col-10 mt-1">
        <h6 class="date-text">Saturday,Sept 15th</h6>
        <div class="d-flex">
          <span class="time-text">2:00 pm, Varsity</span>
        </div>
      </div>
      <div class="col-2 mt-1 d-flex justify-content-center align-items-center">
        <div class="i-geo-box">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
      </div>
      <div class="col-10 mt-1">
        <h6 class="add-text">Fairport High School</h6>
        <div class="d-flex">
          <span class="add-text-span">33 Union Street,Fairfort</span>
        </div>
      </div>
    </div>
  </div>
</div>
