.notifications {
    .card-header {
        color: #fff;
        padding: 10px;
    }

    .card-title {
        font-family: 'Outfit';
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }

    .card-body {
        padding-left: 7px;
        padding-top: 14px;
        background-color: #2160930D;
    }

    .card {
        border: none;
        box-shadow: none;
    }
}