<div class="menu-box">
    <div ngbDropdown container="body">
        <button class="btn btn-sm btn-light menuitem-but" id="menuDropdown" ngbDropdownToggle>
            <i class="bi bi-three-dots-vertical" style="font-size: 1.3rem;"></i>
        </button>
        <div  ngbDropdownMenu aria-labelledby="menuDropdown">
            <button class="dropdown-item" *ngFor="let item of dropdownItems">
                <i [data-feather]="item.icon" [size]="16"></i>&nbsp;&nbsp;{{item.label}}</button>
        </div>
    </div>
</div>