@import '@core/scss/angular/libs/select.component.scss';

 
  .card img {
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .badge-custom {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    padding: 5px 10px;

    justify-content: space-between;
  
  }

  .badge-text {
    background-color: rgba(143, 171, 7, 1);
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-right: auto;
  }
  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.float-right {
  text-align: end;
}

