<div class="modal-dialog sidebar-lg">
    <div class="modal-content p-0">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        style="background-color: rgba(254, 0, 0, 0.1); color: rgba(254, 0, 0, 1)"
      >
        ×
      </button>
      <div class="modal-header mb-1">
        <h5
          class="modal-title"
          style="
            background-color: rgba(245, 163, 10, 0.1);
            padding: 0px 15px 0px 15px;
          "
        >
          Starts in 01:20:03
        </h5>
      </div>
      <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
        <div class="media">
          <img
            src="assets/images/pip-image/2.png"
            class="rounded mr-1"
            height="40"
            alt="team"
          />
          <div class="media-body">
            <h4 class="align-self-center mb-0">Austin Peay Governors vs Liberty Flames</h4>
            <p class="align-self-center mb-0">On demand Event</p>
          </div>
        </div>
        <div class="mt-2">
          <h5 class="card-title">Event Details</h5>
          <div class="d-flex p-0">
            <i class="bi bi-clock"></i>
            <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
                Saturday, Sept 15th, 6:00 pm, Varsity
            </h6>
          </div>
          <div class="d-flex p-0">
            <i class="bi bi-geo-alt-fill"></i>
            <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
                Liberty High School, 33 Union Street, Liberty
            </h6>
          </div>
        </div>
        <hr />
    
      </div>
      <div class="modal-footer" style="display: flex; justify-content: space-between;">
      <div class="card-body collapse-icon">
        <div class="collapse-default">
          <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
            <ngb-panel id="panelBorderBottom1">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <button
                        type="button"
                        class="btn btn-warning btn-block"
                        style="
                          height: 24px;
                          width: 203px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                    (click)=" onStartClick()"   
                        rippleEffect
                      >
                        Start
                      </button>
                    </div>
                  </div>
                  <div class="col-6"></div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent> 
                  <h5 class="card-title">Streams</h5>
                  <hr />
                  <h6>Streaming URL: abshbfgg</h6>
                  <h6>Character: MCFPFT</h6>
  
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      </div>
    </div>
  </div>
  