<div class="p-2 connection-list-grid-header" style="margin: 0">
    <div class="d-flex align-items-center justify-content-between">
      <div >
        <div class="tab-container">
          <ul class="tab-list">
          @for ( tab of tabs;track tab.id) {
          <li (click)="onTabChange(tab.id)" [class.active]="tab.id === activeTab">
              <a class="tab-link">{{ tab.label }}</a>
          </li>}
          </ul> 
        </div>
      </div>
  
      <div class="ml-auto">
        <div class="d-flex align-items-center">
          <!-- Grid button -->
          <button
            mat-icon-button
            [ngClass]="{ 'grid-box': listOrGrid == 'grid' }"
            (click)="listGrid('grid')">
            <mat-icon>grid_view</mat-icon>
          </button>
  
          <!-- List button -->
          <button
            mat-icon-button
            [ngClass]="{ 'list-box': listOrGrid == 'list' }"
            (click)="listGrid('list')">
            <mat-icon>menu</mat-icon>
          </button>
  
          <!-- Add Device button -->
          <!-- <button
            mat-raised-button
            color="primary"
            class="ml-1">
            Add device to event
          </button> -->

          <button mat-fab extended class="mat-btn" >
            Add device to event</button>
        </div>
      </div>
    </div>
  </div>
  
