.preview-container {
    .back-button {

        .btn-warning {
            border-color: #fff !important;
            background-color: #fff !important;
            color: #0D0D0D !important;
        }

        .btn-warning:hover {
            box-shadow: 0 0.5rem 1rem #EDEDED !important;
        }
    }
}