<div class="container-fluid preview-container p-0">
    <div class="row">
        <div class="col-12 mb-1 back-button">
            <button type="button" class="btn btn-icon btn-warning" rippleEffect [routerLink]="'/event'">
                <span [data-feather]="'arrow-left'"></span></button>
        </div>
        <div class="col-12">
            <div class="card" style="overflow: hidden;">
                <div class="row g-0">
                    <div class="col-md-4 pr-0 d-flex flex-column" style="background-color:#F8F8F8;">
                        <div class="d-flex align-items-center p-1 ">
                            <span class="bullet bullet-sm bullet-success mr-1"></span>
                            <h6 class="mb-0"> Open for device connection</h6>
                        </div>
                        <div class="time-countdown-box">
                            <div class="time-box" >
                                This is some text within a card body.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>