.upcoming-event {
    .in-progess {
        font-family: 'Outfit';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card-title {
        font-family: 'Outfit';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .sub-heading {
        font-family: 'Outfit';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 0px;
    }



    p {
        margin-bottom: 5px;
        font-family: 'Outfit';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .btn-warning{
        padding: 4px 3rem !important;
    }


}