@import "@core/scss/angular/libs/datatables.component.scss";

.datatable-scroll {
  width: auto !important;
}

.d-flex p {
  margin-right: 10px !important;
  // color: rgba(58, 58, 58, 1) !important;
}
.badge-pill i {
  padding: 5px;
}
.combined-elements {
  display: -webkit-inline-box;
}
.icon-100 {
  font-size: 100px;
}
.icon-200 {
  font-size: 200px;
}
.icon-300 {
  font-size: 200px;
}
.icon-50 {
  font-size: 25px;
}
.icon-25 {
  font-size: 50px;
}
.cus-header{
  color: #000000; font-weight: 400
}
/*
	xs <576px sm ≥576px	md ≥768px lg ≥992px	xl ≥1200px xxl ≥1400px
*/
@media (max-width: 576px) {
    .dashboard-event-header {
      font-weight: 200;
      font-size: 0.9em;
    }
  }
@media (min-width: 576px) {
    .dashboard-event-header {
      font-weight: 200;
      font-size: 0.9em;
    }
  }
@media (min-width: 768px) {
  .dashboard-event-header {
    font-weight: 200;
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
    .dashboard-event-header {
        font-weight: 400;
        font-size: 1.17em;
      }
}
@media (min-width: 1280px) {
    .dashboard-event-header {
        font-weight: 400;
        font-size: 1.17em;
      }
}
