.dark-layout {
    .btn-outline-secondary {
        color: #c3c3c3;
        border: #828282;
    }

    p {
        color: #c3c3c3 !important;
    }

    .modal-header {
        border-bottom: 1px solid #4B4B4B !important;
    }
}

.btn-outline-secondary {
    color: #0F0F0F;
    border: #C3C3C3;
}