p{
  font-size: 10px;
  margin: 0;
}

.card-titles {
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.btn-warning-custom{
    padding: 7px 14px !important;
    background-color: #F5A30A !important;
    box-shadow: none;

}



.dark-layout {
   p {
      color: #c3c3c3;
  }

  .modal-header {
      border-bottom: 1px solid #4B4B4B !important;
  }
}