<div class="modal-header notifications">
  <h5 class="modal-title" id="myModalLabel160">&nbsp;</h5>
  <h3 class="mb-0 cursor-pointer" (click)="activeModal.dismiss('Cross click')">
    <i class="bi bi-x-lg"></i>
  </h3>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <div class="row">
    <div class="col-12">
      <h3>Event Ended</h3>
    </div>
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between mt-1">
        <img
          src="assets/images/pip-image/Event-card.png"
          class="img-fluid"
          alt="..."
          style="
            max-width: 131px;
            max-height: 58px;
            border-radius: 4px;
            margin-right: 7px;
          "
        />
        <div class="flex-fill">
          <h6 class="card-titles m-0">
            {{ eventDetail.eventName }},{{ eventDetail.eventType }}
          </h6>
          <div class="d-flex align-items-center justify-content-between">
            <p class="m-0">Duration - {{ eventDetail.duration }}</p>
            <p class="m-0">Size - {{ eventDetail.size }} files</p>
            <p></p>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-warning btn-warning-custom m-0"
          (click)="activeModal.dismiss('Cross click')"
          [routerLink]="'/past-event-view'"
          rippleEffect
        >
          View
        </button>
      </div>
    </div>
    <!-- <div class="col-12 d-flex align-items-center justify-content-between mt-1">
      <div class="d-flex align-items-center">
        <img
          src="assets/images/pip-image/Event-card.png"
          class="img-fluid"
          alt="..."
          style="
            max-width: 131px;
            max-height: 58px;
            border-radius: 4px;
            margin-right: 7px;
          "
        />
        <div>
          <h6 class="card-titles m-0">
            {{ eventDetail.eventName }},{{ eventDetail.eventType }}
          </h6>
          <div class="d-flex align-items-center justify-content-between">
            <p class="m-0">Duration - {{ eventDetail.duration }}</p>
            <p class="m-0">Size - {{ eventDetail.size }} files</p>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-warning btn-warning-custom m-0"
        (click)="activeModal.dismiss('Cross click')"
        [routerLink]="'/past-event-view'"
        rippleEffect
      >
        View
      </button>
    </div> -->
  </div>
</div>
