.stream-info {

    .btn-warning {
        border-color: #fff !important;
        background-color: #fff !important;
        color: #0D0D0D !important;

        &:hover {
            box-shadow: 0 0.5rem 1rem #EDEDED !important;
        }
    }


    .card-header {
        padding: 10px 1rem;
    }
}



.dark-layout {

    .btn-warning {
        border-color: #232323 !important;
        background-color: #232323 !important;
        color: #fff !important;

        &:hover {
            box-shadow: 0 0.5rem 1rem #232323 !important;
        }
    }
}