<div class="container-fluid preview-container p-0 stream-info">
    <div class="row">
        <div class="col-12 mb-1">
            <button type="button" class="btn btn-icon  btn-warning" rippleEffect [routerLink]="'/event'">
                <span [data-feather]="'arrow-left'"></span></button>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Streaming Information</h5>
                </div>
                <div class="card-body p-0">

                    <div class="table-responsive h-100">
                        <table class="table table-default">
                            <tr style="text-transform: uppercase">
                                <th>FIELD</th>
                                <th>DESCRIPTION</th>
                            </tr>
                            <tr>
                                <td>Bitrate</td>
                                <td>4:16 pm</td>
                            </tr>
                            <tr>
                                <td>Frame Rate</td>
                                <td>4:16 pm</td>
                            </tr>
                            <tr>
                                <td>Key Frame Interval</td>
                                <td>4:16 pm</td>
                            </tr>

                            <tr>
                                <td>Sample Rate</td>
                                <td>48000</td>
                            </tr>
                            <tr>
                                <td>Status Code</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>700</td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td>1280</td>
                            </tr>
                            <tr>
                                <td>Frame Type</td>
                                <td>TT12</td>
                            </tr>
                            <tr>
                                <td>Data</td>
                                <td>Oven Media Engine 123</td>
                            </tr>
                            <tr>
                                <td>Output Stream Name</td>
                                <td>Stream</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>