<div class="form-title">
    <h3>Privilige</h3>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Employee Code</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.employeeCode.SelectedItem">
                        <!-- <option selected>Select employee code from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.employeeCode"
                            [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Payroll Month</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.payrollId.SelectedItem">
                        <!-- <option selected>Select payroll id from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.payrollId" [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Count</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.count"/>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label>Description</label>
                    <fieldset class="form-group">
                        <textarea  type="text"  class="form-control" id="basicTextarea" rows="3" [(ngModel)]="datasource.description"></textarea>
                    </fieldset>
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancel.emit()"></app-form-footer>
    </div>
</div>