<div class="connection-device-detail">
  <div class="d-flex mb-1">
    <div class="flex-grow-1">
      <button
        type="button"
        class="btn btn-icon back-button"
        (click)="back()"
        style="background-color: #fff"
        rippleEffect
      >
        <i class="feather" data-feather="arrow-left" style="fill: black"></i>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-danger mr-1" rippleEffect>
        <span [data-feather]="'slash'" [class]="'mr-25'"></span>Block
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-warning mr-1"
        (click)="modalOpen('relay-stream')"
        rippleEffect
      >
        Relay Stream
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-secondary" rippleEffect>
        <span [data-feather]="'pause'" [class]="'mr-25'"></span>Pause
      </button>
    </div>
  </div>
  <div class="row match-height" style="margin-right: 0; margin-left: 0">
    <div class="col-xl-9" style="padding-right: 0; padding-left: 0">
      <app-video-streaming
        [liveStreamVideoPath]="url"
        style="margin-bottom: 0.7rem"
      ></app-video-streaming>
      <div class="card">
        <div
          class="row p-1 m-0 d-xl-none streaming-card-bg-color"
          style="border-radius: 0.428rem"
        >
          <div class="col-12">
            <div class="form-group ml-auto float-right">
              <button
                type="button"
                class="btn btn-warning"
                (click)="modalOpen('mediaSetting')"
                rippleEffect
              >
                Edit Media settings
              </button>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex align-items-center">
                <i
                  class="bi bi-arrow-up-right"
                  style="font-size: 20px; color: rgba(245, 163, 10, 1)"
                ></i>
                <h4
                  class="align-items-center light-text"
                  style="margin-left: 0.2em"
                >
                  Streaming
                </h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Transmit Status
              </p>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex align-items-center">
                <i
                  class="bi bi-camera-video"
                  style="font-size: 20px; color: rgba(245, 163, 10, 1)"
                ></i>
                <h4 class="light-text" style="margin-left: 0.2em">Camcorder</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Device Type
              </p>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">Harry</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                User Name
              </p>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">cc18</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Device ID
              </p>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">192.168.1.10</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                IP Address
              </p>
            </div>
          </div>
          <div class="col-2 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">2 retries</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">Retries</p>
            </div>
          </div>
          <div class="col-3 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">Poor</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Internet Connection
              </p>
            </div>
          </div>

          <div class="col-3 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">00:05</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Part Hold Back
              </p>
            </div>
          </div>
          <div class="col-3 col-md-3" style="margin-left: 0">
            <div>
              <div class="d-flex">
                <h4 class="light-text">9 sec</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Segment Duration
              </p>
            </div>
          </div>
          <div class="col-3 col-md-3">
            <div>
              <div class="d-flex">
                <h4 class="light-text">12</h4>
              </div>
              <p class="dark-white-text" style="font-size: 0.95rem">
                Segment Count
              </p>
            </div>
          </div>
        </div>
        <div class="table-responsive h-100">
          <table class="table table-default">
            <tr style="text-transform: uppercase">
              <th>Video Time</th>
              <th>Video Resolution/Quality</th>
              <th>Duration</th>
              <th>Time</th>
            </tr>
            <tr>
              <td>1:49:00</td>
              <td>
                <div class="badge badge-pill badge-light-danger">Poor</div>
              </td>
              <!-- badge-light-success -->
              <td>30 sec</td>
              <td>4:16 pm</td>
            </tr>
            <tr>
              <td>1:49:00</td>
              <td>
                <div class="badge badge-pill badge-light-danger">Poor</div>
              </td>
              <td>30 sec</td>
              <td>4:16 pm</td>
            </tr>
            <tr>
              <td>1:49:00</td>
              <td>
                <div class="badge badge-pill badge-light-danger">Poor</div>
              </td>
              <td>30 sec</td>
              <td>4:16 pm</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-3" style="padding-right: 0">
      <div
        class="card p-1 d-xs-none d-sm-none d-md-none d-lg-none d-xl-block streaming-card-bg-color"
      >
        <div>
          <div class="d-flex align-content-center">
            <i
              class="bi bi-arrow-up-right align-items-center"
              style="font-size: 20px; color: rgba(245, 163, 10, 1)"
            ></i>
            <h4
              class="align-items-center light-text"
              style="margin-left: 0.2em"
            >
              Streaming
            </h4>
          </div>
          <p class="dark-white-text">Transmit Status</p>
        </div>
        <div>
          <div class="d-flex align-items-center">
            <i
              class="bi bi-camera-video"
              style="font-size: 20px; color: rgba(245, 163, 10, 1)"
            ></i>
            <h4 class="light-text" style="margin-left: 0.2em">Camcorder</h4>
          </div>
          <p class="dark-white-text">Device Type</p>
        </div>
        <div>
          <div class="d-flex">
            <h4 class="light-text">Harry</h4>
          </div>
          <p class="dark-white-text">User Name</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">cc18</h4>
          </div>
          <p class="dark-white-text">Device ID</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">192.168.1.10</h4>
          </div>
          <p class="dark-white-text">IP Address</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">2 retries</h4>
          </div>
          <p class="dark-white-text">Retries</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">Poor</h4>
          </div>
          <p class="dark-white-text">Internet Connection</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">00:05</h4>
          </div>
          <p class="dark-white-text">Chunk Duration</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">00:05</h4>
          </div>
          <p class="dark-white-text">Part Hold Back</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">9 sec</h4>
          </div>
          <p class="dark-white-text">Segment Duration</p>
        </div>

        <div>
          <div class="d-flex">
            <h4 class="light-text">12</h4>
          </div>
          <p class="dark-white-text">Segment Count</p>
        </div>
        <div
          class="card-footer"
          style="margin-top: 100%; border-top: 1px solid transparent"
        >
          <button
            type="button"
            class="btn btn-warning btn-block"
            (click)="modalOpen('mediaSetting')"
            rippleEffect
          >
            Edit Media settings
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
