<button type="button" class="btn btn-icon  back-button mb-1" [routerLink]="'/connection/connection-card-view'"
  rippleEffect>
  <i class="feather " data-feather="arrow-left" [size]="24"></i></button>

<div class="card ml-1 p-0">
  <div class="card-body m-0 p-0">
    <div class="row">
      <div class="col-xl-3 p-1" style="background-color: rgba(255, 252, 243, 1)">
        <div class="row">
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="d-flex mt-3">
              <i class="bi bi-arrow-up-right mr-1" style="color: rgba(245, 163, 10, 1)"></i>
              <h6>Sending</h6>
            </div>
            <p>Transmit Status</p>
          </div>
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="d-flex mt-3">
              <i class="bi bi-camera-video-fill mr-1" style="color: rgba(245, 163, 10, 1)"></i>
              <h6>Camcorder</h6>
            </div>
            <p>Device Type</p>
          </div>
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>Harry</h6>
              <p>User Name</p>
            </div>
          </div>
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>cc18</h6>
              <p>Device ID</p>
            </div>
          </div>
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>192.168.1.10</h6>
              <p>IP Address</p>
            </div>
          </div>
          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>2 retries</h6>
              <p>Retries</p>
            </div>
          </div>

          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>Poor</h6>
              <p>Internet Connection</p>
            </div>
          </div>

          <div class="col-md-6 col-xl-12 col-sm-6 col-xxl-12 col-6">
            <div class="mt-3">
              <h6>120</h6>
              <p>Total Clips</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th>Video Time</th>
              <th>Video Resolution/Quality</th>
              <th>Duration</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1:49:00</td>
              <td>
                <div class="badge badge-pill badge-light-danger" style="color: black">
                  Poor
                </div>
              </td>
              <td>30 sec</td>
              <td>4:16 pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>