@import "@core/scss/angular/libs/form-wizard.component.scss";

.tab {
  cursor: pointer;
  border-radius: 5px;
}
.tab:hover {
    cursor: pointer;
    background-color: rgba(245, 163, 10, 0.08);
    border-radius: 5px;
  }
  .active {
    background-color: rgba(245, 163, 10, 0.08);
    color: rgba(245, 163, 10, 1);
    border-radius: 5px;
    h6{
      color: rgba(245, 163, 10, 1);
    }
  }