<div class="sidebar">
  <div class="sidebar-content email-app-sidebar" [perfectScrollbar]>
    <div class="email-app-menu">
      <div class="form-group-compose text-center compose-btn">
        <div class="sidebar-menu-list">
          <div class="list-group list-group-messages">

            <div routerLink="/settings/account" routerLinkActive="active">
              <div class="d-flex p-1 tab" data-tab="account" id="btnLeft">
                <i class="bi bi-person mr-1" style="font-size: 15px"></i>
                <h6 class="text-center" style="font-size: 15px">Media Server</h6>
              </div>
            </div>
            <div routerLink="user" routerLinkActive="active">
              <div class="d-flex p-1 tab" data-tab="account">
                <i class="bi bi-person mr-1" style="font-size: 15px"></i>
                <h6 class="text-center" style="font-size: 15px">User</h6>
              </div>
            </div>
            <div routerLink="/settings/file" routerLinkActive="active" class="mt-1">
              <div class="d-flex p-1 tab">
                <i class="bi bi-file-earmark mr-1" style="font-size: 15px"></i>
                <h6 style="font-size: 15px">Files</h6>
              </div>
            </div>
            <div routerLink="/settings/sharing" routerLinkActive="active" class="mt-1">
              <div class="d-flex p-1 tab">
                <i class="bi bi-share mr-1" style="font-size: 15px"></i>
                <h6 style="font-size: 15px">Sharing</h6>
              </div>
            </div>
            <div routerLink="/settings/preferences" routerLinkActive="active" class="mt-1">
              <div class="d-flex p-1 tab">
                <i class="bi bi-sliders2-vertical mr-1" style="font-size: 15px"></i>
                <h6 style="font-size: 15px">Preferences</h6>
              </div>
            </div>
            <div routerLink="/settings/mediaserver" routerLinkActive="active">
              <div class="d-flex p-1 tab" data-tab="account" id="btnLeft">
                <i class="bi bi-person mr-1" style="font-size: 15px"></i>
                <h6 class="text-center" style="font-size: 15px">Media Server</h6>
              </div>
            </div>
            <div routerLink="/settings/licenese" routerLinkActive="active" class="mt-1">
              <div class="d-flex p-1 tab">
                <i class="bi bi-credit-card mr-1" style="font-size: 15px"></i>
                <h6 style="font-size: 15px">License</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>