<div class="grid-view">
    @for (item of datasource; track $index) {
    <mat-card class="grid-card ">
        <div class="card-img">
            <img class="right img-fluid" src="./assets/images/half-stack-images/event-card.png" />
        </div>
        <div class="card-overlay">
            <div class="w-100 text-container">
                <p> In progress in 01:20:03</p>
            </div>
            <div class="w-100  d-flex align-items-center justify-content-end">
                <app-action-menu [dropdownItems]="dropdownItems(item)"></app-action-menu>
            </div>
        </div>
        <mat-card-content class="card-body ">
            <div class="w-100 d-flex align-items-center justify-content-between m-b-8">
                <div class="info-badge">
                    {{item.type | capitalizeFirst}}
                </div>
                <div>
                    <button mat-button color="primary" class="m-r-8" (click)="viewDetial(item)">Details</button>
                    <button mat-raised-button color="accent" (click)="onClickPreview(item.id)">Preview</button>
                </div>
            </div>
            <span class=" f-s-16 f-w-600 m-b-8 d-flex align-items-center text-ellipsis">
                <span class="text-truncate">{{item.title}}</span>
            </span>
            <div class="d-flex align-items-center m-b-8">
                <span class=" f-s-14 d-flex align-items-top">
                    <i-tabler name="trophy" class="icon-18 m-r-4 flex-shrink-0"></i-tabler> {{item.sport |
                    capitalizeFirst}}</span>
            </div>
            <div class="d-flex align-items-center m-b-8">
                <span class=" f-s-14 d-flex align-items-top">
                    <i-tabler name="clock-hour-5" class="icon-18 m-r-4 flex-shrink-0"></i-tabler>{{ item.dtEvent |
                    dateTimeFormat:item.time }}</span>
            </div>
            <div class="d-flex align-items-center">
                <span class="f-s-14 d-flex align-items-top text-ellipsis">
                    <i-tabler name="map-pin" class="icon-18 m-r-4 flex-shrink-0"></i-tabler>
                    <span class="text-truncate">
                        {{ item.venue.location }}, {{ item.venue.streetAddress }}, {{ item.venue.cityAddress }}
                    </span>
                </span>
            </div>

        </mat-card-content>
    </mat-card>
    }

</div>

<app-off-canvas #offCanvas>
    @if(IsOpenDetail){
    <app-upcoming-event-detail-presenter [eventId]="seletctedItem.id"
        [dropdownItems]="dropdownItems(seletctedItem)"></app-upcoming-event-detail-presenter>
    }
</app-off-canvas>