<div class="card">
    <div class="card-header">
        <h5>Virtual Host Configuration</h5>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-flat-dark" rippleEffect (click)=" modalOpenMd()">
                <span [data-feather]="'edit'" [class]="'mr-25'"></span> edit
            </button>
            <button (click)="modalOpenMd()" type="button" class="btn btn-flat-primary" rippleEffect> <span
                    [data-feather]="'plus'" [class]="'mr-25'"></span> Add More</button>
        </div>
    </div>
    <div class="container text-start">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 p-0">
            <div class="col custum-column">
                <div>
                    <h6>Virtual Hosts</h6>
                    <p>ABCDCD</p>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Hosts</h6>
                    <p>ABCDCD</p>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>TLS</h6>
                    <p>ABCDCD</p>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>CORS Settings</h6>
                    <p>ABCDCD</p>
                </div>
            </div>
        </div>
    </div>
</div>