<mat-toolbar class="custom-toolbar m-b-18">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button color="warn" class="m-l-8" aria-label="Example icon-button with heart icon">
        <i-tabler class="icon-20 m-r-4" name="trash"> </i-tabler>
    </button>
    <button mat-stroked-button class="m-l-8">
        <div class="d-flex align-items-center">
            <i-tabler class="icon-20 m-r-4" name="share"></i-tabler><span> Share</span>
        </div>
    </button>
    <button mat-raised-button color="accent" class="m-l-8">
        Upload to server
    </button>
</mat-toolbar>

<div class="row">
    <div class="col-12 col-md-9">
        <mat-card class="bordered-card">
            <mat-card-content>
                <app-hls-player></app-hls-player>
            </mat-card-content>
        </mat-card>
    </div>
</div>