@import "@core/scss/angular/libs/select.component.scss";

.editprofile-details {
    .card-header {
        border-block-end: 1px solid #E7E7E7 !important;
        padding: 16px;
    }

    .user-avatar {
        inline-size: 120px;
        block-size: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .media-body {
        margin-top: 10px;
    }
}

.link {
    color: #216093 !important;

}

.text-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



