<div class="container-fluid editprofile-details">
    <div class="card">
        <div class="card-header">
            <h3>Edit Profile</h3>
            <div>
                <button type="button" class="btn btn-outline-secondary mr-1" rippleEffect>Discard Changes</button>
                <button class="btn btn-warning">Edit</button>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12  offset-lg-3 offset-md-3 ">
                    <div class="media d-flex justify-content-center align-items-center text-align-center">
                        <img class="user-avatar users-avatar-shadow rounded-circle my-25 cursor-pointer"
                            [src]="avatarImage" alt="User avatar">
                        <div class="media-body ml-1 mt-175">
                            <button class="btn btn-custom mb-75 mr-75 btn-outline-secondary"
                                (click)="fileInput.click()">Change
                                Image</button>
                            <input type="file" #fileInput id="account-upload" hidden accept="image/*"
                                (change)="uploadImage($event)">
                            <button class="btn btn-flat-secondary mb-75 btn-custom">Remove</button>
                        </div>
                    </div>
                    <div class="profile-info mt-1">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label for="password">Password</label>
                            </div>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstNamer">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number</label>
                            <input type="text" class="form-control" id="phone-number">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <ng-select name="type">
                                <ng-option>Operator</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #modalVC let-modal>
   

</ng-template>