<div class="row p-16">
    <div class="col-12 d-flex align-items-center justify-content-between ">
        <h2 class="card-title m-b-0">Active Devices</h2>
        <button mat-raised-button color="accent" (click)="onAddDeviceToevent.emit()">
            Add device to event
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 p-16">
        <table style="min-width: max-content;">
            <thead>
                <tr style="text-transform: uppercase;">
                    <th>Name</th>
                    <th>Device ID</th>
                    <th>Device Type</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Network</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of datasource; track $index) {
                <tr [ngClass]="{'cursor-pointer': item?.direction == 1}" (click)="detail(item)">
                    <td>{{item?.name}} </td>
                    <td>{{item?.activeDeviceId}}</td>
                    <td>{{item?.deviceType}}</td>
                    <td>{{item?.status}}</td>
                    <td>{{item?.location}}</td>
                    <td>{{item?.network}}</td>
                    <td>
                        <button mat-icon-button color="warn" class="d-flex"
                            aria-label="Example icon button with a heart icon">
                            <i-tabler name="trash" class="icon-20"></i-tabler>
                        </button>
                    </td>

                </tr>
                }

            </tbody>
        </table>
    </div>
</div>