<div class="card-body">
  <div class="card-body">
    <h4 class="card-title">Event Streaming on</h4>
    <div id="donut-chart" #apexDonutChartRef>
      <apx-chart [series]="apexDonutChart.series" [chart]="{
              height: 350,
              width:
                isMenuToggled === false
                  ? apexDonutChartRef.offsetWidth
                  : apexDonutChart.chart.width,
              type: 'donut'
            }" [labels]="apexDonutChart.labels" [plotOptions]="apexDonutChart.plotOptions"
        [responsive]="apexDonutChart.responsive" [colors]="apexDonutChart.colors"
        [legend]="apexDonutChart.legend"></apx-chart>
    </div>
  </div>
</div>