<div class="card custom-card-border mb-2">
    <nav class="navbar pl-0 ">
        <div class="container-fluid pr-0 ">
            <a [routerLink]="'/event'"> <i class="feather " data-feather="arrow-left" [size]="24"></i></a>
            <div class="d-flex justify-content-between align-items-center">

                <button class="uploadbut btn-warning mr-1" type="submit">Upload to
                    server</button>
                <div ngbDropdown>
                    <button class="btn btn-sm btn-light menuitem-but float-right" id="menuDropdown" ngbDropdownToggle>
                        <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                    </button>
                    <div ngbDropdownMenu style="left: auto; right: 0;">
                        <button ngbDropdownItem class="pr-4"> <i class="feather " data-feather="share"></i>&nbsp;Share
                            Event </button>

                        <button ngbDropdownItem class="pr-4"> <i class="feather" data-feather="trash-2"></i>&nbsp;Delete
                            Event</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="card custom-card-border  video-ply">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h5 class="card-title mb-0">{{datasource.title}}</h5>
                        <div class="badge badge-past-event on-demand-event">
                            {{ datasource.type | eventTypeTransform }}
                        </div>
                    </div>
                    <div *ngIf="url">
                        <app-video-streaming [liveStreamVideoPath]="url"></app-video-streaming>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 co-12">
            <div class="card custom-card-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center">
                            <div *ngFor="let item of  datasource.connectionDetailsView ; let i=index">
                                <button *ngIf="item.direction===1" type="button" class="btn btn-outline-secondary mr-1"
                                    [ngClass]="{'active': activeIndex === i}" rippleEffect
                                    (click)="setStreamName(item.streamName, i)">View {{i+1}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-1 mt-1 info-card">
                        <div class="card-header">
                            <h5 class="card-title mb-0"> Event Details</h5>
                        </div>
                        <div class="card-body pl-1 ">
                            <p class="card-text  mt-1  margin-bottom">
                                <i class="bi bi-clock"></i>
                                {{datasource.dtEvent | customDateTimeFormat : datasource.time}}
                            </p>
                            <p class="card-text ">
                                <i class="bi bi-geo-alt-fill"></i>
                                {{datasource?.venue?.location}}
                            </p>
                        </div>
                    </div>

                    <div class="card mb-1 mt-1 info-card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Duration & Sharing</h5>
                        </div>
                        <div class="card-body pl-1 ">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="card-text margin-bottom mt-1">
                                    Video Duration
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="card-text margin-bottom">
                                    Shared with
                                </p>
                                <p class="card-text">
                                    +12 more
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="card mb-3 mt-1 info-card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Team Info</h5>
                        </div>
                        <div class="card-body pl-1 ">
                            <p class="card-text  mt-1  margin-bottom">
                                <i class="bi bi-trophy" width="13" hight="13"></i>
                                {{datasource?.sport}}
                            </p>
                            <p class="card-text  margin-bottom">
                                <i class="bi bi-person" width="13" hight="13"></i>
                                {{datasource?.program}}
                            </p>
                            <p class="card-text  margin-bottom ">
                                <i class="bi bi-geo-alt-fill"></i>
                                {{datasource?.level}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>