// @import '@core/scss/angular/libs/media-player.component.scss';

.video-ply {
  .card-title {
    font-weight: 400;
    font-size: 24px;
  }
}

.info-card {
  .card-header {
    font-weight: 400;
    border-bottom: 1px solid var(--secondary-border-color);
    padding: 8px 1rem;
  }

}

.btn-outline-secondary {
  background-color: transparent !important;

  &.active {
    border: 1px solid #216093 !important;
  }
}

.custom-card-border {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 6px;

}

.event-card {

  border-radius: 6px;
}

.custom-icon {
  color:
    rgba(33, 96, 147, 1);
}

.menuitem-but {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  background-color: transparent;
}

.uploadbut {
  background-color: #F5A30A !important;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: none;
}

::ng-deep.m-2 {
  margin: 1rem !important;
}

.margin-bottom {
  margin-bottom: 5px;
}

.dark-layout {
  .info-card {
    border: 1px solid #545454 !important;

    .card-header {
      border-bottom: 1px solid #545454 !important;
    }
  }

  a {
    color: #fff;

    & :hover {
      color: #fff;
    }
  }

}