<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <i class="bi bi-bell" style="font-size: 1.3rem; "></i>
        </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <img src="../../../assets/user.png" alt="" class="user-image mr-1 p-2">
        </button>
    </mat-toolbar-row>
</mat-toolbar>