.schedualevent-details {
    .inprogess {
        font-family: 'Outfit';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .card-title {
        font-family: 'Outfit';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
    }

    .sub-heading {
        font-family: 'Outfit';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .badge-info {
        color: var(--text, #0D0D0D);
        background-color: #E9F0F5;
        font-family: 'Outfit';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

    p {
        margin-bottom: 5px;
        font-family: 'Outfit';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

  

    .table th,
    .table td {
        padding: 3px 2rem;
        vertical-align: middle;
    }

    .col-box {
        border-bottom: 0.5px solid var(--light-secondary-border-color);
        padding-top: 7px;
        padding-bottom: 7px;

        p {
            margin-bottom: 0px;
        }
    }

    .sub-heading-box {
        border-bottom: 0.5px solid var(--light-secondary-border-color);
        padding-top: 9px;
        padding-bottom: 3px;

        h5 {
            margin-bottom: 0;
        }
    }

    .mBottom {
        margin-bottom: 5px;
    }

 
}