<div class="row schedualevent-details " style="padding-top: 7px;">
    <div class="col-12 ">
        <h6 class="inprogess" *ngIf="datasource?._countdown">{{datasource?._countdown}}</h6>
        <h6 class="inprogess" *ngIf="datasource?.ongoingCountdown">{{datasource?.ongoingCountdown}}</h6>
        <h5 class="card-title ">{{datasource?._title}}</h5>
        <div class="badge badge-info">{{datasource?._type| eventTypeTransform}}</div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading "> Event Details</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom">
                <i class="feather " data-feather="clock" width="13" hight="13"></i>&nbsp;&nbsp;
                <p>
                    {{dateTimeservice.formatDateTime(datasource?._dtEvent, datasource?._time)}}
                </p>
            </div>
            <div class=" d-flex align-items-center">
                <i class="feather " data-feather="map-pin" width="13" hight="13"></i>&nbsp;&nbsp;
                <p>
                    {{datasource?.venue?.location}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading"> Contact Details</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom">
                <span class="material-symbols-outlined " style="font-size: 16px;">
                    contact_page
                </span>&nbsp;&nbsp;Tom
            </div>
            <div class=" d-flex align-items-center  mBottom">
                <span class="material-symbols-outlined " style="font-size: 16px;">
                    call</span>&nbsp;&nbsp;82735482385
            </div>
            <div class=" d-flex align-items-center ">
                <span class="material-symbols-outlined " style="font-size: 16px;">mail</span>
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading">Team Info</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom">
                <span class="material-symbols-outlined" style="font-size: 16px;">
                    sports_soccer
                </span>&nbsp;&nbsp;
                <p>
                    Football
                </p>
            </div>
            <div class=" d-flex align-items-center mBottom">
                <span class="material-symbols-outlined" style="font-size: 18px;">
                    man</span>&nbsp;&nbsp;
                <p> Men’s</p>
            </div>
            <div class=" d-flex align-items-center mBottom">
                <span class="material-symbols-outlined " style="font-size: 16px;">Stairs</span>&nbsp;&nbsp;
                <p> Freshmen</p>
            </div>
            <div class=" d-flex align-items-center">
                <table class="table table-borderless pl-0 pr-0">
                    <tbody>
                        <tr>
                            <td class='pl-0'>
                                <span class="material-symbols-outlined " style="font-size: 16px;">
                                    Sports
                                </span> &nbsp;&nbsp;Henry Cavil

                            </td>
                            <td class='pl-0'><span class="material-symbols-outlined " style="font-size: 16px;">
                                    Sports
                                </span> &nbsp;&nbsp;Henry Cavil
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading">Roster</h5>
    </div>
    <div class="col-12  col-box" style="border: 0px;">
        <p class="mb-0">Own Roster</p>
        <table class="table table-borderless pl-0 pr-0">
            <tbody>
                <tr>
                    <td style="text-align:start; padding-left: 0;">17</td>
                    <td>Smith, Dave</td>
                    <td style="text-align: end;">QB</td>
                </tr>
                <tr>
                    <td style="text-align:start;  padding-left: 0;">19</td>
                    <td>Namath, Joe</td>
                    <td style="text-align: end;">QB</td>
                </tr>
                <tr>
                    <td style="text-align:start;  padding-left: 0;">32</td>
                    <td>Snell, Matt</td>
                    <td style="text-align: end;">RB</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12  col-box ">
        <p>Opposition Roster</p>
        <table class="table table-borderless pl-0 pr-0">
            <tbody>
                <tr>

                    <td style="text-align:start; padding-left: 0;">88</td>
                    <td>Lambert, Jack</td>
                    <td style="text-align: end;">QB</td>
                </tr>
                <tr>

                    <td style="text-align:start; padding-left: 0;">55</td>
                    <td>Woodson, Rod</td>
                    <td style="text-align: end;">QB</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12  sub-heading-box">
        <h5 class="sub-heading">User & PIN</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom justify-content-between">
                <div><img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                        alt="datatable-avatar" />&nbsp;&nbsp;Harry
                </div>
                <p>090909</p>
            </div>
            <div class=" d-flex align-items-center mBottom justify-content-between">
                <div><img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                        alt="datatable-avatar" />&nbsp;&nbsp;Noah
                </div>
                <p>988090</p>
            </div>
        </div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading">Registered User</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom justify-content-between">
                <img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                    alt="datatable-avatar" /> Harry

            </div>
            <div class=" d-flex align-items-center mBottom justify-content-between">
                <img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                    alt="datatable-avatar" /> Dhilpreet
            </div>
        </div>
    </div>
    <div class="col-12 sub-heading-box ">
        <h5 class="sub-heading ">Streams</h5>
    </div>
    <div class="col-12 " style="border: none; padding-top: 7px;">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom justify-content-between">
                <p>Streaming URL: abshbfgg</p>
                <p>Character: MCFPFT</p>
            </div>
        </div>
    </div>
</div>