<div class="form-title">
    <div class="row">
        <div class="col-6"> <h3>Payroll Employee</h3></div>
        <div class="col-5 text-end" (click)="privewPdf()" ><h3><i class="bi bi-filetype-pdf"></i>createPdf</h3></div>
        <div class="col-1"></div>

    </div> 
</div>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Employee Code</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.employeeCode.SelectedItem">
                        <!-- <option selected>Select employee code from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.employeeCode"
                            [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Payroll ID</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.payrollId.SelectedItem">
                        <!-- <option selected>Select payroll id from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.payrollId" [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.designation" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Bank</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.bank" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Bank Account Number</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.bankAccountNumber" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>PAN</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.pan" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>CTC</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.ctc" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Basic Rate</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.basicRate" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>HRA Rate</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.hraRate" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Conveyance Allowance</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.conveyanceAllowance" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Med Allowance</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.medAllowance" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>EPF Rate</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.epfRate" />
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancelBtn()"></app-form-footer>
    </div>
</div>