.dark-layout {
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .connection-header {
    .conection-status {
      background-color: $primary-color;
      border-radius: 0.428rem;
      small {
        color: $text-li-color;
      }
      h5 {
        color: $text-li-color;
        margin-bottom: 0;
        margin-right: 6px;
      }
    }
    .connection-header-body {
      // align-self: center;
      .event-details {
        .team-name {
          color: $text-li-color;
        }
        .match-date {
          color: $text-dr-color;
        }
        .location-name {
          color: $text-dr-color;
        }
      }
    }
    .event-data-serving-cards {
      .data-display-board {
        background-color: $card-cu-bg-color !important;
        border-radius: 10px;
        border: 1px solid transparent;
        .custom-earmark {
          color: $icon-li-color;
        }
        .text-label {
          color: $text-li-color;
        }
      }
    }
  }
}
.connection-header {
  .conection-status {
    background-color: rgba(233, 240, 245, 1);
    border-radius: 0.428rem;
  }
  .connection-header-body {
  }
  .event-data-serving-cards {
    .data-display-board {
      background-color: rgba(248, 248, 248, 1);
      border-radius: 10px;
      border: 1px solid transparent;
    }
  }
}
