.dark-layout {
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .connection-header {
    .connection-header-top {
      background-color: $primary-color !important;
    }
    .light-text {
      color: $text-li-color !important;
    }
    .dark-white-text {
      color: $text-dr-color !important;
    }
    .custome-bg {
      background-color: $card-cu-bg-color !important;
    }
    .custom-earmark {
      color: $text-li-color !important;
    }
  }
}
.connection-header {
  .connection-header-top {
    background-color: rgba(233, 240, 245, 1);
  }
  .custome-bg {
    background-color: rgba(248, 248, 248, 1);
  }
  // .light-text {
  //   color: $text-li-color;
  // }
  // .dark-light-text {
  //   color: $text-dr-color;
  // }
}
.dark-layout {
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .connection-list-grid-header {
    .grid-list-box {
      background-color: $card-cu-bg-color !important;
    }
    .custome-btn-outline-secondary {
      color: $text-li-color !important;
    }
    .badge-primary {
      color: $text-li-color;
      background-color: $icon-pr-color;
    }
    .badge-light-secondary {
      color: $text-li-color;
      background-color: $card-cu-bg-color;
    }
    .list-box {
      background-color: $card-cu-bg-color !important;
      color: #fdfdfd !important;
    }
    .grid-box {
      background-color: $card-cu-bg-color !important;
      color: #fdfdfd !important;
    }
  }
}
.connection-list-grid-header {
  .grid-list-box {
    background-color: rgba(240, 240, 240, 1);
  }
  .list-box {
    background-color: rgba(240, 240, 240, 1);
  }
  .grid-box {
    background-color: rgba(240, 240, 240, 1);
  }
}

.dark-layout {
  $card-info-bg-primary: rgba(34, 53, 69, 1);
  $card-info-bg-warning: rgba(66, 51, 22, 1);
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  $receiving-bg: #e9f0f5;
  $poor-bg: #ffdede;
  $good-bg: #eaf7ee;
  $paused-icon-color: #0d0d0d;
  $paused-bg: #f3f3f5;
  $stream-bg: #fffcf3;
  .connection-grid {
    .info-card-primary {
      background-color: $card-info-bg-primary !important;
    }
    .info-card-warning {
      background-color: $card-info-bg-warning !important;
    }
    .bi-three-dots-vertical {
      color: $text-li-color;
    }
  }
}
.connection-grid {
  .info-card-primary {
    background-color: rgba(233, 241, 244, 1);
  }
  .info-card-warning {
    background-color: rgba(233, 241, 244, 1);
  }
}

.dark-layout {
  $card-info-bg-primary: rgba(34, 53, 69, 1);
  $card-info-bg-warning: rgba(66, 51, 22, 1);
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .connection-device-detail {
    .table th,
    .table td {
      color: $text-li-color !important;
    }

    .light-text {
      color: $text-li-color;
    }
    .dark-white-text {
      color: $text-dr-color;
    }
    .back-button {
      background-color: rgba(35, 35, 35, 1);
      .feather {
        color: $text-li-color;
      }
    }
    .btn.btn-icon {
      padding: 0.515rem 0.536rem;
    }
    .streaming-card-bg-color {
      background-color: $card-info-bg-warning;
    }
  }
}
.connection-device-detail {
  .back-button {
    background: rgba(255, 255, 255, 1);
  }
  .btn.btn-icon {
    padding: 0.515rem 0.536rem;
  }
  .streaming-card-bg-color {
    background-color: rgba(255, 252, 243, 1);
  }
}

.dark-layout {
  $card-info-bg-primary: rgba(34, 53, 69, 1);
  $card-info-bg-warning: rgba(66, 51, 22, 1);
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .connection-list {
    .table th,
    .table td {
      color: $text-li-color !important;
    }
    .text-secondary {
      color: $text-li-color !important;
    }
    // th {
    //   span {
    //     background-color: $card-cu-bg-color;
    //     padding: 0.5em;
    //     border-radius: 8px;
    //   }
    // }
  }
}
// .mc-dropdown__panel.mc-dropdown__panel_nested {
//   background-color: black;
// }
// .mc-dropdown-item:not([disabled]) {
//   color: white;
// }
