<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Registered user">
        <div class=" mat-body-1 p-16 rounded m-t-12">
            coming soon
        </div>
    </mat-tab>
    <mat-tab label="Blocked user">
        <div class=" mat-body-1 p-16 rounded m-t-12">
            coming soon
        </div>
    </mat-tab>
    <mat-tab label="Device">
        <div class="mat-body-1 p-16 rounded m-t-12">
          
        </div>
    </mat-tab>
</mat-tab-group> -->

<app-device-presenter></app-device-presenter>