<div class="card" style="border: 1px solid #c3c3c3">
    <div class="card-header" style="background-color: rgba(143, 171, 7, 1);color:white">
        On demand Event
    </div>
    <div class="card-body custom-card">
      <div class="row">
        <div class="col-2 mt-1">
          <h6 style="align-items: center; text-align: center">SAT</h6>
          <h3 style="align-items: center; text-align: center">15</h3>
        </div>
        <div class="col-7 mt-1">
          <h6 class="team-name" >McQuaid vs Fairfort</h6>
          <div class="d-flex">
            <span class="game-name">Football</span>
          </div>
        </div>
        <div class="col-3 mt-1 d-flex justify-content-end">
          <div class="i-drop-down"  ngbDropdown>
            <i class="bi bi-three-dots-vertical" ngbDropdownToggle>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <a ngbDropdownItem href="javascript:void(0)"><i class="bi bi-eye-fill"></i> View Event</a>
                <a ngbDropdownItem href="javascript:void(0)"><i class="bi bi-pencil-square"></i> Edit Event</a>
                <a ngbDropdownItem href="javascript:void(0)"><i class="bi bi-upload"></i> Share Event</a>
                <a ngbDropdownItem href="javascript:void(0)"><i class="bi bi-trash"></i> Delete Event</a>
              </div>
            </i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1 d-flex justify-content-center align-items-center">
          <div class="i-clock-box">
            <i class="bi bi-clock"></i>
          </div>
        </div>
        <div class="col-10 mt-1">
          <h6 class="date-text" >Saturday,Sept 15th</h6>
          <div class="d-flex">
            <span class="time-text" >2:00 pm, Varsity</span>
          </div>
        </div>
        <div class="col-2 mt-1 d-flex justify-content-center align-items-center">
          <div
          class="i-geo-box">
          <i class="bi bi-file-earmark-fill"></i>
          </div>
        </div>
        <div class="col-10 mt-1">
          <h6 class="add-text" >TAR File</h6>
          <div class="d-flex">
            <span class="add-text-span">1.5 GB</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
