<div class="card">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 ">
                <div class="d-flex justify-content-start mt-1">

                    <div class="custom-control custom-control-secondary custom-checkbox ">
                        <input type="checkbox" class="custom-control-input" id="colorCheck2" checked />
                        <label class="custom-control-label" for="colorCheck2"></label>
                    </div>

                    <div class="badge badge-pill badge-secondary ml-1 ">Sport  <i class="bi bi-chevron-down"></i></div>
                    <div class="badge badge-pill badge-secondary ml-1">Level  <i class="bi bi-chevron-down"></i></div>
                    <div class="badge badge-pill badge-secondary ml-1">Program  <i class="bi bi-chevron-down"></i></div>
                    <div class="badge badge-pill badge-secondary ml-1">Year  <i class="bi bi-chevron-down"></i></div>
                    <div class="badge badge-pill badge-secondary ml-1">2 May 2022  <i class="bi bi-calendar2-date"></i></div>
                </div>
            </div>
            <div class="col-7">
                <div class="d-flex justify-content-end">
                    <div class="btn-group btn-group-toggle mr-1" data-toggle="buttons">
                        <label class="btn btn-icon btn-outline-secondary view-btn grid-view-btn">
                            <input type="radio" name="radio_options" id="radio_option1" />
                            <i data-feather="grid" class="font-medium-3"></i>
                        </label>
                        <label class="btn btn-icon btn-outline-secondary view-btn list-view-btn">
                            <input type="radio" name="radio_options" id="radio_option2" />
                            <i data-feather="list" class="font-medium-3"></i>
                        </label>
                    </div>
                    <button type="button" class="btn btn-secondary" rippleEffect><i class="bi bi-plus-circle"></i> Create Event</button>
                </div>
                
            </div>
        </div>

    </div>
</div>
<!-- [class.active]="gridViewRef === true"
(click)="gridView()"
[class.active]="gridViewRef !== true"
(click)="listView()" -->

