<div class="row" *ngIf="datasource" style="padding: 14px 24px 10px  24px">
  <div class="col-md-4 col-12">
    <label>&nbsp;</label>
    <div class="input-group input-group-merge">
      <div class="input-group-prepend">
        <span class="input-group-text"><i data-feather="search"></i></span>
      </div>
      <input type="text" class="form-control" id="searchbar" name="searchbar" placeholder="Search..." />
    </div>
  </div>
  <div class="col-md-2 col-6">
    <label>Sport</label>
    <div class="form-group">
      <ng-select [(ngModel)]="datasource.sports.SelectedItem" (clear)="onClear.emit()">
        <ng-option *ngFor="let item of datasource.sports" [value]="item">
          {{ item }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-md-2 col-6">
    <label>Level</label>
    <div class="form-group">
      <ng-select [(ngModel)]="datasource.levels.SelectedItem" (clear)="onClear.emit()">
        <ng-option *ngFor="let item of datasource.levels" [value]="item">
          {{item}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-md-2 col-6">
    <label>Program</label>
    <div class="form-group">
      <ng-select [(ngModel)]="datasource.programs.SelectedItem" (clear)="onClear.emit()">
        <ng-option *ngFor="let item of datasource.programs" [value]="item">
          {{item}}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-md-2 col-6">
    <label>Year</label>
    <div class="form-group">
      <ng-select [(ngModel)]="datasource.years.SelectedItem" (clear)="onClear.emit()">
        <ng-option *ngFor="let item of datasource.years" [value]="item">
          {{item}}
        </ng-option>

      </ng-select>
    </div>
  </div>
  <div class="col-12 d-flex align-items-center justify-content-end">
    <a *ngIf="isAnyItemSelected()" (click)="allClear.emit()" style="text-decoration: underline; color: #216093;">Clear
      Filter</a>
  </div>
</div>