@if (datasource) {
<mat-card class="bordered-card">
  <mat-card-content>
    <form #OnDemandForm="ngForm">
     <div class="row">     
      <div class="col-12 m-b-16">
        <h2>Event detail</h2>
      </div>
      
      <div class="col-12 m-b-16">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Event Name
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            name="EventName"
            [(ngModel)]="datasource.title"
            required
            #ngmEventName="ngModel"
            autocomplete="off"
          />
        </mat-form-field>
        <app-validation-alert controlName="Event Name" [control]="ngmEventName">
        </app-validation-alert>
      </div>
      <div class="col-12 col-md-6 m-b-16">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Event Thumbnail</mat-label
        >
        <div class="event-thumbnail-container">
          <div
            class="event-thumbnail m-r-8"
            [ngStyle]="{
              'background-color': thumbnailUrl ? 'transparent' : '#C3C3C3'
            }"
          >
            <img
              *ngIf="thumbnailUrl"
              [src]="thumbnailUrl"
              alt="Event Thumbnail"
              class="thumbnail-circle"
            />
          </div>
          <input
            type="file"
            id="uploadThumbnail"
            #uploadThumbnailRef
            (change)="onFileSelected($event)"
            hidden
          />
          <button
            mat-raised-button
            color="primary"
            (click)="uploadThumbnailRef.click()"
          >
            Upload Image
          </button>
        </div>
      </div>
      <div class="col-12 col-md-6 m-b-16">
        <mat-label class="f-w-600 d-block m-b-16"
          >Description(optional)
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Event Date</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            [matDatepicker]="birthpicker"
            name="dtEvent"
            [(ngModel)]="datasource.dtEvent"
            required
            #ngmDate="ngModel"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="birthpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #birthpicker></mat-datepicker>
        </mat-form-field>
        <app-validation-alert controlName="Date" [control]="ngmDate">
        </app-validation-alert>
      </div>

      <div class="col-md-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Time
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="time"
            [(ngModel)]="datasource.time"
            required
            #ngmTime="ngModel"
            matInput
            name="time"
            min="09:00"
            max="18:00"
            autocomplete="off"
          />
        </mat-form-field>
        <app-validation-alert controlName="Time" [control]="ngmTime">
        </app-validation-alert>
      </div>

      <div class="col-12 col-md-4">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Sport
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select
            placeholder="Select Sport"
            [(ngModel)]="datasource?.sports.SelectedItem"
          >
            @for (item of datasource?.sports; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Program
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select
            placeholder="Select Program"
            [(ngModel)]="datasource?.programs.SelectedItem"
          >
            @for (item of datasource?.programs; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Level
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select
            placeholder="Select Level"
            [(ngModel)]="datasource?.levels.SelectedItem"
          >
            @for (item of datasource?.levels; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 m-b-16">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Event location
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            [(ngModel)]="datasource.venue.location"
            #ngmEventLocation="ngModel"
            required
            name="location"
            matInput
            name="location"
            autocomplete="off"
          />
        </mat-form-field>
        <app-validation-alert controlName="Event Location" [control]="ngmEventLocation">
        </app-validation-alert>
      </div>
      <div class="col-md-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >Street Address (optional)
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            [(ngModel)]="datasource.venue.cityAddress"
            matInput
            name="streetAddress"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
          >City Address (optional)
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            [(ngModel)]="datasource.venue.streetAddress"
            matInput
            name="cityAddress"
            autocomplete="off"
          />
        </mat-form-field>
      </div>   
</div>
</form>
    <div class="text-right m-t-16"  >
      <button mat-button>Cancel</button>
      <button mat-flat-button color="primary m-l-8" (click)="save.emit()" [disabled]="!OnDemandForm.valid">
        save
      </button>
    </div>
  </mat-card-content>
</mat-card>
}
