<div class="form-title">
    <h3>Attendance</h3>
</div>
<div class="row">
    <div class="col-9"></div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Year</label>
                    <input class="form-control" [(ngModel)]="datasource.year" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Month</label>
                    <select class="form-control" [(ngModel)]="datasource.month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Employee Code</label>
                    <input class="form-control" [(ngModel)]="datasource.code" name="code" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Attendance Date</label>
                    <div class="input-group">
                        <input class="form-control" id="attendanceDate" maxlength="10" type="text" ngbDatepicker
                            placeholder="mm-dd-yyyy" #attendanceDate="ngbDatepicker"
                            [(ngModel)]="datasource.attendanceDate" name="attendanceDate" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="attendanceDate.toggle()"
                                type="button">
                                <i class="bi bi-calendar-range-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>In Time</label>
                    <input (ngModelChange)="onChange('in', $event)" class="form-control" [(ngModel)]="datasource.inTime" name="inTime" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Out Time</label>
                    <input  (ngModelChange)="onChange('out', $event)" class="form-control" [(ngModel)]="datasource.outTime" name="outTime" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Hours</label>
                    <input class="form-control" [(ngModel)]="datasource.hours" name="hours" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Minutes</label>
                    <input class="form-control" [(ngModel)]="datasource.minutes" name="minutes" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Working Day</label><br>
                    <label class="switch">
                        <input disabled type="checkbox" [(ngModel)]="datasource.workingDay" (change)="onToggle($event)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Weekly Off</label><br>
                    <label class="switch">
                        <input disabled type="checkbox" [(ngModel)]="datasource.weeklyOff" (change)="onToggle($event)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Holiday</label><br>
                    <label class="switch">
                        <input disabled type="checkbox" [(ngModel)]="datasource.holiday" (change)="onToggle($event)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancel.emit()"></app-form-footer>
    </div>
</div>






