<div class="card">
    <div class="card-header">
        <h5>Server Configuration</h5>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-flat-dark" rippleEffect (click)=" modalOpenMd()">
                <span [data-feather]="'edit'" [class]="'mr-25'"></span> Edit
            </button>
            <!-- <button (click)="modalOpenMd()" type="button" class="btn btn-flat-primary" rippleEffect> <span
                    [data-feather]="'plus'" [class]="'mr-25'"></span> Add</button> -->
        </div>
    </div>
    <div class="container text-start">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 h5-0">
            <div class="col custum-column">
                <div>
                    <h6>Host Name</h6>
                    <h5>drake.in</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Port</h6>
                    <h5>8081</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Username</h6>
                    <h5>Garry</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Password</h6>
                    <h5>.....</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Provider Port</h6>
                    <h5>1935</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Publisher Ports</h6>
                    <h5>Non TLS: 3333 </h5>
                </div>
            </div>
        </div>
    </div>
</div>