<!-- <div class="modal-header justify-content-end">
  <i
    class="bi bi-x-lg cursor-pointer"
    (click)="activeModal.dismiss('Cross click')"
  ></i>
</div> -->
<div class="relay-stream">
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <h2 class="modal-title" id="myModalLabel1">Relay Stream</h2>
    <h4 class="text-muted">McQuaid vs Fairport, Football</h4>

    <div class="card">
      <!-- <div class="card-body"> -->
      <div class="d-flex justify-content-between align-items-center">
        <i data-feather="youtube" [size]="30"></i>
        <button class="btn btn-sm btn-warning">Stream</button>
      </div>
      <!-- </div> -->
    </div>
    <div class="card">
      <!-- <div class="card-body"> -->
      <div class="d-flex justify-content-between align-items-center">
        <i data-feather="facebook" [size]="30"></i>
        <button class="btn btn-sm btn-warning">Stream</button>
      </div>
    </div>
    <!-- </div> -->
    <div class="card">
      <!-- <div class="card-body"> -->
      <div class="d-flex justify-content-between align-items-center">
        <i data-feather="twitch" [size]="30"></i>
        <button class="btn btn-sm btn-warning">Stream</button>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
