<div class="form-title">
    <h3>Payroll Calculated</h3>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Employee Code</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.employeeCode.SelectedItem">
                        <!-- <option selected>Select employee code from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.employeeCode" [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Payroll Month</label>
                     <ng-select  aria-label="Default select example" [(ngModel)]="datasource.payrollId.SelectedItem">
                        <!-- <option selected>Select payroll id from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.payrollId" [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Basic</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.basic" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>HRA</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.hra"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Actual Conveyance Allowance</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.actualConveyanceAllowance"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Actual Medical Allowance</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.actualMedicalAllowance"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Actual Special Allowance</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.actualSpecialAllowance"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>EPF</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.epf"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>TDS</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.tds"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Advances</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.advances"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Income</label>
                    <input type="number" class="form-control" [ngModel]="totalIncome" readonly/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Deducation</label>
                    <input type="number" class="form-control" [(ngModel)]="datasource.deduction"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Net Salary</label>
                    <input type="number" class="form-control" [ngModel]="_netSalary" readonly  />
                    
                    <!-- [(ngModel)]="datasource.netSalary" -->
                </div>
                
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancelBtn()"></app-form-footer>
    </div>
</div>