<div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h5 class="m-0 cursor-pointer">
        <i class="bi bi-x-lg" (click)="activeModel.close()">
        </i>
    </h5>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="warning-icon">
                <i class="bi bi-exclamation-lg"></i>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <h2 class="mt-1">Error Occurred</h2>
        </div>
        <div class="col-12 ">
            <div class="massage-box">
                {{ message }}
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center mt-1 mb-1">
            <button type="button" class="btn btn-outline-secondary" rippleEffect (click)="activeModel.dismiss()">
                <h6 class="m-0">Close</h6>
            </button>
        </div>
    </div>
</div>