.warning-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5A30A;
    width: 126px;
    height: 126px;
    gap: 0px;
    font-size: 48px;
    opacity: 0px;
    border-radius: 50%;
    background: #FEF6E7;
  
}

.massage-box {
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 14px;

}