.card {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
  
  .badge {
    padding: 5px 10px;
  }
  .cus-columns-gap {
    font-size: 19px;
    cursor: pointer;
  }
  .cus-columns-gap:hover {
    background-color: rgba(240, 240, 240, 1);
  }
  .cus-bi-list {
    font-size: 25px;
    cursor: pointer;
  }
  .cus-bi-list:hover {
    background-color: rgba(240, 240, 240, 1);
  }
  .table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
      background-color: #fff;
  }