<div class="card">
    <div class="d-flex">
      <div class="d-flex mr-auto">
        <button
          class="btn btn-light"
          style="border: 1px solid rgba(195, 195, 195, 1)"
        >
          McQuaid
          <img
            src="assets/images/pip-image/button_image_1.png"
            alt=""
            width="20px"
            height="20px"
          />
          vs
          <img
            src="assets/images/pip-image/button_image_2.png"
            alt=""
            width="20px"
            height="20px"
          />
          Fairport <i class="bi bi-chevron-right ml-1"></i>
        </button>
  
        <div class="badge badge-pill badge-secondary ml-1">All</div>
        <div class="ml-1">Subscriber</div>
        <div class="ml-1">Publisher</div>
      </div>
  
      <div></div>
      <div><i class="bi bi-columns-gap mr-1 cus-columns-gap"></i></div>
    </div>
    <div class="mt-2 p-0">
      <table class="table table-responsive">
        <thead style="background-color: #fff">
          <tr>
            <th scope="col" *ngFor="let item of header">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
