@import '@core/scss/angular/libs/toastr.component.scss';
@import "@core/scss/angular/libs/select.component.scss";

.toast-title {
  color: #000 !important;
}

label {
  color: #0F0F0F;
  font-size: 14px;
}

.dark-layout {
  .toast-title {
    color: #fdfdfd !important;
  }

  label {
    color: #fff;
  }
}

.url-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #F3F3F5;
}
// width: Fixed (476px)px;
// height: Hug (30px)px;
// padding: 6px 8px 6px 8px;
// gap: 0px;
// border-radius: 4px 0px 0px 0px;
// justify: space-between;
// opacity: 0px;

.btn-flat-primary:hover:not(.disabled):not(:disabled) {
  background-color: transparent !important;
}

.btn-flat-primary:active,
.btn-flat-primary.active,
.btn-flat-primary:focus {
  background-color: transparent !important;
}