<div class="modal-header justify-content-end">
    <i class="bi bi-x-lg cursor-pointer" (click)="activeModal.dismiss('Cross click')"></i>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <h2 class="modal-title" id="myModalLabel1">Add device to event </h2>
    <div class="url-box">
        {{constructRtmpUrl()}}
        <button type="button" class="btn btn-flat-primary" (click)="copyUrl(rtmpUrl)">
            <span [ngClass]="urlCopied ? 'icon-check' : 'icon-copy'" class="ficon feather mr-25"></span>
            {{ urlCopied ? 'Copied' : 'Copy' }}
        </button>
    </div>

    <form #AddStreamkeyForm="ngForm">
        <div class="form-group">
            <label>Application</label>
            <ng-select name="appname" [(ngModel)]="datasource.appNamesCollection.SelectedItem" 
                #ngmappname="ngModel">
                <ng-option *ngFor="let item of datasource.appNamesCollection" [value]="item">{{ item }}</ng-option>
            </ng-select>
            <!-- <app-validation-alert controlName="Application Name" [control]="ngmappname">
            </app-validation-alert> -->
        </div>
        <div class="form-group">
            <label>Device</label>
            <ng-select name="dname" [(ngModel)]="datasource.deviceName.SelectedItem" required #ngmdeviceName="ngModel"
                (ngModelChange)="updateStreamName()">
                <ng-option *ngFor="let item of datasource.deviceName" [value]="item">{{ item.value }}</ng-option>
            </ng-select>
            <app-validation-alert controlName="Device Name" [control]="ngmdeviceName">
            </app-validation-alert>
        </div>
        <div class="form-group">
            <label>PIN</label>
            <input type="text" class="form-control" pattern="[0-9]*" minlength="6" maxlength="6" required name="pin"
                [(ngModel)]="datasource.pin" #ngmPIN="ngModel" />
            <app-validation-alert controlName="PIN" [patternmassage]="'Only numerical value is allowed e.g.. 010101'"
                [control]="ngmPIN">
            </app-validation-alert>
        </div>

        <div class="form-group">
            <label>Location</label>
            <ng-select name="location" [(ngModel)]="datasource.location.SelectedItem" required #ngmlocation="ngModel">
                <ng-option *ngFor="let item of datasource.location" [value]="item">{{ item }}</ng-option>
                <ng-template ng-footer-tmp class="p-2">
                    <button (click)="datasource.location.AddingNewItem(location)"
                        class="addTypeBtn btn btn-sm btn-success" rippleEffect>
                        + Add New Location
                    </button>
                    <inline-form-modal #location modalTitle="New location"></inline-form-modal>
                </ng-template>
            </ng-select>
            <app-validation-alert controlName="Location" [control]="ngmlocation">
            </app-validation-alert>
        </div>
        <div class="form-group">
            <label>User</label>
            <ng-select name="dname" [(ngModel)]="datasource.userName.SelectedItem" required #ngmUser="ngModel"
                (ngModelChange)="updateStreamName()">
                <ng-option *ngFor="let item of datasource.userName" [value]="item">{{ item.value }}</ng-option>
            </ng-select>
            <app-validation-alert controlName="User Name" [control]="ngmUser">
            </app-validation-alert>
        </div>
        <div class="form-group">
            <label>Stream Name</label>
            <div class="highlighted-box">
                {{updateStreamName()}}
            </div>
        </div>
        <div class="form-group">
            <label>Stream Id</label>
            <input type="text" class="form-control" name="streamId" [value]="datasource.streamId" readonly />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" [disabled]="!AddStreamkeyForm.valid" class="btn btn-warning" (click)="save.emit()"
        rippleEffect>
        Add
    </button>
</div>