<div class="modal-header justify-content-end">
    <i class="bi bi-x-lg cursor-pointer" (click)="activeModal.dismiss('Cross click')"></i>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <h2 class="modal-title mb-2" id="myModalLabel1">Add Device</h2>
    <form #AddStreamkeyForm="ngForm">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" name="userName" required #ngmUser="ngModel"
                [(ngModel)]="streamingKey" />
            <app-validation-alert controlName="User Name" [control]="ngmUser">
            </app-validation-alert>
        </div>

        <div class="form-group">
            <label>Device Name </label>
            <input type="text" class="form-control" name="dname" required [(ngModel)]="deviceName"
                #ngmdeviceName="ngModel" />
            <app-validation-alert controlName="Device Name" [control]="ngmdeviceName">
            </app-validation-alert>
        </div>

        <div class="form-group">
            <label>PIN</label>
            <input type="text" class="form-control" required name="pin" [(ngModel)]="streamingKey" #ngmPIN="ngModel" />
            <app-validation-alert controlName="PIN" [control]="ngmPIN">
            </app-validation-alert>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" required name="location" [(ngModel)]="streamingKey"
                #ngmlocation="ngModel" />
            <app-validation-alert controlName="Location" [control]="ngmlocation">
            </app-validation-alert>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" [disabled]="!AddStreamkeyForm.valid" class="btn btn-warning" (click)="onsave()" rippleEffect>
        Add
    </button>
</div>