@import '@core/scss/angular/libs/toastr.component.scss';
.toast-title {
    color: #000 !important;
  }

  label{
    color: #0F0F0F;
  }

  .dark-layout{
    .toast-title {
        color: #fdfdfd !important;
      }
      label{
        color: #fff;
      }
  }