
@import'../grid-view.scss';
.text-container {
    padding-left: 10px;
    background-color: #F3F3F5;

    p {
        margin: 0;
    }
}

.badge-text {
    width: fit-content;
    background-color: #E9F0F5;
    padding: 2px 7px;
    border-radius: 6px;
}

.mat-mdc-raised-button {
    padding: 4px 8px;
    height: fit-content !important;
}
