.user-class {
    .nav-tabs {
        border-bottom: 1px solid var(--secondary-border-color);
        padding-left: 24px;
        border-radius: 0;
        margin-bottom: 0;
    }

    .tab-content {
        margin-top: 0px;
        padding: 0 2rem;
    }
}