<div class="form-title">
    <h3>Payroll</h3>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Month</label>
                    <!-- <input type="number" class="form-control" [(ngModel)]="datasource.month" name="month" placeholder="e.g. 10" /> -->
                    <select class="form-control" [(ngModel)]="datasource.month" name="month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Year</label>
                    <input class="form-control" [(ngModel)]="datasource.year" name="year" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Processed Date</label>
                    <div class="input-group">
                        <input class="form-control" id="processedDate" maxlength="10" type="text" ngbDatepicker
                            placeholder="mm-dd-yyyy" #processedDate="ngbDatepicker"
                            [(ngModel)]="datasource.processedDate" name="processedDate" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="processedDate.toggle()"
                                type="button">
                                <i class="bi bi-calendar-range-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancelBtn()"></app-form-footer>
    </div>
</div>