<div class="form-group mt-1">
  <ng-select #selectMultiLimited [items]="selectMulti" [multiple]="true" [(ngModel)]="selectedPeople"
    placeholder="Select people">
    <ng-template ng-label-tmp> </ng-template>
    <ng-template ng-header-tmp let-index="index">
      <div class="row d-flex pl-2 pt-1">
        <div class="mr-2 image-container">
          <div class="rounded-icon p-0 " >
            <i class="feather " data-feather="users" [size]="20"></i>
          </div>

        </div>
        <div class="text-container">
          <span class="ng-value-label">Coaches Home</span>
          <p>{{ 1 + selectMulti.length + " " + "People" }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <div class="row d-flex pl-1">
        <div class="mr-1 image-container">
          <img src="../../../../../../../../assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar"
            class="rounded-image" />
        </div>
        <div class="text-container">
          <span class="ng-value-label">{{ item.name }}</span>
          <p>{{ item.email }}</p>
        </div>
      </div>
    </ng-template>
  </ng-select>
  <div *ngIf="selectedPeople.length !== 0">
    <h4 class="mt-2">Added</h4>

    <div class="added mb-2">
      <ul>
        <li>
          <div class="row d-flex">
            <div class="col-12 d-flex justify-content-between item-container">
              <div class="d-flex">
                <div class="image-container mr-1">
                  <div class="rounded-icon" >
                    <i class="feather " data-feather="users" [size]="20"></i>
                  </div>
                </div>
                <div class="text-container" >
                  <span class="ng-value-label">Coaches Home</span>
                  <p>{{ 1 + selectMulti.length + " " + "People" }}</p>
                </div>
              </div>

              <div class="p-1 cursor-pointer">
                <span class="ng-value-icon" (click)="removeALLItem()" aria-hidden="true"><i class="bi bi-x"></i></span>
              </div>
            </div>
          </div>
        </li>
        <li *ngFor="let item of selectedPeople">
          <div class="row">
            <div class="col-12 d-flex justify-content-between item-container">
              <div class="d-flex">
                <div class="mr-1 image-container">
                  <img src="../../../../../../../../assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar"
                    class="rounded-image" />
                </div>
                <div class="text-container">
                  <span>{{ item.name }}</span>
                  <p>{{ item.email }}</p>
                </div>
              </div>
              <div class="p-1 cursor-pointer">
                <span class="ng-value-icon" (click)="removeItem(item)" aria-hidden="true"><i class="bi bi-x"></i></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button type="button" class="btn btn-gradient-warning">Share</button>
  </div>
</div>