<div class="row mt-1">
    <div class="col-12">
        <div class="card ">
            <div class="card-body p-1 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center ">
                    <div class="mr-1">
                        <i class="feather " data-feather="twitter" [size]="30"></i>
                    </div>
                    <div>
                        <h4>Twitter</h4>
                    </div>
                </div>
                <button type="button" class="btn btn-gradient-warning">Share</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card ">
            <div class="card-body p-1 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center ">
                    <div class="mr-1">
                        <i class="feather " data-feather="instagram" [size]="30"></i>
                    </div>
                    <div>
                        <h4>Instagram</h4>
                    </div>
                </div>
                <button type="button" class="btn btn-gradient-warning">Share</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card ">
            <div class="card-body p-1 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center ">
                    <div class="mr-1">
                        <i class="feather " data-feather="facebook" [size]="30"></i>
                    </div>
                    <div>
                        <h4>Facebook</h4>
                    </div>
                </div>
                <button type="button" class="btn btn-gradient-warning">Share</button>
            </div>
        </div>
    </div>
</div>