<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h5>Virtual host configuration</h5>
            <button mat-button>
                <div class="d-flex align-items-center">
                    <i-tabler name="edit" class="icon-18"></i-tabler><span>&nbsp; Edit</span>
                </div>
            </button>
        </div>
    </div>
    <div class="container text-start">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 h5-0">
            <div class="col custum-column">
                <div>
                    <h6>Name</h6>
                    <h5>adadad</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Host</h6>
                    <h5>drake.in</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Control server</h6>
                    <h5>http://drake.in:1437/control-server</h5>
                </div>
            </div>
        </div>
    </div>
</div>