<div class="row on-demandevent-details" style="padding-top: 7px;" *ngIf="datasource?.type !='scheduled'">
    <div class="col-12 ">
        <h6 class="inprogess" *ngIf="datasource?._countdown">{{datasource?._countdown}}</h6>
        <h6 class="inprogess" *ngIf="datasource?.ongoingCountdown">{{datasource?.ongoingCountdown}}</h6>

        <h5 class="card-title ">{{datasource?._title}}</h5>
        <div class="badge on-demand-event">{{datasource?._type| eventTypeTransform}}</div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading "> Event Details</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom">
                <i class="feather " data-feather="clock" width="13" hight="13"></i>&nbsp;&nbsp;
                <p>
                    {{dateTimeservice.formatDateTime(datasource?._dtEvent, datasource?._time)}}
                </p>
            </div>
            <div class=" d-flex align-items-top">
                <i class="feather flex-shrink-0 " data-feather="map-pin" width="13" hight="13"></i>&nbsp;&nbsp;
                <p class="m-0">
                    {{datasource?.venue?.location}}, {{datasource?.venue?.streetAddress}},
                    {{datasource?.venue?.cityAddress}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 sub-heading-box">
        <h5 class="sub-heading ">Team Info</h5>
    </div>
    <div class="col-12 col-box ">
        <div class="d-flex flex-column">
            <div class=" d-flex align-items-center mBottom">
                <i class="bi bi-trophy" width="13" hight="13"></i>&nbsp;&nbsp;
                <p>
                    {{datasource?.sport}}
                </p>
            </div>
            <div class=" d-flex align-items-center mBottom">
                <i class="bi bi-person" width="13" hight="13"></i>
                &nbsp;&nbsp;
                <p>
                    {{datasource?.program}}
                </p>
            </div>
            <div class=" d-flex align-items-center">
                <i class="feather " data-feather="bar-chart" width="13" hight="13"></i>&nbsp;&nbsp;
                <p>
                    {{datasource?.level}}
                </p>
            </div>
        </div>
    </div>
</div>