<div class="row log-filters">
  <div class="col-md-6 col-lg-2 col-12">
    <label>&nbsp;</label>
    <div class="input-group input-group-merge">
      <div class="input-group-prepend">
        <span class="input-group-text"><i data-feather="search"></i></span>
      </div>
      <input
        type="search"
        placeholder="Search"
        class="form-control"
        (keyup)="searchText($event.target.value)"
        (input)="onInputChange($event)"
      />
    </div>
  </div>
  <div class="col-md-6 col-lg-2 col-12">
    <label>Category</label>
    <div class="form-group">
      <ng-select>
        <ng-option *ngFor="let item of categories" [value]="item">{{
          item
        }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-md-6 col-lg-2 col-12">
    <label>User</label>
    <div class="form-group">
      <ng-select>
        <ng-option
          *ngFor="let item of users"
          [value]="item"
          class="d-flex align-items-center"
        >
          <div class="avatar avatar-sm">
            <span class="avatar-content">
              <img
                src="assets/images/portrait/small/avatar-s-20.jpg"
                alt="avatar"
              />
            </span>
          </div>
          {{ item }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-12">
    <label>Date Range - From</label>
    <div class="input-group">
      <input
        class="form-control"
        maxlength="10"
        type="text"
        ngbDatepicker
        placeholder="MM-DD-YYYY"
        name="fromDate"
        #fromDate="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary feather icon-calendar"
          (click)="fromDate.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 col-12">
    <label for="">Date Range - To</label>
    <div class="input-group">
      <input
        class="form-control"
        maxlength="10"
        type="text"
        ngbDatepicker
        placeholder="MM-DD-YYYY"
        name="toDate"
        #toDate="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary feather icon-calendar"
          (click)="toDate.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </div>
</div>
