<div class="row">
    <div class="col-md-3 col-12">
        <label>&nbsp;</label>
        <div class="input-group input-group-merge">
            <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="search"></i></span>
            </div>
            <input type="text" class="form-control" id="searchbar" name="searchbar" placeholder="Search..." />
        </div>
    </div>
    <div class="col-md-3 col-6">
        <label>Category</label>
        <div class="form-group">
            <ng-select>
                <ng-option>
                    item
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <label>User</label>
        <div class="form-group">
            <ng-select>
                <ng-option>
                    item
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <label>Date Range</label>
        <div class="form-group">
            <ng-select>
                <ng-option>
                    item
                </ng-option>
            </ng-select>
        </div>
    </div>

      
</div>