<div class="row p-1 media-server">
    <div class="col-12 m-b-8">
        <h2>Media Server</h2>
    </div>
    <div class="col-12 m-b-16">
        <app-server-configuration></app-server-configuration>
    </div>
    <div class="col-12 m-b-18 ">
        <div class="custum-col ">
            <div class="main-line"></div>
            <app-virtual-host class="w-100"></app-virtual-host>
        </div>
    </div>
    <div class="col-12 m-b-16">
        <div class="custum-col ">
            <div class="main-line"></div>
            <app-application-presenter class="w-100"></app-application-presenter>
        </div>

    </div>
    <div class="col-12 m-b-8">
        <app-module-configuration></app-module-configuration>
    </div>
    <div class="col-12 m-b-8">
        <app-port-binding-config></app-port-binding-config>
    </div>
</div>