.card {
    border: 1px solid var(--border-color-dynamic) !important;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: none;
    margin: 0;
    cursor: pointer;

    .card-header {
        padding: 0.2rem 1rem;
        margin-bottom: 0;
        background-color: #F3F4F5;
        border-bottom: 1px solid var(--border-color-dynamic);
    }

}

.container {
    margin-left: 3px;
    margin-right: 3px;
}

.custum-column {
    padding-top: 8px;
    padding-bottom: 8px;

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 12px;
    }
}



.custum-col {
    display: flex;
    align-items: start;
    width: 100%;
}

.main-line {
    position: relative;
    height: 50px;
    width: 30px;
    border-end-start-radius: 10px;
    margin-right: 14px;
    border-left: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}

.main-line::after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -6px;
    border: 6px solid transparent;
    border-left-color: #C3C3C3;

}

.dark-theme {
    .card {
        border: 1px solid #474747;
    }

    .card-header {
        border-bottom: none;
        background-color: #2E2E2E;
    }

    .main-line {
        border-left: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .main-line::after {
        border-left-color: #474747;
    }
}