<!-- <div class="card">
    <div class="register-user" >
      <h6>Smith Shem</h6>
      <h3>Subscriber</h3>
    </div>
  </div> -->


  <div class="col-12 grid">
    <div class="card" >
        <div class="card-body">
            <div class="m-t-10">
            <h2 >Smith Shem</h2>
        </div>
            <div class=" d-flex align-items-center justify-content-start">
                <div>
                    <p class="fs-4">Subscriber</p></div>     
            </div>
        </div>
    </div>
</div>