<div class="previous-event-connection">
  <div class="d-flex p-1 justify-content-between">
    <h4 class="light-text">Previous Events Connection</h4>
    <div>
      <button
        class="btn btn-sm btn-outline-info"
        (click)="startEvent.emit(true)"
      >
        Check On Going Event
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="no-wrap-cell headerTopBoarder">
          <th scope="col">
            <div class="d-flex">
              <div>Name of event</div>

              <i
                class="bi bi-arrow-down ml-1"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i
              ><i
                class="bi bi-arrow-up"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex" (click)="sortDate()">
              <div>Date</div>

              <i
                class="bi bi-arrow-down ml-1"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i
              ><i
                class="bi bi-arrow-up"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <div>Total connection</div>

              <i
                class="bi bi-arrow-down ml-1"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i
              ><i
                class="bi bi-arrow-up"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <div>Duration</div>

              <i
                class="bi bi-arrow-down ml-1"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i
              ><i
                class="bi bi-arrow-up"
                [ngClass]="{ 'icon-rotate': !sortAscending }"
              ></i>
            </div>
          </th>
          <th>Most connected device</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="no-wrap-cell"
          *ngFor="let item of previousEventsConnection; let i = index"
        >
          <td>{{ item["Name of event"] }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item["Total connection"] }}</td>
          <td>{{ item["Duration"] }}</td>
          <td>
            <div class="d-flex">
              <div
                *ngFor="
                  let items of item['Most connected device'];
                  let ind = index
                "
              >
                <div
                  [ngClass]="{
                    pub: items.device === 'pub',
                    sub: items.device === 'sub'
                  }"
                  [style.margin-left]="items.device === 'pub' ? '0.1em' : ''"
                  style="
                    width: 150px;
                    padding: 0.2em;
                    border-radius: 4px;
                    text-transform: capitalize;
                    display: flex;
                  "
                >
                  <img
                    src="../../../../../assets/images/avatars/{{
                      ind + 1 + i
                    }}-small.png"
                    alt=""
                    width="25px"
                    height="25px"
                    class="rounded-circle"
                  />
                  <div class="d-flex pl-1 pr-1">
                    <div>
                      {{ items.device }}
                    </div>
                    <div class="ml-1">
                      {{ items.time }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- [style.background-color]="
items.device === 'pub'
  ? 'rgba(254, 246, 231, 1)'
  : 'rgba(233, 240, 245, 1)'
" -->
<!-- ngx-datatables responsive -->
<!-- <div class="card">
    <div class="card-body">
        <div class="card-title">
            <h5>Previous Events Connection</h5>
          </div>
          <ngx-datatable
            #table
            class="bootstrap core-bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="40"
            [rowHeight]="58"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10"
            [rows]="rows"
            [scrollbarH]="true"
          >
            <ngx-datatable-column
              name="Name of event"
              prop="Team Name"
              [width]="250"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Date"
              prop="Connection Date"
              [width]="50"
            ></ngx-datatable-column>
            
            <ngx-datatable-column
              name="IP Address"
              prop="IP Address"
              [width]="50"
            ></ngx-datatable-column> -->
<!-- <ngx-datatable-column
              name="Total connection"
              prop="Total connection"
              [width]="50"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Duration"
              prop="Duration"
              [width]="50"
            ></ngx-datatable-column> -->
<!-- <ngx-datatable-column name="Most connected device" prop="Most connected device" [width]="280">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div
                    class="badge badge-pill mr-1"
                    [ngClass]="{
                      'badge-light-primary': row.type == 'PUB',
                      'badge-light-warning': row.type == 'SUB'
                    }"
                  >
                    <div class="d-flex align-items-center">
                      <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img
                          class="rounded-circle mr-1"
                          src="assets/images/portrait/small/{{ row.avatar }}"
                          height="20"
                          width="20"
                          alt="datatable-avatar"
                        />
                      </div>
                      <ng-template #customAvatar>
                        <div
                          class="avatar mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-primary': row.status == '1',
                            'bg-light-success': row.status == '2',
                            'bg-light-danger': row.status == '3',
                            'bg-light-warning': row.status == '4',
                            'bg-light-info': row.status == '5'
                          }"
                        >
                          <div class="avatar-content">{{ name | initials }}</div>
                        </div>
                      </ng-template>
                      <div class="cell-line-height">
                        <div class="d-flex">
                          <p class="font-medium-1 line-height-1 mb-0 mr-1"style="color: #000000">
                            {{ row.type }}
                          </p>
                          <span class="text-muted font-small-2"> {{ row.time }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="badge badge-pill"
                    [ngClass]="{
                      'badge-light-primary': row.type == 'PUB',
                      'badge-light-warning': row.type == 'SUB'
                    }"
                  >
                    <div class="d-flex align-items-center ml-1">
                      <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img
                          class="rounded-circle mr-1"
                          src="assets/images/portrait/small/{{ row.avatar1 }}"
                          height="20"
                          width="20"
                          alt="datatable-avatar"
                        />
                      </div>
                      <ng-template #customAvatar>
                        <div
                          class="avatar mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-primary': row.status == '1',
                            'bg-light-success': row.status == '2',
                            'bg-light-danger': row.status == '3',
                            'bg-light-warning': row.status == '4',
                            'bg-light-info': row.status == '5'
                          }"
                        >
                          <div class="avatar-content">{{ name | initials }}</div>
                        </div>
                      </ng-template>
                      <div class="cell-line-height">
                        <div class="d-flex">
                          <p class="font-medium-1 line-height-1 mb-0 mr-1" style="color: #000000">
                            {{ row.type }}
                          </p>
                          <span class="text-muted font-small-2"> {{ row.time }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column> -->
<!-- </ngx-datatable>
    </div>

</div> -->

<!--/ ngx-datatables responsive -->
