<div class=" row ml-2  mr-2">
    <div class="col-12">
        <app-event-connection-detail *ngIf="connectiondetail"
            (closeDetail)="closeDetail()"></app-event-connection-detail>
    </div>

    <div class="col-9 pl-0">
        <ul class="nav nav-pills card-header-pills m-0">
            <li class="nav-item">
                <button *ngIf="!connectiondetail" class="btn btn-light btn-sm"
                    style="border: 1px solid rgba(195, 195, 195, 1)" (click)="ConnectionDetails(true)">
                    McQuaid
                    <img src="assets/images/pip-image/button_image_1.png" alt="" width="20px" height="20px" />
                    vs
                    <img src="assets/images/pip-image/button_image_2.png" alt="" width="20px" height="20px" />
                    Fairport <i class="bi bi-chevron-right ml-1"></i>
                </button>
            </li>
            <li class="nav-item">
                <a class=" m-1">
                    <div class="badge badge-pill badge-secondary p-1"
                        style="background-color: rgba(33, 96, 147, 1)">
                        All
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Subscriber</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Publisher</a>
            </li>
        </ul>

    </div>
    <div class="col-md-3 ">
        <div class="form-group">
            <div class="float-right">
                <button type="button" class="btn  grid-list mr-1" (click)="listView()"> <i
                        class="feather increased-stroke" data-feather="list" [size]="20"></i></button>
                <button type="button" class="btn grid-list" (click)="gridView()"><i
                        class="feather increased-stroke" data-feather="grid" [size]="20"></i></button>
            </div>

        </div>
    </div>
</div>
