<div class="modal-header notifications">
    <h5 class="modal-title" id="myModalLabel160">&nbsp;</h5>
    <h3 class="mb-0 cursor-pointer" (click)="activeModal.dismiss('Cross click')">
        <i class="bi bi-x-lg"></i>
    </h3>
</div>
<div class="modal-body">
    <h2 class="mb-1">Server Configuration</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Host Name</label>
                <input type="text" class="form-control" name="hname" autocomplete="off" value="drake.in"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Port</label>
                <input type="text" class="form-control" name="pName" autocomplete="off" value="8081" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="uName" autocomplete="off" value="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="pName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Provider Port</label>
                <input type="text" class="form-control" name="providerName" value="1935" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Publisher Port: Non TLS</label>
                <input type="text" class="form-control" name="Publisher" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Publisher Port: TLS</label>
                <input type="text" class="form-control" name="TLSName" autocomplete="off" />
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-warning"
    rippleEffect>Save</button>
</div>