<div class="card event-connection-detail ">
    <div class="d-flex connection-detail-header">
        <div class="mr-auto "> <h6
            class="p-1"
           >
            Event Happening: 02:40:00
          </h6></div>
        <div class="p-2" (click)="ConnectiondetailClose()"><i class="bi bi-chevron-down  cus-bi-chevron-down p-1 rounded"></i></div>
        
      </div>


  <div class="card-body">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
        <h3>McQuaid vs Fairport, Football</h3>
        <div class="d-flex">
          <div class="d-flex mr-1">
            <i class="bi bi-clock mr-1"></i>
            <p>Saturday, Sept 15th, 2:00 pm, Varsity</p>
          </div>
          <div class="d-flex">
            <i class="bi bi-geo-alt-fill mr-1"></i>
            <p>Fairport High School, 33 Union Street, Fairport</p>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 phone-connection">
        <div class="media">
          <img
            src="assets/images/pip-image/iphone2.png"
            class="rounded mr-1"
            height="40"
            alt="team"
          />
          <div class="media-body">
            <h6 class="align-self-center mb-0">iPhone2</h6>
            <div class="d-flex">
              <i class="bi bi-arrow-down-left cus-bi-arrow-down-left"></i>
              <p class="align-self-center mb-0">Receiving</p>
            </div>
            <p class="align-self-center mb-0">Connection Duration:01:00:45</p>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 camcorder-connection">
        <div class="media">
          <img
            src="assets/images/pip-image/camcorder.png"
            class="rounded mr-1"
            height="40"
            alt="team"
          />
          <div class="media-body">
            <h6 class="align-self-center mb-0">Camcorder</h6>
            <div class="d-flex">
              <i class="bi bi-arrow-up-right cus-bi-arrow-up-right"></i>
              <p class="align-self-center mb-0">Sending</p>
            </div>
            <p class="align-self-center mb-0">Connection Duration:01:00:45</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1 last-active-device" >
        <h6>Least Active Devices</h6>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-phone"></i>
            <p>iPhone2</p>
          </div>
          <p>Didn’t send anything yet</p>
        </div>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-phone"></i>
            <p>android16</p>
          </div>
          <p>Stopped receiving after 30 min</p>
        </div>
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1 most-active-device">
        <h6>Most Active Devices</h6>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-tablet"></i>
            <p>iPad009</p>
          </div>
          <p>Sent: 250 video clips</p>
        </div>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-phone"></i>
            <p>iPhone89</p>
          </div>
          <p>Receiving for continuous 1 hour</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1 connection-long-duration" >
        <h6>Connected for a long duration</h6>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-phone"></i>
            <p>iPhone2</p>
          </div>
          <p>2.5 hr</p>
        </div>
        <div class="d-flex">
          <div class="d-flex mr-auto">
            <i class="bi bi-phone"></i>
            <p>android909</p>
          </div>
          <p>2 hr</p>
        </div>
      </div>
    </div>
  </div>
</div>
