.cust-card {
  border: 1px solid rgba(195, 195, 195, 1);
}
.close {
  padding: 0.2rem 0.62rem;
  box-shadow: none !important;
  border-radius: 0.357rem;
  background: #fff;
  opacity: 1;
  transition: all 0.23s ease 0.1s;
  position: relative;
  transform: none !important;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}
@media (min-width: 1441px) {
  .custom-col {
    flex: 0 0 calc(25% - 16px); /* 4 columns with some spacing between */
    max-width: calc(25% - 16px); 
  }
}