<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <label class="d-flex align-items-center mb-0">
      <select
        class="form-control form-control-sm"
        [(ngModel)]="pageSize"
        (change)="updatePageSize($event)"
      >
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </label>
    <div class="custom-button">
      <div
        class="d-flex justify-content-between align-items-center pagination-btn"
      >
        <button
          type="button"
          class="mr-1 btn btn-icon btn-secondary"
          (click)="emitPreviousPage()"
          [disabled]="startIndex === 0"
        >
          <i class="bi bi-chevron-left"></i>
        </button>
        <h6 class="btn-text mr-1 mb-0">{{ currentPage }}</h6>
        <button
          type="button"
          class="btn btn-icon btn-secondary"
          (click)="emitNextPage()"
          [disabled]="endIndex >= totalItems?.length"
        >
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!--  -->
