/* You can add global styles to this file, and also import other style files */
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import "~bootstrap/dist/css/bootstrap.min.css";

// @import '~@swimlane/ngx-datatable/index.css';
// // @import '~@swimlane/ngx-datatable/themes/material.scss';
// @import '~@swimlane/ngx-datatable/assets/icons.css';
// @import '~@swimlane/ngx-datatable/index.css';
// @import '~@swimlane/ngx-datatable/themes/material.css';
// @import '~@swimlane/ngx-datatable/themes/dark.css';
// @import '~@swimlane/ngx-datatable/themes/bootstrap.css';
// @import '~@swimlane/ngx-datatable/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
// @import "~@ng-select/ng-select/themes/ant.design.theme.css";
// ... or 
// @import "~@ng-select/ng-select/themes/material.theme.css";
// @import '~bootstrap/scss/bootstrap';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "DM Sans"!important;
}

.card {
    margin: 1rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.098), 0 6px 20px 0 rgba(0, 0, 0, 0.098);

    .card-body {
        padding: 2rem;
    }
}

label {
    margin-bottom: 2px;
}


.float-right {
    text-align: right;
}

.btn-primary {
    background-color: #303b9a !important;
    border: #303b9a !important;
    border-radius: 4px;

    &:hover {
        background-color: #424fc1;
        border: #424fc1;

    }
}

.btn-outline-danger {
    margin-left: 0.5rem;
    border-radius: 4px;
}

.form-title {
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-left: 1.2rem;
    }
}

.ent-title {
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-left: 1.2rem;
        text-transform: capitalize;
    }
}

.form-add-btn {
    text-align: right;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    box-shadow: none;
}

.ng-value-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding-right: 0px;
}

.ng-value {
    margin-right: 5px;
    margin-bottom: 10px;
    // font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
/* Importing Bootstrap SCSS file. */


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "@fontsource/dm-sans";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
