.main-container {
    padding: 0;
  }
  
  .header-card {
    background-color: #eaf2f9;
  }
  
  .event-title {
    font-weight: bold;
  }
  
  .event-info {
    color: #555;
  }
  
  .data-card {
    margin-top: 1rem;
  }
  .data-card-device{
    margin-top: 1.6rem;
  }
  
  .light-text {
    color: #777;
  }
  .mat-icon-size{ 
   font-size: 20px;
  }
