<div class="modal-header notifications">
    <h5 class="modal-title" id="myModalLabel160">&nbsp;</h5>
    <h3 class="mb-0 cursor-pointer" (click)="activeModal.dismiss('Cross click')">
        <i class="bi bi-x-lg"></i>
    </h3>
</div>
<div class="modal-body">
    <h2 class="mb-1">Application Configuration</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Application Name</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Host Name</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Bitrate</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Codec</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Providers</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Publishers</label>
                <input type="text" class="form-control" name="deviceName" autocomplete="off" />
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Save</button>
</div>