<div class="modal-dialog sidebar-lg ">
    <div class="modal-content p-0 on-going-event-details ">
        <div class="modal-header p-0">
            <img src="../../../../../../../../assets/images/pip-image/Event-card.png"
                style="width: 100%; height:150px;">
            <div class="card-img-overlay cursor-pointer">
                <svg (click)="closeSidebar(currentEvent?._status + '-scheduled')" xmlns="http://www.w3.org/2000/svg"
                    width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <rect x="0.346191" width="24" height="24" rx="5" fill="#F2F2F2" />
                    <path d="M16.3462 8L8.34619 16" stroke="black" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M8.34619 8L16.3462 16" stroke="black" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="modal-body mt-0">
            <div class="row" style="padding-top: 7px;">
                <div class="col-12 ">
                    <h6 class="inprogess">In Progress in 01:20:03 </h6>
                    <h5 class="card-title ">McQuaid vs Fairport, Football</h5>
                    <div class="badge badge-info">Scheduled event</div>
                </div>
                <div class="col-12 sub-heading-box">
                    <h5 class="sub-heading "> Event Details</h5>
                </div>
                <div class="col-12 col-box ">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom">
                            <i class="feather " data-feather="clock" width="13" hight="13"></i>&nbsp;&nbsp;
                            <p>
                                Saturday, Sept 15th, 2:00 pm, Varsity
                            </p>
                        </div>
                        <div class=" d-flex align-items-center">
                            <i class="feather " data-feather="map-pin" width="13" hight="13"></i>&nbsp;&nbsp;
                            <p>
                                Fairport High School, 33 Union Street, Fairport
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 sub-heading-box">
                    <h5 class="sub-heading"> Contact Details</h5>
                </div>
                <div class="col-12 col-box ">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom">
                            <span class="material-symbols-outlined " style="font-size: 16px;">
                                contact_page
                            </span>&nbsp;&nbsp;Tom
                        </div>
                        <div class=" d-flex align-items-center  mBottom">
                            <span class="material-symbols-outlined " style="font-size: 16px;">
                                call</span>&nbsp;&nbsp;82735482385
                        </div>
                        <div class=" d-flex align-items-center ">
                            <span class="material-symbols-outlined " style="font-size: 16px;">mail</span>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-12 sub-heading-box">
                    <h5 class="sub-heading">Team Info</h5>
                </div>
                <div class="col-12 col-box ">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom">
                            <span class="material-symbols-outlined" style="font-size: 16px;">
                                sports_soccer
                            </span>&nbsp;&nbsp;
                            <p>
                                Football
                            </p>
                        </div>
                        <div class=" d-flex align-items-center mBottom">
                            <span class="material-symbols-outlined" style="font-size: 18px;">
                                man</span>&nbsp;&nbsp;
                            <p> Men’s</p>
                        </div>
                        <div class=" d-flex align-items-center mBottom">
                            <span class="material-symbols-outlined " style="font-size: 16px;">Stairs</span>&nbsp;&nbsp;
                            <p> Freshmen</p>
                        </div>
                        <div class=" d-flex align-items-center">
                            <table class="table table-borderless pl-0 pr-0">
                                <tbody>
                                    <tr>
                                        <td class='pl-0'>
                                            <span class="material-symbols-outlined " style="font-size: 16px;">
                                                Sports
                                            </span> &nbsp;&nbsp;Henry Cavil

                                        </td>
                                        <td class='pl-0'><span class="material-symbols-outlined "
                                                style="font-size: 16px;">
                                                Sports
                                            </span> &nbsp;&nbsp;Henry Cavil
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-12 sub-heading-box">
                    <h5 class="sub-heading">Roster</h5>
                </div>
                <div class="col-12  col-box" style="border: 0px;">
                    <p class="mb-0">Own Roster</p>
                    <table class="table table-borderless pl-0 pr-0">
                        <tbody>
                            <tr>
                                <td style="text-align:start; padding-left: 0;">17</td>
                                <td>Smith, Dave</td>
                                <td style="text-align: end;">QB</td>
                            </tr>
                            <tr>
                                <td style="text-align:start;  padding-left: 0;">19</td>
                                <td>Namath, Joe</td>
                                <td style="text-align: end;">QB</td>
                            </tr>
                            <tr>
                                <td style="text-align:start;  padding-left: 0;">32</td>
                                <td>Snell, Matt</td>
                                <td style="text-align: end;">RB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12  col-box ">
                    <p>Opposition Roster</p>
                    <table class="table table-borderless pl-0 pr-0">
                        <tbody>
                            <tr>

                                <td style="text-align:start; padding-left: 0;">88</td>
                                <td>Lambert, Jack</td>
                                <td style="text-align: end;">QB</td>
                            </tr>
                            <tr>

                                <td style="text-align:start; padding-left: 0;">55</td>
                                <td>Woodson, Rod</td>
                                <td style="text-align: end;">QB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12  sub-heading-box">
                    <h5 class="sub-heading">User & PIN</h5>
                </div>
                <div class="col-12 col-box ">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom justify-content-between">
                            <div><img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18"
                                    width="18" alt="datatable-avatar" />&nbsp;&nbsp;Harry
                            </div>
                            <p>090909</p>
                        </div>
                        <div class=" d-flex align-items-center mBottom justify-content-between">
                            <div><img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18"
                                    width="18" alt="datatable-avatar" />&nbsp;&nbsp;Noah
                            </div>
                            <p>988090</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 sub-heading-box">
                    <h5 class="sub-heading">Registered User</h5>
                </div>
                <div class="col-12 col-box ">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom justify-content-between">
                            <img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                                alt="datatable-avatar" /> Harry

                        </div>
                        <div class=" d-flex align-items-center mBottom justify-content-between">
                            <img class="rounded-circle mr-1" src="assets/images/avatars/10.png" height="18" width="18"
                                alt="datatable-avatar" /> Dhilpreet
                        </div>
                    </div>
                </div>
                <div class="col-12 sub-heading-box ">
                    <h5 class="sub-heading ">Streams</h5>
                </div>
                <div class="col-12 " style="border: none; padding-top: 7px;">
                    <div class="d-flex flex-column">
                        <div class=" d-flex align-items-center mBottom justify-content-between">
                            <p>Streaming URL: abshbfgg</p>
                            <p>Character: MCFPFT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer fixed-footer">
            <button type="button" class="btn btn-warning" rippleEffect>join</button>
            <div class="d-flex justify-content-end align-items-center pagination-btn ml-auto" style="margin-top: 7px;">
                <button type="button" class="mr-1 btn btn-icon btn-secondary">
                    <i class="bi bi-chevron-left"></i></button>
                <button type="button" class="btn btn-icon btn-secondary">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>