.on-going-event-details {
    .inprogess {
        font-family: 'Outfit';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .card-title {
        font-family: 'Outfit';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
    }

    .sub-heading {
        font-family: 'Outfit';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .badge-info {
        color: var(--text, #0D0D0D);
        background-color: #E9F0F5;
        font-family: 'Outfit';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

    p {
        margin-bottom: 5px;
        font-family: 'Outfit';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .fixed-footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
        z-index: 999;
    }

    .table th,
    .table td {
        padding: 3px 2rem;
        vertical-align: middle;
    }

    .col-box {
        border-bottom: 0.5px solid var(--light-secondary-border-color);
        padding-top: 7px;
        padding-bottom: 7px;

        p {
            margin-bottom: 0px;
        }
    }

    .sub-heading-box {
        border-bottom: 0.5px solid var(--light-secondary-border-color);
        padding-top: 9px;
        padding-bottom: 3px;

        h5 {
            margin-bottom: 0;
        }
    }

    .mBottom {
        margin-bottom: 5px;
    }

    .pagination-btn {
        .btn.btn-icon {
            padding: 0.3rem 0.3rem !important;
        }

        .btn.disabled,
        .btn:disabled {
            background: #EDEDED !important;
            border: none;
        }

        .btn-secondary.disabled,
        .btn-secondary:disabled {
            i {
                color: #C3C3C3 !important;
                opacity: 1;
            }
        }

        .btn:not(:disabled):not(.disabled) {
            background: #EDEDED !important;
            border: none;
        }

        .btn-secondary {
            i {
                color: #0D0D0D !important;
                opacity: 1;
            }
        }
    }

    .btn-warning {
        padding: 4px 3rem !important;
    }
}