.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

  .button {
    border-radius: 5px;
    border: 1px solid #253097;
    background: #FFF;
    color: #253097;
}