<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h3>Module configuration</h3>

            <button mat-button>
                <div class="d-flex align-items-center">
                    <i-tabler name="edit" class="icon-18"></i-tabler> <span> Edit</span>
                </div>
            </button>
        </div>
    </div>
    <div class="container text-start">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 h5-0">
            <div class="col custum-column">
                <div>
                    <h6>HTTP</h6>
                    <h5>76463283490</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Low latency HLS</h6>
                    <h5>Capture</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Peer to peer</h6>
                    <h5>ab0987</h5>
                </div>
            </div>
           
        </div>
    </div>
</div>