<h1 class=" p-0 m-l-20">Select Players</h1>
<mat-dialog-content class="m-0 mat-typography">

    <div class="col-12  d-flex align-items-center m-b-16 " style="border-bottom: 1px solid #DBDBDB80;">
        <div class="col-md-6">
            <mat-checkbox color="primary" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
                Select All</mat-checkbox>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="">
                <mat-icon matSuffix>
                    <i-tabler name="search" class="icon-20"></i-tabler>
                </mat-icon>
                <input matInput placeholder="Search" />
            </mat-form-field>
        </div>
    </div>
    @for (item of datasource.playerList; track $index) {
    <div class=" col-12 m-b-16 d-flex align-items-center justify-content-between ">
        <div class="col-md-6">
            <mat-checkbox [(ngModel)]="item.isSelected" color="primary">
                <div class="d-flex align-items-center">
                    <div class="image-container">
                        @if(item.picture){
                        <img [src]='item.picture' class="image-fit" width="150" />
                        }
                        @if(!item.picture){
                        <div class="initials">
                            <h2 class="m-0">{{ item.playerName.charAt(0) }}</h2>
                        </div>
                        }

                    </div>&nbsp;&nbsp;
                    {{item?.playerName}}
                </div>
            </mat-checkbox>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <span>{{item?.position}}</span>
        </div>
    </div>
    }
</mat-dialog-content>
<mat-dialog-actions class="d-flex align-items-center justify-content-end">
    <button mat-stroked-button (click)="cancel.emit()">Cancel</button>
    <button mat-raised-button color="primary" (click)="done.emit()">Done</button>
</mat-dialog-actions>