<div class="card p-0 m-0">
  <div class="card-body m-0 p-0">
    <div class="table-responsive">
      <table class="table mt-1">
        <thead>
          <tr>
            <th >Name of file</th>
            <th >Type of file</th>
            <th >Storage</th>
            <th >Shared with</th>
            <th>Shared on</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="vertical-align: top">VS Football Practice</th>
            <td style="vertical-align: top">ZIP</td>
            <td style="vertical-align: top">210 mb</td>
            <td style="vertical-align: top">
              <div class="avatar-group">
                  <div
                    data-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-placement="bottom"
                    data-original-title="Billy Hopkins"
                    class="avatar pull-up"
                  >
                    <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="33" height="33" />
                  </div>
                  <div
                    data-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-placement="bottom"
                    data-original-title="Amy Carson"
                    class="avatar pull-up"
                  >
                    <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" width="33" height="33" />
                  </div>
                  <div
                    data-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-placement="bottom"
                    data-original-title="Brandon Miles"
                    class="avatar pull-up"
                  >
                    <img src="assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" width="33" height="33" />
                  </div>
                  <div
                    data-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-placement="bottom"
                    data-original-title="Daisy Weber"
                    class="avatar pull-up"
                  >
                    <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="33" height="33" />
                  </div>
                  <div
                    data-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-placement="bottom"
                    data-original-title="Jenny Looper"
                    class="avatar pull-up"
                  >
                    <img src="assets/images/portrait/small/avatar-s-20.jpg" alt="Avatar" width="33" height="33" />
                  </div>
                </div>
            </td>
            <td style="vertical-align: top">19 May 2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
</div>
