@import"../../../../../../../@core/scss/custom-tab.scss";

.tab-list {

  border-bottom:none  !important;}

.custom-pill {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    border-radius: 8rem;
  }
  
  .close:hover {
    opacity: 1;
    outline: none;
    transform: none !important;
    box-shadow: none;
  }
  .close {
    padding: 0.2rem 0.62rem;
    box-shadow: none !important;
    border-radius: 0.357rem !important;
    background: none !important;
    opacity: 1;
    transition: none !important;
    /* position: relative; */
    transform: none !important;
  }

  .grid-list-btn {
    padding: 5px;
    border-radius: 10px;
  }