<div class="modal-header">
  <h3 class="modal-title" id="exampleModalCenterTitle">
    Create Distribution List
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-2">
  <div class="row">
    <div class="col-12 mb-2 p-0">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="datasource.name" />
      </div>
    </div>
    <div class="col-12 mb-2 p-0">
      <div class="form-group">
        <label>Add People</label>
        <input [(ngModel)]="emailInput" (keydown.enter)="addEmail()" (keydown.backspace)="removeLastTag()"
          class="form-control" placeholder="Add a tag..." />
      </div>
    </div>
    <div class="chip-container" *ngIf="datasource.emails.length > 0">
      <div class="chip" *ngFor="let email of datasource.emails">
        <span>{{email}}</span>
        <div class="remove-tag">
          <span class="closebtn" (click)="removeTag(email)">&times;</span>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-end">
      <button type="reset" (click)="activeModal.dismiss('Cross click')" rippleEffect
        class="btn btn-outline-secondary btn-sm mr-1">Cancel</button>
      <button type="submit" rippleEffect class="btn btn-warning btn-sm"
        (click)="save.emit();activeModal.dismiss('Cross click')">Save</button>
    </div>
  </div>

  <!-- <button  type="submit" class="btn btn-primary w-100">Pass back</button> -->
</div>