<div class="email-app-list">
    <!-- Email search starts -->
    <div class="app-fixed-search d-flex align-items-center">
      <div class="sidebar-toggle d-block d-lg-none ml-1">
        <button class="btn p-0" (click)="toggleSidebar('side-menu')"><i data-feather="menu" [size]="21"></i></button>
      </div>
      <div class="d-flex align-content-center justify-content-between w-100">
        <div class="input-group input-group-merge">
            HELLO BODY
          <!-- <div class="input-group-prepend">
            <span class="input-group-text"><i data-feather="search" class="text-muted"></i></span>
          </div> -->
          <!-- <input
            type="text"
            class="form-control"
            id="email-search"
            placeholder="Search email"
            aria-label="Search..."
            aria-describedby="email-search"
            (keyup)="queryUpdate($event)"
          /> -->
        </div>
      </div>
    </div>
    </div>
    
