.card-title-box {
    // margin: 0 1rem 1rem 0rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-warning {
        background-color: rgba(245, 163, 10, 1) !important;
    }
}

.activeDevice {
    .btn-danger {
        color: #DE2E21 !important;
        background-color: #DE2E211A !important;
        border: none;
    }

    .btn-danger.active ,.btn-danger:active ,.btn-danger:focus {
        background-color: #DE2E211A !important;
    }

}