<div class="card-header">
    <h4 class="card-title mb-0">Active Devices</h4>
    <button type="button" class="btn btn-warning mt-0" (click)="openAddDeviceModal()" rippleEffect>Add device to
        event</button>
</div>
<div class="card-body p-0 activeDevice">
    <div class="table-responsive">
        <table class="table" style="min-width: max-content;">
            <thead>
                <tr style="text-transform: uppercase;">
                    <th>Name</th>
                    <th>Device ID</th>
                    <th>Device Type</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Network</th>
                    <th>Ation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of datasource?.activeDevices;">
                    <!-- <td>
                        <app-menu-button [dropdownItems]="dropdownItems"></app-menu-button>
                    </td> -->
                    <td></td>
                    <td>{{item?.deviceId}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item?.location}}</td>
                    <td></td>
                    <td><button type="button" class="btn btn-icon btn-danger" rippleEffect>
                            <span [data-feather]="'inbox'"></span></button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>


<!-- <ng-template #modalForm let-modal>
    <app-add-device></app-add-device>
</ng-template> -->