<div class="card-title-box">
    <h5 class="card-title">Active Devices</h5>
</div>
<div class="table-responsive">
    <table class="table" style="min-width: max-content;">
        <thead>
            <tr>
                <th>Action</th>
                <th>User</th>
                <th>Location</th>
                <th>Device ID</th>
                <th>Device Type</th>
                <th>Network</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <app-menu-button [dropdownItems]="dropdownItems"></app-menu-button>
                </td>
                <td>Coach S.</td>
                <td>Press Box</td>
                <td>iPad15</td>
                <td>iPad</td>
                <td>Penfield-524</td>
            </tr>
        </tbody>
    </table>

</div>