@import "@core/scss/angular/libs/sweet-alerts.component.scss";
.connection-alert {
  .icon-box:before {
    content: none;
  }
  .icon-box {
    border: 3px solid rgba(222, 46, 33, 1);
    .icon-text {
      color: rgba(222, 46, 33, 1);
    }
  }
  .btn-danger {
    border-color: rgba(222, 46, 33, 1) !important;
    background-color: rgba(222, 46, 33, 1) !important;
  }
}
