<div class="modal-body connection-alert" tabindex="0" ngbAutofocus>
  <div style="display: flex; align-items: center; justify-content: center">
    <div
      class="d-flex"
      style="
        justify-content: center;
        align-items: center;
        border: 3px solid rgba(222, 46, 33, 1);
        width: 70px;
        height: 70px;
        border-radius: 50%;
      "
    >
      <strong style="font-size: 40px; color: rgba(222, 46, 33, 1)">!</strong>
    </div>
  </div>

  <div>
    <div style="margin-top: 15px; display: flex; justify-content: center">
      <span style="font-weight: 700">{{ title }}</span>
    </div>
    <div
      style="
        margin-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
      "
    >
      <span [innerHTML]="description"></span>
    </div>
  </div>
  <div style="margin-top: 30px; display: flex; justify-content: center">
    <button
      type="button"
      class="btn btn-sm btn-outline-dark"
      style="padding-left: 1.7em; padding-right: 1.7em"
      rippleEffect
      (click)="close()"
    >
      No
    </button>
    <button
      type="button"
      class="btn btn-sm btn-danger ml-1"
      rippleEffect
      (click)="close()"
    >
      Yes, Sure
    </button>
  </div>
</div>
