    <div class="card-body">
      <div
        class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start"
      >
        <div>
          <h4 class="card-title mb-25">Connection throughout the event</h4>
        </div>
      </div>
      <div id="line-chart" #apexLineChartRef>
        <apx-chart
          [series]="apexLineChart.series"
          [chart]="{
            height: 400,
            width:
              isMenuToggled === false
                ? apexLineChartRef.offsetWidth
                : apexLineChart.chart.width,
            type: 'area',
            zoom: {
              enabled: false
            },
            toolbar: {
              show: false
            }
          }"
          [xaxis]="apexLineChart.xaxis"
          [stroke]="apexLineChart.stroke"
          [tooltip]="apexLineChart.tooltip"
          [colors]="apexLineChart.colors"
          [dataLabels]="apexLineChart.dataLabels"
          [grid]="apexLineChart.grid"
        ></apx-chart>
      </div>
    </div>

