<div class="form-title">
    <h3>Holiday</h3>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.name" />
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Holiday</label>
                    <div class="input-group">
                        <input class="form-control" id="dateOfHoliday" maxlength="10" type="text" ngbDatepicker
                            placeholder="mm-dd-yyyy" #dateOfHoliday="ngbDatepicker"
                            [(ngModel)]="datasource.dateOfHoliday" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateOfHoliday.toggle()"
                                type="button">
                                <i class="bi bi-calendar-range-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                <label>Category</label>
                <!-- <ng-select aria-label="Default select example" [(ngModel)]="datasource.categories.SelectedItem">

                    <ng-option *ngFor="let item of datasource.categories" [value]="item">{{item}}</ng-option>
                </ng-select> -->
                <select class="form-select"  [(ngModel)]="datasource.categories.SelectedItem">
                    <option *ngFor="let item of datasource.categories" [value]="item">{{item}}</option>
                </select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>For Year</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.year" />
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancel.emit()"></app-form-footer>
    </div>
</div>

