<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <div class="modal-header p-0 bg-transparent ml-1 mt-1">
      <div
        style="
          background-color: #f3f3f5;
          border-radius: 5px;
          padding: 0px 2px 0px 2px;
          cursor: pointer;
        "
        (click)="closeLog()"
      >
        <i
          class="bi bi-x"
          style="font-size: 15px; margin-top: 0.2em; color: #0d0d0d"
        ></i>
      </div>
    </div>
    <div class="modal-body mt-1" *ngIf="datasource">
      <div *ngFor="let item of datasource">
        <small>{{ item.category }}</small>
        <h3>
          {{
            item.subject == "Create Event"
              ? "Create On-Demand Event"
              : item.subject
          }}
        </h3>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img
              src="../../../../../assets/images/avatars/1-small.png"
              class="rounded mr-1"
              height="25"
              alt=""
            />
            {{ item.user }}
          </div>
          <div>{{ item.timestamp }}</div>
        </div>

        <div>
          <h4 class="mt-1">Activity</h4>
          <div *ngFor="let log of item.details">
            <div class="d-flex mt-1">
              <small class="text-nowrap">{{ log.time }}</small>
              <small style="margin-left: 15px">{{ log.activity }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
