<h1 class=" p-0 m-l-20">Add device to event</h1>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Type
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select type">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Application
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select Application">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Device
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select Device">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">PIN
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput name="PIN"  required
                    autocomplete="off" />
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Location
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select Location    ">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">User
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select User">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Stream name
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select User">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 m-b-16">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Stream ID
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select User">
                    <mat-option>item</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>