
<div class="d-flex flex-column mt-1">
    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
        <li ngbNavItem>
            <a ngbNavLink>People</a>
            <ng-template ngbNavContent>
                <app-share-to-people></app-share-to-people>

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Social</a>
            <ng-template ngbNavContent>
                <app-share-to-social></app-share-to-social>
            </ng-template>
        </li>



    </ul>

    <div [ngbNavOutlet]="nav"></div>
</div>
