<div class="card-header">
    <h5>Streaming Information</h5> <a [routerLink]="'/connection/stream-info'">See Full Detail</a>
</div>
<div class="card-body">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 h5-0">
        <div class="col custum-column">
            <div>
                <h5>2500000</h5>
                <p>Bit Rate</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>30.0</h5>
                <p>Frame Rate</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>30</h5>
                <p>Key Frame Interval</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>48000</h5>
                <p>Sample Rate</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>200</h5>
                <p>Status Code</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>720</h5>
                <p>Height</p>
            </div>
        </div>
        <div class="col custum-column">
            <div>
                <h5>1280</h5>
                <p>Width</p>
            </div>
        </div>
    </div>
</div>