@for (item of pagedItems; track $index) {
<div class="row">
    <div class="col-12">
        <div class="card-img">
            <img class="left img-fluid" src="./assets/images/blog/blog-img1.jpg" />
            <img class="right img-fluid" src="./assets/images/backgrounds/blog-bg-2x.jpg" />
        </div>
        <div class="close-menu-btn">
            <button mat-icon-button aria-label="Clear" (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="m-l-auto">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>share</mat-icon>
                    <span>Share even</span>
                </button>
                <button mat-menu-item style="color: #de2e21;">
                    <mat-icon style="color: #de2e21;">delete</mat-icon>
                    <span>Delete event</span>
                </button>
            </mat-menu>
        </div>
        <h3 class="m-l-8 m-t-0 m-b-8">{{item.title}}</h3>
        <div class="badge-text m-l-8">
           {{item.type}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="item-heading">
            <h4>Event details</h4>
        </div>
        <div class="event-details">
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="clock" class="icon-18"></i-tabler>
                <p>  {{ item.dtEvent |
                    dateTimeFormat:item.time }}</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="map-pin" class="icon-18"></i-tabler>
                <p> {{item.venue.cityAddress}} {{item.venue.streetAddress}}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading">
            <h4>File type details</h4>
        </div>
        <div class="file-type-details">
            <div class="item">
                <p>TAR file</p>
                <p>2GB</p>
            </div>
            <div class="item">
                <p>Video clips</p>
                <p>200</p>
            </div>
            <div class="item">
                <p>Tagging data</p>
                <p>50</p>
            </div>
            <div class="item">
                <p>Shared with</p>
                <p>+12 more </p>
            </div>
        </div>

    </div>

</div>

}