<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      style="background-color: rgba(254, 0, 0, 0.1); color: rgba(254, 0, 0, 1)">
      ×
    </button>
    <div class="modal-header mb-1">
      <h5 class="modal-title" style="
          background-color: rgba(245, 163, 10, 0.1);
          padding: 0px 15px 0px 15px;
        ">
        Starts in 01:20:03
      </h5>
    </div>
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
      <div class="media">
        <img src="assets/images/pip-image/1.png" class="rounded mr-1" height="40" alt="team" />
        <div class="media-body">
          <h4 class="align-self-center mb-0">McQuaid vs Fairport, Football</h4>
          <p class="align-self-center mb-0">Scheduled Event</p>
        </div>
      </div>
      <div class="mt-2">
        <h5 class="card-title">Event Details</h5>
        <div class="d-flex p-0">
          <i class="bi bi-clock"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            Saturday, Sept 15th, 2:00 pm, Varsity
          </h6>
        </div>
        <div class="d-flex p-0">
          <i class="bi bi-geo-alt-fill"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            Fairport High School, 33 Union Street, Fairport
          </h6>
        </div>
      </div>
      <hr />
      <div>
        <h5 class="card-title">Contact Details</h5>
        <hr />
        <div class="d-flex p-0">
          <i class="bi bi-file-earmark-person-fill"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">Tom</h6>
        </div>
        <div class="d-flex p-0">
          <i class="bi bi-telephone"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            82735482385
          </h6>
        </div>
        <div class="d-flex p-0">
          <i class="bi bi-envelope-fill"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            tom@spip.com
          </h6>
        </div>
        <hr />
      </div>
      <div>
        <h5 class="card-title">Team Info</h5>
        <hr />
        <div class="d-flex p-0">
          <i class="bi bi-bullseye"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            Football
          </h6>
        </div>
        <div class="d-flex p-0">
          <i class="bi bi-person"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">Men’s</h6>
        </div>
        <div class="d-flex p-0">
          <i class="bi bi-bar-chart-steps"></i>
          <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
            Freshmen
          </h6>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="d-flex p-0">
              <i class="bi bi-record"></i>
              <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
                Henry Cavil
              </h6>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex p-0">
              <i class="bi bi-record"></i>
              <h6 class="ml-1" style="font-weight: 400; font-size: 12px">
                Tom Cruise
              </h6>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div>
        <h5 class="card-title">Roster</h5>
        <hr />
        <table class="table table-borderless">
          <h6>Own Roster</h6>
          <tbody>
            <tr>
              <td>17</td>
              <td>Smith, Dave</td>
              <td>QB</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Namath, Joe</td>
              <td>QB</td>
            </tr>
            <tr>
              <td>32</td>
              <td>Snell, Matt</td>
              <td>QB</td>
            </tr>
          </tbody>
          <h6 class="ml-1 text-nowrap">Opposition Roster</h6>
          <tbody>
            <tr>
              <td>55</td>
              <td>Lambert, Jack</td>
              <td>LB</td>
            </tr>
            <tr>
              <td>88</td>
              <td>Woodson, Rod</td>
              <td>CB</td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
      <div>
        <h5 class="card-title">User & PIN</h5>
        <hr />
        <div class="row">
          <div class="col-6">
            <div class="media">
              <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="33" height="33"
                class="rounded mr-1" />
              <div class="media-body">
                <p class="align-self-center mb-0">Harry</p>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex flex-column justify-content-end p-0 text-right">
            <p class="mb-0">090909</p>
          </div>

          <div class="col-6 mt-1">
            <div class="media">
              <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" width="33" height="33"
                class="rounded mr-1" />
              <div class="media-body">
                <p class="align-self-center mb-0">Noah</p>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex flex-column justify-content-end p-0 text-right">
            <p class="mb-0">0848909</p>
          </div>
        </div>
        <hr />
      </div>
      <div>
        <h5 class="card-title">Registered User</h5>
        <hr />
        <div class="media">
          <img src="assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" width="33" height="33"
            class="rounded mr-1" />
          <div class="media-body">
            <p class="align-self-center mb-0">Sam</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body collapse-icon">
      <div class="collapse-default">
        <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
          <ngb-panel id="panelBorderBottom1">
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <button type="button" class="btn btn-warning btn-block" style="
                        height: 24px;
                        width: 203px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      " (click)=" onStartClick()" rippleEffect>
                      Start
                    </button>
                  </div>
                </div>
                <div class="col-6"></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <h5 class="card-title">Streams</h5>
              <hr />
              <h6>Streaming URL: abshbfgg</h6>
              <h6>Character: MCFPFT</h6>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>