<div class="form-title">
    <h3>Leave</h3>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Employee Code</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.employeeCode.SelectedItem">
                        <!-- <option selected>Select employee code from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.employeeCode"
                            [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Payroll Month</label>
                    <ng-select aria-label="Default select example" [(ngModel)]="datasource.payrollId.SelectedItem">
                        <!-- <option selected>Select payroll id from the menu</option> -->
                        <ng-option *ngFor="let item of datasource.payrollId" [value]="item">{{item.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Paid Leave Taken</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.paidLeaveTaken"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Sick Leave Taken</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.sickLeaveTaken"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Paid Leave Balance</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.paidLeaveBalance"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Sick Leave Balance</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.sickLeaveBalance"/>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-12 mb-3">
                <div class="form-group">
                    <label>Privilege Leave</label>
                    <input type="text" class="form-control" [(ngModel)]="datasource.privilegeLeave"/>
                </div>
            </div>
        </div>
        <app-form-footer (save)="save.emit()" (close)="cancelBtn()"></app-form-footer>
    </div>
</div>