<form #OnDemandForm="ngForm">
  <div class="card on-demand-event-form">
    <div class="row m-2">
      <div class="col-12 mb-2">
        <h3>Event Detail</h3>
      </div>
      <div class="col-12 mb-2">
        <div class="form-group">
          <label>Event Name <span class="validationIcon">*</span></label>
          <input
            type="text"
            id="Event-Name"
            class="form-control"
            name="title"
            placeholder="Enter Event Name"
            [(ngModel)]="datasource.title"
            required
            #ngmEventName="ngModel"
          />
        </div>
        <app-validation-alert controlName="Event Name" [control]="ngmEventName">
        </app-validation-alert>
      </div>

      <div class="col-md-6 col-sm-12 mb-2">
        <label>Event Date<span class="validationIcon">*</span></label>
        <div class="input-group">
          <input
            class="form-control"
            maxlength="10"
            type="text"
            ngbDatepicker
            placeholder="mm-dd-yyyy"
            name="dtEvent"
            #dtEvent="ngbDatepicker"
            [(ngModel)]="datasource.dtEvent"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary feather icon-calendar"
              (click)="dtEvent.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-2">
        <div class="form-group">
          <label>Event Time<span class="validationIcon">*</span></label>
          <input
            type="time"
            class="form-control"
            name="time"
            [value]="_formatTime(datasource.time)"
            (input)="datasource.time = formatTime($event.target.value)"
            required
          />
        </div>
        <!-- <app-validation-alert controlName="Time" [control]="ngmTime">
        </app-validation-alert> -->
      </div>

      <div class="col-12 mb-2">
        <div class="form-group">
          <label>Event Location<span class="validationIcon">*</span></label>
          <input
            type="text"
            id="Event-Name"
            class="form-control"
            name="location"
            placeholder="Enter Event Location"
            [(ngModel)]="datasource.venue.location"
            required
            #ngmEventLocation="ngModel"
          />
        </div>
        <app-validation-alert
          controlName="Event Location"
          [control]="ngmEventLocation"
        >
        </app-validation-alert>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-group">
          <label>Street Address</label>
          <input
            type="text"
            id="Event-Name"
            class="form-control"
            name="streetAddress"
            placeholder="Enter Street Address"
            [(ngModel)]="datasource.detail.cityAddress"
          />
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-group">
          <label>City Address</label>
          <input
            type="text"
            id="Event-Name"
            class="form-control"
            name="location"
            placeholder="Enter City Address"
            [(ngModel)]="datasource.detail.streetAdress"
          />
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-group">
          <label>Sport<span class="validationIcon">*</span></label>
          <ng-select
            name="sports"
            [(ngModel)]="datasource.sports.SelectedItem"
            required
            #ngmSport="ngModel"
          >
            <ng-template ng-footer-tmp class="p-2">
              <button
                (click)="datasource.sports.AddingNewItem(newSports)"
                class="addTypeBtn btn btn-sm btn-success"
                rippleEffect
              >
                + Add New Sport
              </button>
              <inline-form-modal
                #newSports
                modalTitle="New Sport"
              ></inline-form-modal>
            </ng-template>
            <ng-option *ngFor="let item of datasource.sports" [value]="item">{{
              item
            }}</ng-option>
          </ng-select>
          <app-validation-alert controlName="Sport" [control]="ngmSport">
          </app-validation-alert>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-group">
          <label>Program<span class="validationIcon">*</span></label>
          <ng-select
            name="programs"
            [(ngModel)]="datasource.programs.SelectedItem"
            required
            #ngmPrograms="ngModel"
          >
            <ng-option
              *ngFor="let item of datasource.programs"
              [value]="item"
              >{{ item }}</ng-option
            >
            <ng-template ng-footer-tmp class="p-2">
              <button
                (click)="datasource.programs.AddingNewItem(program)"
                class="addTypeBtn btn btn-sm btn-success"
                rippleEffect
              >
                + Add New Program
              </button>
              <inline-form-modal
                #program
                modalTitle="New Program"
              ></inline-form-modal>
            </ng-template>
          </ng-select>
          <app-validation-alert controlName="Program" [control]="ngmPrograms">
          </app-validation-alert>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-group">
          <label>Level<span class="validationIcon">*</span></label>
          <ng-select
            name="levels"
            [(ngModel)]="datasource.levels.SelectedItem"
            required
            #ngmLevel="ngModel"
            ><ng-option *ngFor="let item of datasource.levels" [value]="item">{{
              item
            }}</ng-option>
            <ng-template ng-footer-tmp class="p-2">
              <button
                (click)="datasource.levels.AddingNewItem(level)"
                class="addTypeBtn btn btn-sm btn-success"
                rippleEffect
              >
                + Add New Level
              </button>
              <inline-form-modal
                #level
                modalTitle="New Level"
              ></inline-form-modal>
            </ng-template>
          </ng-select>
          <app-validation-alert controlName="Level" [control]="ngmLevel">
          </app-validation-alert>
        </div>
      </div>

      <div class="col-12 mb-2">
        <div class="form-group">
          <div class="float-right d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-outline-secondary mr-1"
              rippleEffect
              (click)="modalOpenSM('modalblock')"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-warning"
              [disabled]="!OnDemandForm.valid"
              rippleEffect
              (click)="onSave(datasource.id)"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
