<div class="card">
  <div
    class="p-1 d-flex justify-content-between align-items-center"
    style="background-color: rgba(233, 240, 245, 1); border-radius: 0.428rem"
  >
    <div>
      <small>Event Happening:</small>
      <h4>00:00:44</h4>
    </div>
    <div>
      <i class="bi bi-pause-circle custom-bi-pause-circle"></i>
      <i class="bi bi-stop-circle custom-bi-stop-circle"></i>
    </div>
  </div>
  <div class="row" style="padding: 0.5em">
    <div
      class="col-xxl-4 col-xl-7 col-lg-7 col-md-7 sm-12 mb-md-1"
      style="align-self: center"
    >
      <div style="align-self: center">
        <h3 class="text-nowrap">McQuaid vs Fairport, Football</h3>
        <div class="d-flex align-items-center flex-md-wrap">
          <div class="d-flex align-items-center">
            <i class="bi bi-clock"></i>
            <p class="mb-0 text-nowrap" style="margin-left: 0.2em">
              Saturday, Sept 15th, 2:00 pm, Varsity ,
            </p>
          </div>
          <div class="d-flex align-items-center ml-xl-1 ml-xxl-0 ml-xxxl-0">
            <i class="bi bi-geo-alt"></i>
            <p class="mb-0 text-nowrap" style="margin-left: 0.2em">
              Fairport High School, 33 Union Street, Fairport
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-8 col-xl-5 col-lg-5 col-md-5 sm-12">
      <div class="row">
        <div class="col-xxl-4 col-xl-12 mb-xxl-0 mb-lg-1 mb-md-1 mb-sm-1">
          <div
            class="card h-100 p-1"
            style="
              background-color: rgba(248, 248, 248, 1);
              border-radius: 10px;
              border: 1px solid transparent;
            "
          >
            <div class="d-flex">
              <i class="bi bi-file-earmark-text custom-earmark"></i>
              <div class="ml-1">
                <h6>Data</h6>
                <h6>-</h6>
                <div class="d-flex m-0 p-0">
                  <div>
                    <p style="margin-bottom: 0">Sent:</p>
                    <p style="margin-bottom: 0; font: caption">990mb</p>
                  </div>
                  <div style="margin-left: 3em">
                    <p style="margin-bottom: 0">Received:</p>
                    <p style="margin-bottom: 0; font: caption">990mb</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-4 d-none d-xxl-block">
          <div
            class="card h-100 p-1"
            style="
              background-color: rgba(248, 248, 248, 1);
              border-radius: 10px;
              border: 1px solid transparent;
            "
          >
            <div>
              <div style="display: flex">
                <i class="bi bi-tablet custom-tablet"></i>
                <div style="padding: 8px">
                  <h6>None</h6>
                  <div class="d-flex">
                    <i class="bi bi-arrow-down-left custom-arrow-down-left"></i>
                    <p>Receiving</p>
                  </div>
                  <div
                    style="
                      white-space: nowrap;
                      position: absolute;
                      bottom: 0;
                      left: 5px;
                    "
                  >
                    <p>Connection Duration:- 01:00:45</p>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-4 d-none d-xxl-block">
          <div
            class="card h-100 p-1"
            style="
              background-color: rgba(248, 248, 248, 1);
              border-radius: 10px;
              border: 1px solid transparent;
            "
          >
            <div>
              <div style="display: flex">
                <i class="bi bi-camera-video custom-camera-video"></i>
                <div style="padding: 8px; margin-left: 0.5em">
                  <h6>None</h6>
                  <div class="d-flex">
                    <i class="bi bi-arrow-up-right custom-arrow-up-right"></i>
                    <p>Sending</p>
                  </div>
                  <div
                    style="
                      white-space: nowrap;
                      position: absolute;
                      bottom: 0;
                      left: 8px;
                    "
                  >
                    <p>Connection Duration:- 01:00:45</p>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 mb-md-1 d-xxl-none">
      <div
        class="card"
        style="
          background-color: rgba(248, 248, 248, 1);
          border-radius: 10px;
          border: 1px solid transparent;
        "
      >
        <div
          style="
            background-color: rgba(248, 248, 248, 1);
            border-radius: 10px;
            padding: 0.5em;
            margin-left: 0.5em;
          "
        >
          <div style="display: flex">
            <i class="bi bi-tablet custom-tablet"></i>
            <div style="padding: 8px">
              <h6>None</h6>
              <div class="d-flex">
                <i class="bi bi-arrow-down-left custom-arrow-down-left"></i>
                <p>Receiving</p>
              </div>
              <div style="white-space: nowrap">
                <p>Connection Duration:- 01:00:45</p>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 d-xxl-none">
      <div
        class="card"
        style="
          background-color: rgba(248, 248, 248, 1);
          border-radius: 10px;
          border: 1px solid transparent;
        "
      >
        <div
          style="
            background-color: rgba(248, 248, 248, 1);
            border-radius: 10px;
            padding: 0.5em;
            margin-left: 0.5em;
          "
        >
          <div style="display: flex">
            <i class="bi bi-camera-video custom-camera-video"></i>
            <div style="padding: 8px; margin-left: 0.5em">
              <h6>None</h6>
              <div class="d-flex">
                <i class="bi bi-arrow-up-right custom-arrow-up-right"></i>
                <p>Sending</p>
              </div>
              <div style="white-space: nowrap">
                <p>Connection Duration:- 01:00:45</p>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row p-2">
    <div class="col-md-12 col-lg-6 col-6 d-flex align-items-center">
      <div
        style="cursor: pointer"
        class="badge badge-pill badge-primary cursor-pointer"
        [ngClass]="
          allOrSubOrPub == 'all' ? 'badge-primary' : 'badge-light-secondary'
        "
        (click)="getAllPubOrSub('all')"
      >
        <span style="font-size: 1.4em"> All </span>
      </div>
      <div
        class="badge badge-pill ml-1 cursor-pointer"
        [ngClass]="
          allOrSubOrPub == 'sub' ? 'badge-primary' : 'badge-light-secondary'
        "
        (click)="getAllPubOrSub('sub')"
      >
        <span style="font-size: 1.4em"> Subscriber</span>
      </div>
      <div
        class="badge badge-pill ml-1 cursor-pointer"
        [ngClass]="
          allOrSubOrPub == 'pub' ? 'badge-primary' : 'badge-light-secondary'
        "
        (click)="getAllPubOrSub('pub')"
      >
        <span style="font-size: 1.4em"> Publisher</span>
      </div>

      <div class="d-none d-md-block d-lg-none ml-auto float-right">
        <div class="d-flex">
          <div class="mr-1">
            <button
              [style.background-color]="
                listOrGrid == 'grid' ? 'rgba(240, 240, 240, 1)' : ''
              "
              type="button"
              class="btn btn-icon"
              rippleEffect
              (click)="listGrid('grid')"
            >
              <span [data-feather]="'grid'" [size]="25"></span>
            </button>
          </div>
          <button
            [style.background-color]="
              listOrGrid == 'list' ? 'rgba(240, 240, 240, 1)' : ''
            "
            type="button"
            class="btn btn-icon"
            rippleEffect
            (click)="listGrid('list')"
          >
            <span [data-feather]="'align-justify'" [size]="25"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-6">
      <div class="d-flex align-items-center float-right mt-lg-0 mt-md-1">
        <div class="d-md-none d-lg-block">
          <div class="d-flex mr-1">
            <div class="mr-1">
              <button
                [style.background-color]="
                  listOrGrid == 'grid' ? 'rgba(240, 240, 240, 1)' : ''
                "
                type="button"
                class="btn btn-icon"
                (click)="listGrid('grid')"
                rippleEffect
              >
                <span [data-feather]="'grid'" [size]="25"></span>
              </button>
            </div>
            <button
              [style.background-color]="
                listOrGrid == 'list' ? 'rgba(240, 240, 240, 1)' : ''
              "
              type="button"
              class="btn btn-icon"
              (click)="listGrid('list')"
              rippleEffect
            >
              <span [data-feather]="'align-justify'" [size]="25"></span>
            </button>
          </div>
        </div>
        <div class="">
          <button
            type="button"
            class="btn btn-outline-secondary mr-1"
            rippleEffect
            (click)="modalOpenForm(modalForm)"
          >
            Add Device
          </button>
          <button type="button" class="btn btn-warning" rippleEffect>
            Check for Configuration
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive" *ngIf="listOrGrid == 'list'">
    <table class="table table-hover">
      <thead>
        <tr class="text-nowrap">
          <th scope="col">Action</th>
          <th scope="col">User</th>
          <th scope="col">Location</th>
          <th scope="col">Device ID</th>

          <th scope="col">Device Type</th>
          <th scope="col">Network</th>
          <th scope="col">Quality</th>
          <th scope="col">IP Address</th>

          <th scope="col">Transmit Status</th>
          <th scope="col">Received</th>
          <th scope="col">Retries</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-nowrap" *ngFor="let item of eventConnection">
          <th>
            <span [mcDropdownTriggerFor]="appDropdownWithNested">
              <i
                data-feather="more-vertical"
                class="text-secondary cursor-pointer mr-50"
              ></i>
            </span>
            <mc-dropdown #appDropdownWithNested="mcDropdown">
              <button mc-dropdown-item (click)="viewStream()">
                <i data-feather="eye" class="mr-50 mb-25"></i> View Stream
              </button>
              <button mc-dropdown-item (click)="pause(item)">
                <i data-feather="pause" class="mr-50 mb-25"></i>
                {{
                  item.transmitStatus == "Paused"
                    ? "Resume Connection"
                    : "Pause"
                }}
              </button>
              <button mc-dropdown-item (click)="block(item)">
                <i data-feather="slash" class="mr-50 mb-25"></i> Block
              </button>

              <button
                mc-dropdown-item
                [mcDropdownTriggerFor]="appDropdownNested"
                (click)="streaming()"
              >
                <i data-feather="loader" class="mr-50 mb-25"></i> Streaming
              </button>
              <button mc-dropdown-item (click)="delete()">
                <i data-feather="trash-2" class="mr-50 mb-25"></i> Delete
              </button>
            </mc-dropdown>

            <mc-dropdown #appDropdownNested="mcDropdown">
              <button mc-dropdown-item>
                <i data-feather="youtube" class="mr-50 mb-25"></i>YouTube
              </button>
              <button mc-dropdown-item>
                <i data-feather="facebook" class="mr-50 mb-25"></i>Facebook
              </button>
              <button mc-dropdown-item>
                <i data-feather="twitch" class="mr-50 mb-25"></i> Twitch
              </button>
            </mc-dropdown>
          </th>
          <td>{{ item.user }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.deviceId }}</td>

          <td>{{ item.deviceType }}</td>
          <td>{{ item.network }}</td>
          <td>
            <div
              class="badge badge-pill"
              [ngClass]="{
                'badge-light-danger': item.quality === 'Poor',
                'badge-light-success': item.quality === 'Good'
              }"
            >
              {{ item.quality }}
            </div>
          </td>
          <td>{{ item.ipAddress }}</td>

          <th>
            <div class="d-flex">
              <span>
                <i
                  *ngIf="item.transmitStatus === 'Streaming'"
                  class="bi bi-arrow-up-right text-warning"
                ></i>
                <i
                  *ngIf="item.transmitStatus === 'Receiving'"
                  class="bi bi-arrow-down-left text-primary"
                ></i>
                <i
                  *ngIf="item.transmitStatus === 'Paused'"
                  class="bi bi-pause text-info"
                ></i>
                <i
                  *ngIf="item.transmitStatus === 'Blocked'"
                  class="bi bi-slash-circle text-danger"
                ></i>
              </span>
              <span style="margin-left: 0.5em">
                {{ item.transmitStatus }}
              </span>
            </div>
          </th>
          <td>{{ item.received }}</td>
          <td>{{ item.retries }}</td>
          <td><i class="bi bi-grid-3x2-gap-fill"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="listOrGrid == 'grid'">
    <div class="card-body">
      <div class="row">
        <div
          *ngFor="let item of eventConnection"
          class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12"
        >
          <div class="d-flex p-1">
            <div
              class="card cursor-pointer"
              style="height: 14rem; width: 24rem"
              [routerLink]="'/connection/connection-device-detail'"
            >
              <img
                src="assets/images/pip-image/football_1.png"
                alt=""
                style="height: 100%; width: 100%; border-radius: 0.428rem"
              />
              <div style="position: absolute; bottom: 1px; left: 1px">
                <div
                  *ngIf="item.quality == 'Good'"
                  class="badge badge-pill badge-light-success"
                  style="
                    background-color: rgba(40, 199, 111, 1);
                    color: rgba(73, 69, 79, 1) !important;
                  "
                >
                  <span style="color: rgb(0, 102, 46)"> &#x25CF; </span>
                  Good
                </div>
                <div
                  *ngIf="item.quality == 'Poor'"
                  class="badge badge-pill"
                  style="
                    background-color: rgba(255, 222, 222, 1);
                    color: rgba(73, 69, 79, 1);
                  "
                >
                  <span style="color: rgb(181, 0, 0)"> &#x25CF; </span>
                  Poor
                </div>
              </div>
              <div
                class="d-flex"
                style="position: absolute; bottom: 1px; right: 1px"
              >
                <span>
                  <!-- rgba(255, 252, 243, 1) -->
                  <div
                    *ngIf="item.transmitStatus === 'Streaming'"
                    class="badge badge-pill"
                    style="background-color: rgba(255, 252, 243, 1)"
                  >
                    <i class="bi bi-arrow-up-right text-warning"></i>
                    <span style="margin-left: 0.5em; color: black">
                      {{ item.transmitStatus }}
                    </span>
                  </div>

                  <i></i>
                  <div
                    *ngIf="item.transmitStatus === 'Receiving'"
                    class="badge badge-pill"
                    style="background-color: rgba(233, 240, 245, 1)"
                  >
                    <i class="bi bi-arrow-down-left text-primary"></i>
                    <span style="margin-left: 0.5em; color: black">
                      {{ item.transmitStatus }}
                    </span>
                  </div>
                  <div
                    *ngIf="item.transmitStatus === 'Paused'"
                    class="badge badge-pill"
                    style="background-color: rgb(238 220 213)"
                  >
                    <i class="bi bi-pause text-info"></i>
                    <span style="margin-left: 0.5em; color: black">
                      {{ item.transmitStatus }}
                    </span>
                  </div>
                  <div
                    *ngIf="item.transmitStatus === 'Blocked'"
                    class="badge badge-pill"
                    style="background-color: rgb(213 169 153)"
                  >
                    <i class="bi bi-slash-circle text-danger"></i>
                    <span style="margin-left: 0.5em; color: black">
                      {{ item.transmitStatus }}
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div
              class="card p-1"
              style="
                height: 10rem;
                width: 14rem;
                background-color: rgba(233, 241, 244, 1);
                margin-top: 2rem;
                margin-left: -2rem !important;
              "
            >
              <div class="d-flex">
                <div class="d-flex mr-auto">
                  <span>
                    <i
                      *ngIf="item.transmitStatus === 'Streaming'"
                      class="bi bi-camera-video text-warning"
                      style="margin-right: 0.2rem"
                    ></i>
                    <i
                      *ngIf="item.transmitStatus !== 'Streaming'"
                      class="bi bi bi-tablet text-primary"
                      style="margin-right: 0.2rem; margin-bottom: 0.2em"
                    ></i>
                  </span>
                  <!-- <i class="bi bi-tablet" style="margin-right: 0.2rem"></i> -->
                  <h6 style="text-wrap: nowrap; overflow: hidden">
                    {{ item.deviceType }}
                  </h6>
                </div>

                <span ngbDropdown style="cursor: pointer">
                  <i
                    class="bi bi-three-dots-vertical"
                    ngbDropdownToggle
                    id="dropdownMenuButton"
                  ></i>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem>Pause</a>
                    <a ngbDropdownItem>Pause</a>
                    <a ngbDropdownItem>Disable</a>
                    <a ngbDropdownItem>Remove</a>
                  </div>
                </span>
              </div>
              <h6>{{ item.user }}</h6>
              <h6>{{ item.deviceType }}</h6>
              <h6>{{ item.ipAddress }}</h6>
              <h6>{{ item.retries }} retries</h6>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="d-flex p-1">
            <div
              class="card cursor-pointer"
              style="height: 14rem; width: 12rem"
              [routerLink]="'/connection/connection-device-detail'"
            >
              <img
                src="assets/images/pip-image/football_1.png"
                alt=""
                style="height: 100%"
              />
            </div>
            <div
              class="card p-1"
              style="
                height: 10rem;
                width: 10rem;
                background-color: rgba(233, 241, 244, 1);
                margin-top: 2rem;
                margin-left: -2rem !important;
              "
            >
              <div class="d-flex">
                <div class="d-flex mr-auto">
                  <i class="bi bi-tablet" style="margin-right: 0.2rem"></i>
                  <h6>iPad</h6>
                </div>

                <span ngbDropdown style="cursor: pointer">
                  <i
                    class="bi bi-three-dots-vertical"
                    ngbDropdownToggle
                    id="dropdownMenuButton"
                  ></i>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem>Pause</a>
                    <a ngbDropdownItem>Pause</a>
                    <a ngbDropdownItem>Disable</a>
                    <a ngbDropdownItem>Remove</a>
                  </div>
                </span>
              </div>
              <h6>Coach Jones</h6>
              <h6>iPad22</h6>
              <h6>192.168.1.10</h6>
              <h6>5 retries</h6>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #modalForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Add Device</h4>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form action="#">
      <label>Device Name </label>
      <div class="form-group">
        <input
          type="text"
          placeholder="Device Name"
          class="form-control"
          [(ngModal)]="deviceName"
        />
      </div>
      <label>Streaming Key </label>
      <div class="form-group">
        <input
          type="text"
          placeholder="Streaming Key"
          class="form-control"
          [(ngModal)]="streamingKey"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning"
      (click)="modal.close('Accept click'); addNewDevice()"
      rippleEffect
    >
      Add
    </button>
  </div>
</ng-template>
<!-- Copyright 2022 Positive Technologies. All Rights Reserved.
    Use of this source code is governed by an MIT-style license. -->

<!-- EventConnection <div class="card">
  <div class="mb-2 mt-2">
    <app-connection-header></app-connection-header>

  </div>
  <div class="table-responsive p-0">
    <table class="table">
      <thead style="background-color: #fff">
        <tr>
          <th scope="col" *ngFor="let item of header">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div ngbDropdown container="body">
              <button ngbDropdownToggle type="button" class="btn icon-btn btn-light custom-btn btn-sm hide-arrow"
                rippleEffect>
                <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
              </button>
              <div ngbDropdownMenu>
                <a ngbDropdownItem><span [data-feather]="'pause'" [size]="16" [class]="'mr-50'"></span> Pause</a>
                <a ngbDropdownItem><i class="bi bi-arrow-down-up mr-50"></i> Reorder</a>
                <a ngbDropdownItem><span [data-feather]="'slash'" [size]="16" [class]="'mr-50'"></span> Disable</a>
                <a ngbDropdownItem><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Remove</a>
              </div>
            </div>
          </td>
          <td>
            1
          </td>
          <td>
            Coach S.
          </td>
          <td>Press Box</td>
          <td>iPad15</td>
          <td>iPad</td>
          <td>Penfield-5..</td>
          <td>
            <span class="badge badge-pill badge-light-danger">Poor</span>
          </td>
          <td>192.168.1.10</td>
          <td><i class="bi bi-arrow-down-left" style="color:rgba(33, 96, 147, 1)"></i>&nbsp; Receiving</td>
          <td>22 files</td>
          <td>2</td>
        </tr>
        <tr>
          <td>
            <div ngbDropdown container="body">
              <button ngbDropdownToggle type="button" class="btn icon-btn btn-light custom-btn btn-sm hide-arrow"
                rippleEffect>
                <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
              </button>
              <div ngbDropdownMenu>
                <a ngbDropdownItem><span [data-feather]="'pause'" [size]="16" [class]="'mr-50'"></span> Pause</a>
                <a ngbDropdownItem><i
                      class="bi bi-arrow-down-up mr-50"></i> Reorder</a>
                <a ngbDropdownItem><span [data-feather]="'slash'" [size]="16" [class]="'mr-50'"></span> Disable</a>
                <a ngbDropdownItem><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Remove</a>
              </div>
            </div>
          </td>
          <td>
            1
          </td>
          <td>
            Coach S.
          </td>
          <td>Press Box</td>
          <td>iPad15</td>
          <td>iPad</td>
          <td>Penfield-5..</td>
          <td> <span class="badge badge-pill badge-light-success">Good</span> </td>
          <td>192.168.1.10</td>
          <td><span [data-feather]="'slash'" [size]="16" [class]="'mr-50'" stroke="'rgba(222, 46, 33, 1)'" ></span>Pause</td>
          <td>22 files</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
