<div class="table-responsive">
    <table class="table" style="min-width: max-content;">
        <thead>
            <tr>
                <th>EVENT NAME</th>
                <th>EVENT TYPE</th>
                <th>DATE</th>
                <th>Time</th>
                <th>LOCATION</th>
                <th>SPORT</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody *ngIf="datasource!=null">
            <tr *ngFor="let item of datasource ;  let i = index">
                <td class="cursor-pointer" (click)="openDetailView('upcoming-detail-list',i)">
                    <img src="assets/images/pip-image/Event-card.png" class="img-fluid" alt="..."
                        style="max-width: 60px; max-height: 36px; border-radius: 4px; margin-right: 5px;">
                    {{item.title}}
                </td>
                <td>{{item.type}}</td>
                <td>{{dateTimeservice.formatEventDate(item.dtEvent)}}</td>
                <!-- <td>{{dateTimeservice.formatEventDate(item.dtEvent)}}</td> -->
                <!-- <td class="cursor-pointer">{{item.time}}</td> -->
                <td>{{dateTimeservice.formatTime(item.time)}}</td>
                <td>{{item.venue.location}}</td>
                <td>{{item.sport}}</td>
                <td class="">
                    <app-menu-button [dropdownItems]="dropdownItems"></app-menu-button>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<core-sidebar class="modal modal-slide-in fade event-sidebar" name="upcoming-detail-list"
    overlayClass="modal-backdrop" (OnClosed)="OnClosedDetail($event)" hideOnEsc="true">
    <app-events-detail-presenter [eventData]="datasource" *ngIf="openDetailmodel" (clickedmenu)="clickedmenu($event)"
        [sidebarkey]="'upcoming-detail-list'" [dropdownItems]="dropdownItems"
        [startIndex]="startIndex"></app-events-detail-presenter>
</core-sidebar>