<div class="table-responsive">
 <table >
    <tr>
      <th>
        <div class="d-flex">
            <span class=" f-w-500" text-align="center">Category</span>
            <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler>
          </div> 
      </th>
      <th>
        <div class="d-flex">
            <span class=" f-w-500" text-align="center">Subject</span>
            <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler>
          </div> 
      </th>
      <th>
        <div class="d-flex">
            <span class=" f-w-500" text-align="center">User</span>
            <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler>
          </div> 
      </th>
      <th>
        <div class="d-flex">
            <span class=" f-w-500" text-align="center">Action</span>
            <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler>
          </div> 
      </th>
      <th>
        <div class="d-flex">
            <span class=" f-w-500" text-align="center">Timestamp</span>
            <i-tabler name="arrows-sort" class="icon-18 m-l-30"></i-tabler>
          </div> 
      </th>
    </tr>
   
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
 </table>
</div>