@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
.Change-image-button{
    background: rgba(143, 171, 7, 1);
    color: rgba(255, 255, 255, 1);
   
}
.remove-button{
    background: rgba(241, 241, 242, 1);
    border:hidden

   }

.save-button{
    background: rgba(245, 163, 10, 1);
    color: rgba(255, 255, 255, 1);
}

input {
    
    color: rgba(58, 58, 58, 1);
    font-size: 14px;
    &::placeholder {
        color: rgba(154, 154, 154, 1);
        font-size: 14px;
    }}
label {
    color: rgba(58, 58, 58, 1);
    font-size: 14px;
}