<!-- ngb-toast component -->
<ngb-toast
  *ngFor="let toast of notificationDIsplayService.toasts"
  [class]="toast.classname"
  [autohide]="toast.autohide"
  [delay]="toast.delay || 5000"
  (hide)="notificationDIsplayService.remove(toast)"
>
  <!-- toast header -->
  <ng-template ngbToastHeader>
    <!-- <div class="d-flex align-items-center"> -->
    <img
      src="assets/images/avatars/1-small.png"
      class="mr-2"
      height="25"
      width="25"
      style="border-radius: 50%"
      alt="Toast image"
    />
    <div>
      <small>
        <strong class="mr-auto toast-title">Rakesh&nbsp;&nbsp;&nbsp;</strong>
        <strong>Device named iPhone X</strong> with device type
        <strong>iPhone</strong> is requesting to connect
        <br />
        <a href="">See Request</a>
      </small>
    </div>
    <!-- </div> -->
  </ng-template>
</ngb-toast>
