.toast {
  flex-basis: 380px;
  max-width: calc(100vw - 50px);
}
.toast-body {
  padding: 0px !important;
}
ngb-toast .toast-header .close {
  margin-left: 15px !important;
  margin-bottom: 0.25rem;
}
.toast-header {
  border-radius: 0.286rem !important;
  padding: 6px;
}
