.event-warepper {
  min-height: 70vh;
  overflow: hidden;

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: initial;
    padding: 0;
    background-color: transparent;
  }

  .card-body {
    border-top: 1px solid var(--secondary-border-color);

    .nav-tabs {
      border-bottom: 1px solid var(--secondary-border-color);
      // padding-right: 24px;
      padding-left: 24px;
      border-radius: 0;

      .custum-button {
        padding: 10px 9px;
        border-radius: 5px;
        border: none;
        box-shadow: none;
      }

      .btn-primary {
        background-color: rgba(143, 171, 7, 1) !important;
        color: #fff;
        border: none;
        box-shadow: none !important;
      }

    }

    .nav-link {
      padding: 1rem 1.2rem !important;
      margin-bottom: 0 !important;
    }

    .nav-tabs .nav-link:after {
      left: 3% !important;
      margin-bottom: 0 !important;
    }

    .grid-button {
      padding: 0.4rem 0.6rem;
    }

    .list-button {
      padding: 0.3rem 0.5rem;
      margin-right: 5px;
    }

    .btn-outline-secondary {
      box-shadow: none !important;
      padding: 0.7rem 1rem;
    }

  }

  .card-footer {
    border-top: 1px solid var(--secondary-border-color);
  }
  .btn-primary {
    background-color: rgba(143, 171, 7, 1) !important;
    color: #fff;
    border: none;
    box-shadow: none !important;
  }

}

@media (min-width: 768px){
  .button-container button#xl-to-tablet-button {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .button-container button#mobile-button {
    display: inline-block;
  }
}