<div class="card event-warepper ">
  <div class="card-header bg-transparent p-0">
    <app-header-presenter style="width: 100%;" (filter)="onFilter($event )"></app-header-presenter>
  </div>
  <div class="card-body bg-transparent p-0">
    <div class="row d-lg-none " style="padding-right: 24px;">
      <div class="col-12 d-flex align-items-center justify-content-end" style="margin-top: 10px ;">
        <button type="button" class="btn  btn-outline-secondary mr-1 " (click)="modalOpenSM()" rippleEffect>Sync
          Events</button>
        <button type="button" class="btn btn-primary  on-demand-btn " rippleEffect (click)="CreateOnDemandEvent()">
          <i class="bi bi-plus-circle-fill "></i> Create On-Demand Event
        </button>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId" (navChange)="onNavChange($event)">
      <li ngbNavItem="on-going" style="margin-top: 5px;">
        <a ngbNavLink>Ongoing Events</a>
        <ng-template ngbNavContent>
          <app-on-going-event [datasource]="datasource | slice : startIndex : endIndex "
            (onDeleteEvent)="deleteEvent.emit()" *ngIf="gridView"></app-on-going-event>
          <app-ongoing-event-list *ngIf="!gridView"
            [datasource]="datasource | slice : startIndex : endIndex"></app-ongoing-event-list>
        </ng-template>
      </li>

      <li ngbNavItem="upcoming" style="margin-top: 5px;">
        <a ngbNavLink>Upcoming Events</a>
        <ng-template ngbNavContent>
          <app-up-coming-event [datasource]="datasource | slice : startIndex : endIndex"
            *ngIf="gridView"></app-up-coming-event>
          <app-upcoming-events-list *ngIf="!gridView"
            [datasource]="datasource | slice : startIndex : endIndex"></app-upcoming-events-list>
        </ng-template>
      </li>

      <li ngbNavItem="past" style="margin-top: 5px;">
        <a ngbNavLink>Past Events</a>
        <ng-template ngbNavContent>
          <app-past-event [datasource]="datasource | slice : startIndex : endIndex" *ngIf="gridView"></app-past-event>
          <app-past-events-list *ngIf="!gridView"
            [datasource]="datasource | slice : startIndex : endIndex"></app-past-events-list>
        </ng-template>
      </li>

      <li class="ml-auto d-flex align-items-center">
        <button type="button" class="btn btn-flat-secondary  list-button " rippleEffec [class.active]="!gridView"
          (click)="changeViewMode()">
          <h4 class=" m-0"><i class="bi bi-list" style="font-size: 1.5rem;"></i></h4>
        </button>
      </li>

      <li class=" d-flex align-items-center">
        <button type="button" class="btn btn-flat-secondary  grid-button " [class.active]="gridView"
          (click)="changeViewMode()">
          <h4 class="m-0"><i class="bi bi-grid"></i></h4>
        </button>
      </li>

      <li class=" ml-1 d-flex align-items-center" *ngIf="activeTabId=='upcoming'">
        <button type="button" class="btn  btn-outline-secondary d-none d-lg-block " (click)="modalOpenSM()"
          rippleEffect>Sync Events</button>
      </li>

      <li class="ml-1 mr-2 d-flex align-items-center">
        <button type="button" class="btn btn-primary  on-demand-btn  d-none d-lg-block " rippleEffect
          (click)="CreateOnDemandEvent()">
          <i class="bi bi-plus-circle-fill"></i> Create On-Demand Event
        </button>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <div class="card-footer bg-transparent p-1">
    <app-event-pagination [totalItems]="datasource" [pageSize]="pageSize" [startIndex]="startIndex"
      [endIndex]="endIndex" (pageSizeChange)="updatePageSize($event)"
      (pageChange)="onPageChange($event)"></app-event-pagination>
  </div>
</div>