<div class="card event-warepper ">
  <div class="row">
    <div class="col-12">
      <app-header-presenter></app-header-presenter>
    </div>
    <!-- <div class="button-container col-12 d-flex justify-content-end">
      <button type="button" class="btn " id="mobile-button" style="
          background-color: rgba(143, 171, 7, 1);
          color: #fff;
          margin-right: 27px;
        " rippleEffect (click)="CreateOnDemandEvent()">
        <i class="bi bi-plus-circle-fill"></i> Create On-Demand Event
      </button>
    </div> -->
    <div class="col-12">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem ngbNavItem="ongoingEvent">
          <a ngbNavLink>Ongoing Events</a>
          <ng-template ngbNavContent>
            <app-on-going-event [datasource]="datasource.ongoingEvent"></app-on-going-event>
          </ng-template>
        </li>
        <li ngbNavItem="upcomingEvents">
          <a ngbNavLink>Upcoming Events</a>
          <ng-template ngbNavContent>
            <app-up-coming-event [datasource]="datasource"></app-up-coming-event>
          </ng-template>
        </li>
        <li ngbNavItem="pastEvents">
          <a ngbNavLink>Past Events</a>
          <ng-template ngbNavContent>
            <app-past-event [datasource]="datasource.pastEvent"></app-past-event>
          </ng-template>
        </li>
        <li class="ml-lg-auto d-flex align-items-center">
          <button type="button" class=" btn-flat-secondary btn " rippleEffect>
            <h4 class="m-0"><i class="bi bi-list"></i></h4>
          </button>
        </li>
        <li class=" d-flex align-items-center mr-1 ml-0.5">
          <button type="button" class=" btn-flat-secondary btn " rippleEffect>
            <h4 class="m-0"><i class="bi bi-grid"></i></h4>
          </button>
        </li>
        <li class="d-flex align-items-center" [class.active]="gridView">
          <button type="button" class="btn  btn-outline-secondary" rippleEffect>Sync Events</button>
        </li>

        <li class="ml-1 d-flex align-items-center">
          <button type="button" class="btn btn-primary  on-demand-btn " rippleEffect (click)="CreateOnDemandEvent()">
            <i class="bi bi-plus-circle-fill "></i> Create On-Demand Event
          </button>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

    </div>
    <div class="col-12">
      <div class="btn-group m-2">
        <div ngbDropdown>
          <button ngbDropdownToggle class="btn btn-outline-dark cus-btn-sm" type="button" id="dropdownMenuButton700"
            rippleEffect>
            10
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton700">
            <a ngbDropdownItem href="javascript:void(0)">10</a>
            <a ngbDropdownItem href="javascript:void(0)">20</a>
            <a ngbDropdownItem href="javascript:void(0)">30</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>