app-scheduled-event-sidebar {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.event-warepper {
  .nav-tabs {
    display: flex;
    align-items: end !important;
    border-bottom: 1px solid var(--secondary-border-color);
    border-top: 1px solid var(--secondary-border-color);
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 0;
    border-radius: 0;

    .custum-button {
      padding: 10px 9px;
      border-radius: 5px;
      border: none;
      box-shadow: none;
      margin-bottom: 9px;
      margin-top: 9px;
    }

    .on-demand-btn {
      background-color: rgba(143, 171, 7, 1);
      color: #fff;
    }
  }

  .nav-link {
    padding: 1rem 1.2rem !important;
    margin-bottom: 0 !important;
  }

  .nav-tabs .nav-link:after {
    left: 3% !important;
    margin-bottom: 0 !important;

  }

  .btn-outline-secondary {
    box-shadow: none !important;
    padding: 8px 9px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
}

.button-container {
  text-align: center;

  button {
    display: none;
  }
}

/* Media Query for XL to Tablet screens */
@media (min-width: 768px) and (max-width: 3000px) {
  .button-container button#xl-to-tablet-button {
    display: inline-block;
  }
}

/* Media Query for Mobile screens */
@media (max-width: 767px) {
  .button-container button#mobile-button {
    display: inline-block;
  }
}