<div class="col-12 mb-0">
    <div class="row">
        <div class="col-9">
            <div class="ent-title">
                <h3>{{entTitle}} </h3>
            </div>
        </div>
    </div>
</div>

<div class="card m-1 ms-4 " style="height: auto">
    <app-main-table [listData]="listData" [actions]="listData.actions" [entity]="ent" [data]="listData.data"
        [entTitle]="entTitle" [config]="listData.getConfig()" [columns]="listData.columns"
        [editUrl]="listData.editUrl()" (rowChanged)="listData.onRowChanged($event)" (refreshEvent)="onRefresh()">
    </app-main-table>
</div>