.device-perent {
    .card {
        border: 1px solid var(--secondary-border-color) !important;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0;
        cursor: pointer;

        .card-body {
            padding: 1rem;

            .custom-camera-video {
                font-size: 3rem;
                color: #F5A30A;
            }
        }
    }

    .grid {
        padding: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
    }

    @media (max-width: 768px) {
        .grid {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        }
    }



}

.btn-outline-secondary {
    color: #0F0F0F;
}

.dark-layout {
    .btn-outline-secondary {
        color: #fff !important;
    }
}