.event-card {
    max-width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  
    mat-card-header {
      display: flex;
      justify-content: space-between;
      background-color: #e9f1f4;
      padding: 10px 16px;
    }
  
    .header-right {
      display: flex;
      align-items: center;
      color: #666;
      font-weight: 500;
  
      mat-icon {
        margin-right: 4px;
      }
    }
  
    .row {
      display: flex;
      padding: 16px;
    }
  
    .date-section {
      text-align: center;
      h6 {
        margin: 0;
        font-weight: 600;
        font-size: 1rem;
        color: #666;
      }
      h3 {
        margin: 0;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  
    .event-details {
      h6 {
        margin: 0;
        font-weight: bold;
        font-size: 1.1rem;
      }
      span {
        color: #666;
        display: block;
      }
  
    }
  
    .header-icon {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      font-size: 1.5rem;
    }
  }