@for (item of pagedItems; track $index) {
<div class="row">
    <div class="col-12">
        <div class="card-img">
            <img class="left img-fluid" src="./assets/images/blog/blog-img1.jpg" />
            <img class="right img-fluid" src="./assets/images/backgrounds/blog-bg-2x.jpg" />
        </div>
        <div class=" close-btn">
            <button mat-icon-button aria-label="Clear" (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <span class="m-l-8">In Progress in 01:20:03</span>
        <h3 class="m-l-8 m-t-0 m-b-8 mat-subtitle-1">{{item.title}}</h3>
        <div class="badge-text m-l-8">
            {{item.type}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="item-heading">
            <h4>Event details</h4>
        </div>
        <div class="item-details mat-body-1">
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="clock" class="icon-18"></i-tabler>
                <p> {{ item.dtEvent |
                    dateTimeFormat:item.time }}</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="map-pin" class="icon-18"></i-tabler>
                <p> {{item.venue.cityAddress}} {{item.venue.streetAddress}}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading mat-subtitle-2">
            <h4>Contact details</h4>
        </div>
        <div class="item-details mat-body-1">
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="user-square" class="icon-18"></i-tabler>
                <p>Tom</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="phone" class="icon-18"></i-tabler>
                <p> 82735482385t</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="mail" class="icon-18"></i-tabler>
                <p> tospip.com</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading">
            <h4>Team info</h4>
        </div>
        <div class="item-details mat-body-1">
            <div class="w-100 d-flex align-items-center">
                <i-tabler name="ball-football" class="icon-18"></i-tabler>
                <p>Football</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <mat-icon>man</mat-icon>
                <p>Men’s</p>
            </div>
            <div class="w-100 d-flex align-items-center">
                <mat-icon fontSet="material-icons-outlined">stairs</mat-icon>
                <p>Freshmen</p>
            </div>
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center">
                    <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                    <p> Bob Knight</p>
                </div>
                <div class="d-flex align-items-center">
                    <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                    <p> Bob Knight</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading">
            <h4>Roster</h4>
        </div>
        <div class="item-details">
            <!------------------------- Own roster------------- -->
            <h5 class="m-t-8 m-b-0">Own roster</h5>
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <p>J. Brandon 17</p>
                <p>QB</p>
            </div>
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <p>J. Brandon 17</p>
                <p>QB</p>
            </div>
            <!------------------------- Opposition roster------------- -->
            <h5 class="m-t-8 m-b-0">Opposition roster</h5>
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <p>J. Brandon 17</p>
                <p>QB</p>
            </div>
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <p>J. Brandon 17</p>
                <p>QB</p>
            </div>
            <!------------------------- Opposition roster end ------------- -->

            <h5 class="m-t-8 m-b-0">Opposition coaching staff</h5>
            <p><strong>Head coach:</strong> John Walker</p>
            <p><strong>Assistant coach: </strong> Marty Everding</p>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading">
            <h4>User & PIN</h4>
        </div>
        <div class="item-details">
            <div class="w-100 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center">
                    <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
                    <p>Harry</p>
                </div>
                <div class="d-flex align-items-center">
                    <p>123456</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="item-heading">
            <h4>Authorized viewer</h4>
        </div>
        <div class="item-details">
            <div class="w-100 d-flex align-items-center">
                <mat-icon [fontSet]="'material-icons-outlined'">account_circle</mat-icon>
                <p>Sam</p>
            </div>
            <div class="d-flex align-items-center">
                <mat-icon [fontSet]="'material-icons-outlined'">account_circle</mat-icon>
                <p>Harry</p>
            </div>
        </div>
    </div>
</div>
}

<mat-paginator [length]="datasource.eventViewCollection.length" [pageSize]="1" (page)="page.emit($event)">
</mat-paginator>