@media screen and (max-width: 820px) {
  .custom-pill-badge {
    font-size: 2em;
  }
  .custom-pill {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    border-radius: 8rem;
  }
}
