<div class="p-2 connection-list-grid-header" style="margin: 0">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <div style="cursor: pointer" class="badge badge-pill badge-primary cursor-pointer custom-pill" [ngClass]="
          allOrSubOrPub == 'all' ? 'badge-primary' : 'badge-light-secondary'
        " (click)="getAllPubOrSub('all')">
        <span style="font-size: 1.4em"> All </span>
      </div>
      <div class="badge badge-pill ml-1 cursor-pointer custom-pill" [ngClass]="
          allOrSubOrPub == 'sub' ? 'badge-primary' : 'badge-light-secondary'
        " (click)="getAllPubOrSub('sub')">
        <span style="font-size: 1.4em"> Subscriber</span>
      </div>
      <div class="badge badge-pill ml-1 cursor-pointer custom-pill" [ngClass]="
          allOrSubOrPub == 'pub' ? 'badge-primary' : 'badge-light-secondary'
        " (click)="getAllPubOrSub('pub')">
        <span style="font-size: 1.4em"> Publisher</span>
      </div>
    </div>
    <div class="ml-auto float-right">
      <div class="d-flex">
        <div class="mr-1">
          <button [ngClass]="{ 'grid-box': listOrGrid == 'grid' }" type="button" class="btn btn-icon" rippleEffect
            (click)="listGrid('grid')">
            <span [data-feather]="'grid'" [size]="25"></span>
          </button>
        </div>
        <button [ngClass]="{ 'list-box': listOrGrid == 'list' }" type="button" class="btn btn-icon" rippleEffect
          (click)="listGrid('list')">
          <span [data-feather]="'align-justify'" [size]="25"></span>
        </button>
        <button type="button " class="btn btn-warning ml-1" rippleEffect (click)="openAddDeviceModal()">
          Add Device
        </button>
      </div>
    </div>
  </div>
</div>