<div class="container-fluid ps-4 pe-4 pt-2">
  <div class="row pt-2" style="background: #F3F3F3;">
    <div class="col-lg-2 col-md-4">
      <input class="form-control " type="search" placeholder="Search..." aria-label="Search" [(ngModel)]="searchText"
        style="max-width: 300px;  border-radius: 30px;">
    </div>
    <div class="col-lg-1 col-md-2 col-12">
      <div row *ngIf="listData.filters.length">
        <div class="row">
          <div class="col-lg-2">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn filter-button btn-outline" id="dropdownForm1" ngbDropdownToggle>
                <i class="bi bi-filter"></i> Filters
              </button>
              <div class="dropdownForm1" ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="row">
                  <div *ngFor="let filter of listData.filters" class="col-12 mb-1">
                    <app-filter [filter]="filter" (refresh)="onRefresh($event)"></app-filter>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-9  col-12 d-flex align-items-center justify-content-end">
      <div disabled="!selectedRow">
        <ng-template *actionHost let-isvisible="visible" let-delete="onDelete">
        </ng-template>
      </div>
      <button *ngIf="entity!=='monthly-attendances'" type="submit" class="btn add-botton btn-primary btn-sm ms-1"
        routerLink="/{{entity}}/new" rippleEffect> <img src="../../../assets/add.svg" alt=" Add svg"> &nbsp; Add
        {{entTitle}}
      </button>
    </div>

    <div class="col-12 mt-2  d-flex align-items-center justify-content-start">
      <div *ngFor="let filter of listData.filters">
        <div class="badge rounded-pill custom-badge mb-2" *ngIf="filter.getValue()">
          {{ filter.name }}: {{ filter.getValue() }} &nbsp;&nbsp; <i class="bi bi-x-lg"
            (click)="clearFilterInChild()"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-datatable *ngIf="!gridView" #table  class="bootstrap core-bootstrap" style="height: 72vh; width:100%; overflow-y:visible"
  [rows]="data | LockFilter: searchText | LockFilter: departmentSearchText |LockFilter: designationSearchText"
  [columnMode]="ColumnMode.force" [headerHeight]="50" [scrollbarH]="'auto'" [rowHeight]="50" [scrollbarV]="true"
  (activate)="onActivate($event)" [selected]="selected" [selectionType]="SelectionType.multiClick"
  (select)="onSelect($event)">
  <ngx-datatable-column [width]="100" [sortable]="false">
    <ng-template let-column="column" ngx-datatable-header-template>
      <button *ngIf="selected.length >1" class="btn btn-danger btn-sm me-1" style="border-radius: 100px;"
        (click)="deleteSelected()">
        <i class="bi bi-trash3-fill"></i>
      </button> 
      <div *ngIf="selected.length <=1">Action</div>
    </ng-template>

    <ng-template let-row="row" ngx-datatable-cell-template>
      <div ngbDropdown container="body">
        <i class="bi bi-three-dots-vertical" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="m-1">
          <div  *ngFor="let menuItem of listData.rowActions; let i = index"  class="div">
            <button ngbDropdownItem (click)="menuItem.action(row)" class="menu-btn" ><i [class]="menuItem.icon"></i>&nbsp;{{ menuItem.label }}</button>
            <div *ngIf="i < listData.rowActions.length - 1" class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngFor="let column of columns; let i = index;" [name]="column.name">
    <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row[column.prop] }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>




























<!-- <ngx-datatable *ngIf="!gridView" #table class="bootstrap" style="height: 72vh; width:100%; overflow-y:visible"
  [rows]="data | LockFilter: searchText | LockFilter: departmentSearchText |LockFilter: designationSearchText"
  [columnMode]="ColumnMode.force" [headerHeight]="50" [scrollbarH]="'auto'" [rowHeight]="50" [scrollbarV]="true"
  (activate)="onActivate($event)" [selected]="selected" [selectionType]="SelectionType.single"
  (select)="onSelect($event)">

  <ngx-datatable-column *ngFor="let column of columns; let i = index;" [name]="column.name">
    <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row[column.prop] }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [width]="170" [maxWidth]="200"  *ngIf="selectedRow" >
    <ng-template let-column="column" ngx-datatable-header-template>Action</ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="d-flex align-items-center" *ngIf="selectedRow && selectedRow.id === row.id">
        <button class="btn btn-danger btn-sm" style="border-radius: 100px;" (click)="deleteSelected()">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable> -->

<!-- </mat-toolbar> -->
<!-- <a class="navbar-brand">
      <input class="form-control" type="search" placeholder="Search..." aria-label="Search" [(ngModel)]="searchText">
    </a>
    <div class="row me-0">
      <div class="col-md-3 d-flex align-items-center" *ngIf="selectedRow ">
        <button class="btn btn-danger btn-sm" style="border-radius: 100px;" (click)="deleteSelected()">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
      <div class="col-md-4">
        <ng-template *actionHost let-isvisible="visible" let-delete="onDelete">
        </ng-template>
      </div>
   
    </div> -->

<!-- </div> -->
<!-- <form>
    <button class="btn btn-danger btn-sm" *ngIf="selectedRow == true" style="border-radius: 100px;"
      (click)="deleteSelected()">
      <i class="bi bi-trash3-fill"></i>
    </button>
  </form> -->
<!-- </nav> -->




<!-- <ngx-datatable *ngIf="!gridView" #table class="bootstrap" style="height: 72vh; width:100%; overflow-y:visible"
  [rows]="data | LockFilter: searchText | LockFilter: departmentSearchText |LockFilter: designationSearchText"
  [columns]="columns" [columnMode]="ColumnMode.force" [selected]="selected" [selectionType]="SelectionType.multiClick"
  (select)="onSelect($event)" [headerHeight]="50" [scrollbarH]="'auto'" [rowHeight]="40" columnMode="force"
  (activate)="onActivate($event)" [scrollbarV]="true">
</ngx-datatable> -->