
<div class="card p-0 m-0">
    <div class="card-body m-0 p-0">
        <div class="btn-group float-right mb-2 mr-1 mt-1">
            <div ngbDropdown>
              <button
                ngbDropdownToggle
                class="btn btn-flat-dark"
                type="button"
                id="dropdownMenuButton"
                rippleEffect
                style="border: 1px solid rgba(195, 195, 195, 1);"
              >
              This Month
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <a ngbDropdownItem href="javascript:void(0)">Option 1</a>
                <a ngbDropdownItem href="javascript:void(0)">Option 2</a>
                <a ngbDropdownItem href="javascript:void(0)">Option 3</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">

            <table class="table mt-1">
              <thead>
                <tr>
                  <th scope="col">Page</th>
                  <th scope="col">Subject</th>
                  <th scope="col">User</th>
                  <th scope="col">Activity</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" style="vertical-align:top">Event</td>
                  <td style="vertical-align:top">Create Event</td>
                  <td style="vertical-align:top">
                      
                      <div class="media">
                          <img
                          
                            src="assets/images/avatars/1.png"
                            class="rounded mr-1"
                            height="25"
                            alt="team"
                          />
                          <div class="media-body">
                            Coach Steven
                          </div>
                        </div>
                        </td>
                  <td style="vertical-align:top">Created event:
                      <span>
                          <ul>
                              <li>
                                  Added name of the event as “McQuaid vs Fairport”
                              </li>
                              <li>
      
                                  Chose “Football” as the sports category
                              </li>
                              <li>
      
                                  Exported roster from excel sheet 
                              </li>
                          </ul>
                      </span>
                 
                      <br>
                      </td>
                  <td style="vertical-align:top">19 May 2022</td>
                </tr>
         
              </tbody>
            </table>
          </div>
    </div>
</div>
