<div class="card log-warraper p-0 m-0">
  <div class="card-header p-1">
    <app-log-filter
      style="width: 100%"
      [users]="users"
      [categories]="categories"
      (inputValueChange)="onInputValueChange($event)"
    ></app-log-filter>
  </div>
  <div class="card-body m-0 p-0">
    <div class="table-responsive">
      <table class="table mt-1">
        <thead>
          <tr>
            <th
              *ngFor="let key of logKeys; let i = index"
              (click)="toggleArrow(key, i)"
              class="header-cell"
            >
              <div style="display: flex; cursor: pointer">
                <div class=" ">{{ key }}</div>
                <i
                  class="bi bi-arrow-down ml-2"
                  [style.transform]="
                    'rotate(' + (180 - arrowDirection[i]) + 'deg)'
                  "
                ></i>
                <i
                  class="bi bi-arrow-up"
                  style="margin-left: -5px"
                  [style.transform]="
                    'rotate(' + (180 - arrowDirection[i]) + 'deg)'
                  "
                ></i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of datasource.logs | logSearch : searchText;
              let i = index
            "
          >
            <td *ngFor="let key of logKeys" class="text-nowrap">
              <div class="media">
                <img
                  src="assets/images/avatars/{{ i + 1 }}.png"
                  class="rounded mr-1"
                  height="25"
                  alt="team"
                  *ngIf="key == 'user'"
                />
                {{ item[key] }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
