.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th,
.table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
  background-color: #fff;
}
.log-warraper {
  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: initial !important;
    padding: 0;
    background-color: transparent;
  }
}
i.bi {
  transition: transform 0.3s ease-in-out;
}
.selected-row {
  background-color: #f2f5f8;
}
.dark-layout {
  .selected-row {
    background-color: #23292e !important;
  }
}
