<div class="card log-warraper p-0 m-0">
  <div class="card-header p-1">
    <app-log-filter
      style="width: 100%"
      [users]="users"
      [categories]="categories"
    ></app-log-filter>
  </div>
  <div class="card-body m-0 p-0">
    <div class="table-responsive">
      <table class="table mt-1">
        <thead>
          <tr>
            <th scope="col">CATEGORY</th>
            <th scope="col">SUBJECT</th>
            <th scope="col">USER</th>
            <th scope="col">ACTION</th>
            <th>DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datasource.logs">
            <td scope="row" style="vertical-align: top">{{ item.category }}</td>
            <td style="vertical-align: top">{{ item.subject }}</td>
            <td style="vertical-align: top">
              <div class="media">
                <img
                  src="assets/images/avatars/1.png"
                  class="rounded mr-1"
                  height="25"
                  alt="team"
                />
                <div class="media-body">{{ item.user }}</div>
              </div>
            </td>
            <td style="vertical-align: top">
              {{ item.action }}
            </td>
            <td style="vertical-align: top">{{ item.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
