<mat-toolbar class="custom-toolbar m-b-18">
    <button mat-icon-button class="example-icon">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button color="warn" class="m-l-8">
        <i-tabler class="icon-20 m-r-4" name="block"> </i-tabler>
        <span>Block</span>
    </button>
    <button  mat-raised-button color="accent" class="m-l-8">
        <div class="d-flex align-items-center">
            <span>Relay Stream</span>
        </div>
    </button>
    <button mat-stroked-button  class="m-l-8">
        <div class="d-flex align-items-center">
            <i-tabler class="icon-20 m-r-4" name="caret-right"></i-tabler>
            <span>Start Recording</span>
        </div>
        
    </button>
</mat-toolbar>

<div class="row">
    <div class="col-12 col-md-9">
        <mat-card>
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h3 class="">Testing</h3>
                    <div class="info-badge">
                        
                    </div>
                </div>

                @if (url) {
                <app-hls-player ></app-hls-player>
                }

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-md-3">
        
            <div class="col-xl-3" style="padding-left: 8px">
                <mat-card class="p-1 streaming-card-bg-color" style="background-color: rgba(255, 252, 243, 1);">
                  <div class="m-l-8">
                    <div class="d-flex align-content-center">
                     <div class="d-flex  m-t-30 ">
                      <!-- <mat-icon style="font-size: 20px; color: rgba(245, 163, 10, 1)">arrow_upward</mat-icon> -->
                       <i-tabler class="icon-18 d-flex" name="arrow-up-right" style="color: rgba(245, 163, 10, 1)"></i-tabler>
                     <span class="m-l-4 f-w-400">Streaming</span>
                   
                     
                     </div>
                    </div>
                    <p class="m-t-2 m-l-8">Transmit Status</p>
                  </div>
                  
                  <div class="m-l-8">
                    <div class="d-flex align-content-center">
                     <div class="d-flex">
                      <!-- <mat-icon style="font-size: 20px; color: rgba(245, 163, 10, 1)">arrow_upward</mat-icon> -->
                       <i-tabler class="icon-18 d-flex" name="video" style="color: rgba(245, 163, 10, 1)"></i-tabler>
                        <span class="f-w-400 m-b-2 " style="margin-left: 0.2em">
                        Camcorder
                       </span>
                     </div>
                    </div>
                    <p class="m-t-2 m-l-8">Device type</p>
                  </div>
                  
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class="m-t-2 m-b-2">Harry</h4>
                    </div>
                    <p class=" m-t-2 m-b-0">User Name</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class="m-b-2">cc18</h4>
                    </div>
                    <p class=" m-b-0 m-t-2">Device ID</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class="m-b-2">192.168.1.10</h4>
                    </div>
                    <p class="m-b-0  m-t-2">IP Address</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class=" m-b-2">2 retries</h4>
                    </div>
                    <p class="m-b-0 m-t-2">Retries</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class="m-b-2">Poor</h4>
                    </div>
                    <p class="m-b-0 m-t-2">Internet Connection</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class=" m-b-2">00:05</h4>
                    </div>
                    <p class="m-b-0 m-t-2">Chunk Duration</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class="m-b-2">00:05</h4>
                    </div>
                    <p class="m-b-0 m-t-2">Part Hold Back</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class=" m-b-2">9 sec</h4>
                    </div>
                    <p class="m-b-0 m-t-2">Segment Duration</p>
                  </div>
              
                  <div class="m-l-16">
                    <div class="d-flex">
                      <h4 class=" m-b-2">12</h4>
                    </div>
                    <p class=" m-t-2">Segment Count</p>
                  </div>
              
                  <mat-card-actions>
                    <button mat-raised-button color="warning" class="btn-warning">
                      Edit Media settings
                    </button>
                  </mat-card-actions>
                  
                
                </mat-card>
              </div>
        
    </div>

</div>