@import "@core/scss/angular/libs/noui-slider.component.scss";

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.controls button {
  background: transparent;
  color: rgba(15, 15, 15, 1);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  padding-top: 0;
}
.controls .timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.controls .timeline .bar {
  background: rgba(15, 15, 15, 1);
  height: 4px;
  flex: 1;
}
.controls .timeline .bar .inner {
  background: #a4a4a4;
  width: 0%;
  height: 100%;
}
.fa {
  font-size: 20px !important;
}
.dark-layout {
  $card-info-bg-primary: rgba(34, 53, 69, 1);
  $card-info-bg-warning: rgba(66, 51, 22, 1);
  $card-cu-bg-color: rgba(49, 49, 49, 1);
  $primary-color: rgba(33, 96, 147, 0.3);
  $text-li-color: rgba(253, 253, 253, 1);
  $text-dr-color: rgba(195, 195, 195, 1);
  $icon-li-color: rgba(253, 253, 253, 1);
  $icon-pr-color: rgba(33, 96, 147, 1);
  $icon-wr-color: rgba(245, 163, 10, 1);
  $icon-da-color: rgba(222, 46, 33, 1);
  .video-container {
    .controls {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .controls button {
      background: transparent;
      color: $text-li-color;
      font-weight: bolder;
      border: none;
      cursor: pointer;
    }
    .controls .timeline {
      flex: 1;
      display: flex;
      align-items: center;
      border: none;
    }
    .controls .timeline .bar {
      background: $text-li-color;
      height: 4px;
      flex: 1;
    }
    .controls .timeline .bar .inner {
      background: rgb(132, 132, 132);
      width: 0%;
      height: 100%;
    }
    .fa {
      font-size: 20px !important;
    }
  }
}
.volume {
  margin-bottom: 0.16em;
}
.pause {
  margin-bottom: 0.16em;
}
.play {
  margin-bottom: 0.16em;
}
.maximize {
  margin-bottom: 0.16em;
}
