@import "@core/scss/angular/libs/noui-slider.component.scss";

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.controls button {
  background: transparent;
  color: rgba(15, 15, 15, 1);
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
.controls .timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
}
.controls .timeline .bar {
  background: rgba(15, 15, 15, 1);
  height: 4px;
  flex: 1;
}
.controls .timeline .bar .inner {
  background: #a4a4a4;
  width: 0%;
  height: 100%;
}
.fa {
  font-size: 20px !important;
}
