<div class="table-responsive">
    <table >
       <tr>
         <th>
           <div class="d-flex">
               <span class=" f-w-500" text-align="center">Action</span>
             </div> 
         </th>
         <th>
           <div class="d-flex">
               <span class=" f-w-500" text-align="center">Name</span>
             </div> 
         </th>
         <th>
           <div class="d-flex">
               <span class=" f-w-500" text-align="center">Role</span>
             </div> 
         </th>
         <th>
           <div class="d-flex">
               <span class=" f-w-500" text-align="center">Location</span>
             </div> 
         </th>
         <th>
           <div class="d-flex">
               <span class=" f-w-500" text-align="center">Device ID</span>
             </div> 
         </th>
         <th>
          <div class="d-flex">
            <span class=" f-w-500" text-align="center">Device Type</span>
          </div>
         </th>
         <th>
            <div class="d-flex">
                <span class=" f-w-500" text-align="center">Network</span>
              </div> 
          </th>
          <th>
            <div class="d-flex">
                <span class=" f-w-500" text-align="center">Quality</span>
              </div> 
          </th>
          <th>
            <div class="d-flex">
                <span class=" f-w-500" text-align="center">IP Address</span>
              </div> 
          </th>
          <th>
            <div class="d-flex">
                <span class=" f-w-500" text-align="center">Transmit Status</span>
              </div> 
          </th>
          <th>
            <div class="d-flex">
                <span class="f-w-500" >Retries</span>
            </div>
          </th>
       </tr>
      
       <tr>
         <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>pause</mat-icon>
              <span>Pause</span>
            </button>

            <button mat-menu-item style="color: red">
              <mat-icon style="color: red">block</mat-icon>
              <span>Block</span>
            </button>

            <button mat-menu-item style="color: red">
              <mat-icon style="color: red">delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
         </td>
         <td>Coach S.</td>
         <td>
          Subscriber
         </td>
         <td>Press Box</td>
         <td>iPad15</td>
         <td>iPad</td>
         <td>Penfield-5..</td>
         <td><span mat-button class="p-8" style="background-color: rgba(67, 196, 99, 0.1); color: rgba(67, 196, 99, 1); border-radius: 9px;">
          Good
       </span></td>
         <td>192.168.1.10</td>
         <td> <div class="d-flex">
          <i-tabler name="arrow-down-left" class="icon-20"></i-tabler>
          <span class="p-l-4">Receiving</span>
        </div></td>
        <td>2</td>
       </tr>
    </table>
   </div>
