.media-server {
    .card-header {
        font-weight: 500;
        border-bottom: 1px solid #C3C3C3;
        font-size: 16px;
        padding: 5px 14px;
        background-color: #F3F4F5;
        h5{
            font-size: 16px;
        }
    }

    .custum-column {
        padding-top: 8px;
        padding-bottom: 8px;

        h5 {
            font-size: 16px;
        }

        h6 {
            font-size: 12px;
        }

    }
}