.menu-box {

    .btn-sm,
    .btn-group-sm>.btn {
        padding: 0.486rem 12px !important;
    }

    .menuitem-but {
        border: none;
        width: 18px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background: rgba(248, 248, 248, 1);
    }
}

.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}