<div class="card-title-box">
    <h5 class="card-title">Active Devices</h5>
</div>
<div class="table-responsive">
    <table class="table" style="min-width: max-content;">
        <thead>
            <tr>
                <th>Action</th>
                <th>User</th>
                <th>Location</th>
                <th>Device ID</th>
                <th>Device Type</th>
                <th>Network</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="menu-box">
                        <div ngbDropdown container="body">
                            <button class="btn btn-sm btn-light menuitem-but" id="menuDropdown" ngbDropdownToggle>
                                <i class="bi bi-three-dots-vertical" style="font-size: 1.3rem;"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="menuDropdown">
                                <button class="dropdown-item"><i [data-feather]="'slash'" [size]="16"></i>&nbsp;
                                    Block</button>
                                <button class="dropdown-item"><i [data-feather]="'trash'" [size]="16"></i>&nbsp; Remove
                                    Event</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>Coach S.</td>
                <td>Press Box</td>
                <td>iPad15</td>
                <td>iPad</td>
                <td>Penfield-524</td>
            </tr>
            <tr>
                <td>
                    <div class="menu-box">
                        <div ngbDropdown container="body">
                            <button class="btn btn-sm btn-light menuitem-but" id="menuDropdown" ngbDropdownToggle>
                                <i class="bi bi-three-dots-vertical" style="font-size: 1.3rem;"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="menuDropdown">
                                <button class="dropdown-item"><i [data-feather]="'slash'" [size]="16"></i>&nbsp;
                                    Block</button>
                                <button class="dropdown-item"><i [data-feather]="'trash'" [size]="16"></i>&nbsp; Remove
                                    Event</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>Coach S.</td>
                <td>Press Box</td>
                <td>iPad15</td>
                <td>iPad</td>
                <td>Penfield-524</td>
            </tr>
        </tbody>
    </table>

</div>