@import "@core/scss/angular/libs/drag-drop.component.scss";
@import "../../connection-dark-light.scss";
.custom-table-hover tbody tr:hover {
  background-color: #f6f6f6;
}
.dark-layout {
  .custom-table-hover tbody tr:hover {
    background-color: #23292e;
  }
}
.danger-dropdown {
  .mc-dropdown-item:hover {
    background-color: rgba(222, 46, 33, 0.1) !important;
    border-radius: 6px;
  }
}

