<!-- {{eventConnection.connectionDetails
| json}} -->
<div class="connection-list">
  <div class="table-responsive">
    <table class="table custom-table-hover">
      <thead>
        <tr class="text-nowrap">
          <th scope="col">Action</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>

          <th scope="col">Location</th>
          <th scope="col">Device ID</th>

          <th scope="col">Device Type</th>
          <th scope="col">Network</th>
          <th scope="col">Quality</th>
          <th scope="col">IP Address</th>

          <th scope="col">Transmit Status</th>
          <th scope="col">Received</th>
          <th scope="col">Retries</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="
            item.role == 'Publisher' ? 'cursor-pointer' : 'cursor-none'
          " class="text-nowrap" *ngFor="let item of datasource.connectionDetails">
          <th>
            <span [mcDropdownTriggerFor]="appDropdownWithNested">
              <i data-feather="more-vertical" class="text-secondary cursor-pointer"></i>
            </span>
            <mc-dropdown #appDropdownWithNested="mcDropdown">
              <button mc-dropdown-item (click)="startRecording()" *ngIf="item.role == 'Publisher'">
                <i data-feather="video" class="mr-50 mb-25"></i> Start Recording
              </button>
              <button mc-dropdown-item (click)="viewStream()" *ngIf="item.role == 'Publisher'">
                <i data-feather="eye" class="mr-50 mb-25"></i> View Stream
              </button>
              <button mc-dropdown-item (click)="pause(item)">
                <i *ngIf="item.transmitStatus !== 'Paused'" data-feather="pause" class="mr-50 mb-25"></i>
                <i *ngIf="item.transmitStatus == 'Paused'" data-feather="play" class="mr-50 mb-25"></i>
                {{ item.transmitStatus == "Paused" ? "Resume" : "Pause" }}
              </button>
              <button mc-dropdown-item>
                <i data-feather="star" class="mr-50 mb-25"></i>
                Remove as Primary Device
              </button>
              <button *ngIf="item.role == 'Publisher'" mc-dropdown-item [mcDropdownTriggerFor]="appDropdownNested"
                (click)="streaming()">
                <i data-feather="loader" class="mr-50 mb-25"></i> Relay
              </button>
              <span class="danger-dropdown">
                <button mc-dropdown-item (click)="modalOpenSM(modalblock)">
                  <span style="color: red">
                    <i data-feather="slash" class="mr-50 mb-25"></i>
                  </span>
                  <span style="color: red"> Block </span>
                  <ng-template #modalblock let-modal style="width: 100px; height: 100px">
                    <app-connection-alert [title]="'Block User'" [description]="
                        'Are you sure you want to block user  <br>' +
                        item.user +
                        '?'
                      "></app-connection-alert>
                  </ng-template>
                </button>
              </span>
              <span class="danger-dropdown">
                <button mc-dropdown-item (click)="delete()">
                  <span style="color: red">
                    <i data-feather="trash-2" class="mr-50 mb-25"></i> Delete
                  </span>
                </button>
              </span>
            </mc-dropdown>

            <mc-dropdown #appDropdownNested="mcDropdown">
              <button mc-dropdown-item>
                <i data-feather="youtube" class="mr-50 mb-25"></i>YouTube
              </button>
              <button mc-dropdown-item>
                <i data-feather="facebook" class="mr-50 mb-25"></i>Facebook
              </button>
              <button mc-dropdown-item>
                <i data-feather="twitch" class="mr-50 mb-25"></i> Twitch
              </button>
            </mc-dropdown>
          </th>
          <td (click)="detail(item)">
            {{ item.name }}
          </td>
          <td (click)="detail(item)">
            {{ item.role }}
          </td>
          <td (click)="detail(item)">
            {{ item.location }}
          </td>
          <td (click)="detail(item)">
            <!-- {{ item.device }} -->
          </td>

          <td (click)="detail(item)">
            {{ item.device }}
          </td>
          <td (click)="detail(item)">
            {{ item.network }}
          </td>
          <td (click)="detail(item)">
            <div class="badge badge-pill" [ngClass]="{
                'badge-light-danger': item.quality === 0,
                'badge-light-success': item.quality === 2
              }">
              {{ item.quality }}
            </div>
          </td>
          <td (click)="detail(item)">
            {{ item.ipAddress }}
          </td>

          <td (click)="detail(item)">
            <div class="d-flex">
              <span>
                <i *ngIf="item.transmitStatus === 'Streaming'" class="bi bi-arrow-up-right text-warning"></i>
                <i *ngIf="item.transmitStatus === 'Receiving'" class="bi bi-arrow-down-left text-primary"></i>
                <i *ngIf="item.transmitStatus === 'Paused'" class="bi bi-pause text-dark"></i>
                <i *ngIf="item.transmitStatus === 'Blocked'" class="bi bi-slash-circle text-danger"></i>
              </span>
              <span style="margin-left: 0.5em">
                {{ item.transmitStatus }}
              </span>
            </div>
          </td>
          <td (click)="detail(item)">
            {{ item.received }}
          </td>
          <td (click)="detail(item)">
            {{ item.retries }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>