<div class="card">
    <div class="card-header">
        <h5>Module Configuration</h5>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-flat-dark" rippleEffect (click)=" modalOpenMd()">
                <span [data-feather]="'edit'" [class]="'mr-25'"></span> edit
            </button>
            <button (click)="modalOpenMd()" type="button" class="btn btn-flat-primary" rippleEffect> <span
                    [data-feather]="'plus'" [class]="'mr-25'"></span> Add More</button>
        </div>
    </div>
    <div class="container text-start">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 h5-0">
            <div class="col custum-column">
                <div>
                    <h6>HTTP</h6>
                    <h5>76463283490</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Low Latency HLS</h6>
                    <h5>Capture</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>TLS</h6>
                    <h5>ABCDCD</h5>
                </div>
            </div>
            <div class="col custum-column">
                <div>
                    <h6>Peer to Peer</h6>
                    <h5>ABCDCD</h5>
                </div>
            </div>
        </div>
    </div>
</div>