<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
    <i class="bi bi-x-lg cursor-pointer" (click)="activeModal.dismiss('Cross click')"></i>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <h2 class="modal-title mb-2" id="myModalLabel1">Change Password</h2>

    <label for="password">Old/Current Password</label>
    <div class="input-group input-group-merge form-password-toggle">
        <input [type]="mergedPwdVrShow ? 'text' : 'password'" class="form-control"
            [ngClass]="{'is-invalid': !passwordVarRef.valid && passwordVarRef.touched }" id="password"
            name="passwordVar" [(ngModel)]="passwordVar" #passwordVarRef="ngModel" required />

        <div class="input-group-append" (click)="mergedPwdVrShow = !mergedPwdVrShow"
            [ngClass]="{'append-is-invalid': !passwordVarRef.valid && passwordVarRef.touched }">
            <span class="input-group-text cursor-pointer"><i class="feather" [ngClass]="{
              'icon-eye-off': mergedPwdVrShow,
              'icon-eye': !mergedPwdVrShow}"></i>
            </span>
        </div>
    </div>
    <div class="w-100  text-end">
        <app-validation-alert controlName="Current Password" [control]="passwordVarRef">
        </app-validation-alert>
        <a class="link ml-auto">Forgot Password</a>
    </div>

    <label for="newPassword" class="mt-1">New Password</label>
    <div class="input-group input-group-merge form-password-toggle">
        <input [type]="mergedNewPwdVrShow ? 'text' : 'password'" class="form-control" name="newpwd" id="newPassword"
            [ngClass]="{'is-invalid': !newpasswordRef.valid && newpasswordRef.touched}" required
            [(ngModel)]="newPassward" #newpasswordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

        <div class="input-group-append" (click)="mergedNewPwdVrShow = !mergedNewPwdVrShow"
            [ngClass]="{'append-is-invalid': !newpasswordRef.valid && newpasswordRef.touched }">
            <span class="input-group-text cursor-pointer"><i class="feather" [ngClass]="{
              'icon-eye-off': mergedNewPwdVrShow,
              'icon-eye': !mergedNewPwdVrShow}"></i>
            </span>
        </div>
    </div>
    <app-validation-alert controlName="New Password" patternmassage="Your password must be at least 8 characters including 1 uppercase, 1 
        lowercase, numbers and special character." [control]="newpasswordRef">
    </app-validation-alert>

    <label for="confirmPassword" class="mt-1">Confirm New Password</label>
    <div class="input-group input-group-merge form-password-toggle">
        <input [type]="mergedConPwdShow ? 'text' : 'password'" class="form-control" id="confirmPassword"
            #confirmPasswordRef="ngModel" required
            [ngClass]="{'is-invalid': !confirmPasswordRef.valid && confirmPasswordRef.touched}"
            [(ngModel)]="confirmNewPassward" pattern="{{newpasswordRef.value}}">

        <div class="input-group-append" (click)="mergedConPwdShow = !mergedConPwdShow"
            [ngClass]="{'append-is-invalid': !confirmPasswordRef.valid && confirmPasswordRef.touched }">
            <span class="input-group-text cursor-pointer"><i class="feather" [ngClass]="{
              'icon-eye-off': mergedConPwdShow,
              'icon-eye': !mergedConPwdShow}"></i>
            </span>
        </div>
    </div>
    <app-validation-alert controlName="Confirm New Password"
        patternmassage="Password & Confirm Password does not match." [control]="confirmPasswordRef">
    </app-validation-alert>

</div>

<div class="modal-footer" style="border: none;">
    <button type="button" class="btn btn-outline-secondary mr-1" (click)="activeModal.dismiss('Cross click')" rippleEffect>Cancel</button>
    <button type="button" class="btn btn-warning"  rippleEffect>
        Change Password
    </button>
</div>