.link {
    color: #216093 !important;

}

.append-is-invalid {
    border-inline-start: 0;
    border-radius: 0.357rem;
    border-start-start-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    border: 1px solid #DE2E21 !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #ea5455;
    background-image: none !important;
    background-repeat: no-repeat;
}