// .row{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 25px;
//     margin-top: 1rem;
//     bottom: 0;
//     top: 0;
// }

.button {
    border-radius: 5px;
    border: 1px solid #253097;
    background: #FFF;
    color: #253097;
}