<div class="sport-card-style" style="border: 1px solid #b6b6b6; border-radius: 0.3rem;">
    <div class="time-header m-0 p-1" style="background-color: #e5e5e5;  border-radius: 0.3rem 0.3rem 0rem 0rem;">
      <h6 class="m-0">Starts in 01:20:03</h6>
    </div>
    <div class="card m-0 pr-1">
      <div class="d-flex">
        <div class="mr-auto">
          <img
            class="img-fluid h-100"
            src="../../../../../assets/images/pip-image/football_1.png"
            alt="sans"
          />
        </div>
        <div>
          <div class="d-flex">
            <div
              class="badge mt-1 ml-1 mr-auto"
              style="
               background-color: rgba(143, 171, 7, 1);
                color: rgba(0, 0, 0, 1);
                font-weight: 400;
              "
            >
            On demand Event
            </div>
            <div class="mt-1">
              <i class="bi bi-three-dots-vertical"></i>
            </div>
          </div>

          <h5 class="card-title mt-1 ml-1">
            {{ "McQuaid vs Fairport, Football" | truncateWords : 10 }}
          </h5>

          <div class="d-flex mb-1">
            <div class="ml-1">
              <i class="bi bi-clock icon-50"></i>
            </div>
            <div class="ml-2">
              <h6 class="time-text">Saturday,Sept 15th</h6>
              <span style="size: 10px">2:00 pm, Varsity</span>
            </div>
          </div>
          <div class="d-flex mb-1">
            <div class="ml-1">
              <i class="bi bi-clock icon-50"></i>
            </div>
            <div class="ml-2">
              <h6 class="time-text">Saturday,Sept 15th</h6>
              <span style="size: 10px">2:00 pm, Varsity</span>
            </div>
          </div>

          <div class="d-flex mb-1">
            <div class="ml-auto">
              <button
                type="button"
                class="btn btn-light btn-sm mr-2"
                rippleEffect
                (click)="AddEvent('on-demand-event-sidebar')"
              >
                View
              </button>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)=" onStartClick()"
                rippleEffect
              >
                Start
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>