@import'../grid-view.scss';
.text-container {
    padding-left: 10px;
    background-color: #FEF6E7;

    p {
        margin: 0;
    }
}

.mat-mdc-raised-button {
    padding: 4px 8px;
    height: fit-content !important;
}

.badge-text {
    width: fit-content;
    background-color: var(--bg-color-chip);
    color: var(--color-dyanamic);
    padding: 2px 7px;
    border-radius: 6px;
}

.text-truncate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-ellipsis {
    max-width:90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}