<div class="table-responsive mt-0">
    <table class="table" style="min-width: max-content;">
        <thead>
            <tr>
                <th>EVENT NAME</th>
                <th>EVENT TYPE</th>
                <th>DATE</th>
                <th>Time</th>
                <th>File Size</th>
                <th>File Type</th>
                <th>SPORT</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="assets/images/pip-image/Event-card.png" class="img-fluid" alt="..."
                        style="max-width: 60px; max-height: 36px; border-radius: 4px; margin-right: 5px;">
                    Mendon vs Sutherland
                </td>
                <td>Scheduled Event</td>
                <td>Sept 15th, Saturday</td>
                <td class="cursor-pointer">2:00 pm</td>
                <td>1 GB</td>
                <td>1 GB</td>
                <td>Football</td>
                <td class="">
                    <app-menu-button></app-menu-button>
                </td>
            </tr>
        </tbody>
    </table>

</div>