<div class="table-responsive mt-0">
    <table class="table" style="min-width: max-content;">
        <thead>
            <tr>
                <th>EVENT NAME</th>
                <th>EVENT TYPE</th>
                <th>DATE</th>
                <th>Time</th>
                <th>File Size</th>
                <th>File Type</th>
                <th>SPORT</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datasource">
                <td>
                    <img src="assets/images/pip-image/Event-card.png" class="img-fluid" alt="..."
                        style="max-width: 60px; max-height: 36px; border-radius: 4px; margin-right: 5px;">
                    {{item.title}}
                </td>
                <td>{{item.type}}</td>
                <td>{{dateTimeService.formatEventDate(item.dtEvent)}}</td>
                <td class="cursor-pointer">{{dateTimeService.formatTime(item.time)}}</td>
                <td>1 GB</td>
                <td>TAR</td>
                <td>{{item.sport}}</td>
                <td class="">
                    <app-menu-button [dropdownItems]="dropdownItems"></app-menu-button>
                </td>
            </tr>
        </tbody>
    </table>

</div>