.upcoming-event {
    .in-progess {
        font-family: 'Outfit';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card-title {
        font-family: 'Outfit';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .sub-heading {
        font-family: 'Outfit';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .badge-info {
        color: var(--text, #0D0D0D);
        background-color: #E9F0F5;
        font-family: 'Outfit';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

    p {
        margin-bottom: 5px;
        font-family: 'Outfit';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }


    .accordion .card{
        border-bottom: 0.5px solid var(--light-secondary-border-color);
        border-top: 0.5px solid var(--light-secondary-border-color);
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    
    .collapse-icon {
        [aria-expanded='true'] {
            &:after {
                content: '';
                position: absolute;
                background-size: 14px;
                top: 58%;
                right: 1rem;
                width: 14px;
                height: 11px;
                margin-top: -8px;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 300ms linear 0s;
                color: #6e6b7b;
                transform: rotate(180deg);
            }
        }

        [aria-expanded='false'] {
            &:after {
                content: '';
                position: absolute;
                background-size: 14px;
                top: 58%;
                right: 1rem;
                width: 14px;
                height: 11px;
                margin-top: -8px;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 300ms linear 0s;
                color: #6e6b7b;
            }
        }
    }
    .btn-warning{
        padding: 4px 3rem !important;
    }
}