<div class="modal-header" *ngIf="header.isHeader">
  <h4 class="modal-title" id="myModalLabel4"></h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <div></div>
  <p>
    Candy oat cake topping topping chocolate cake. Icing pudding jelly beans I
    love chocolate carrot cake wafer candy canes. Biscuit croissant fruitcake
    bonbon soufflé.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" rippleEffect>Accept</button>
</div>
