<div class="card">
  <div class="mt-2">
    <app-connection-header></app-connection-header>
  </div>
  <hr>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex p-1">
          <div class="card cursor-pointer" style="height: 14rem; width: 12rem" [routerLink]="'/connection/connection-device-detail'">
            <img src="assets/images/pip-image/football_1.png" alt="" style="height: 100%" />
          </div>
          <div class="card p-1" style="
              height: 10rem;
              width: 10rem;
              background-color: rgba(233, 241, 244, 1);
              margin-top: 2rem;
              margin-left: -2rem !important;
            ">
            <div class="d-flex">
              <div class="d-flex mr-auto">
                <i class="bi bi-tablet" style="margin-right: 0.2rem"></i>
                <h6>iPad</h6>
              </div>

              <span ngbDropdown style="cursor: pointer">
                <i class="bi bi-three-dots-vertical" ngbDropdownToggle id="dropdownMenuButton"></i>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem>Pause</a>
                  <a ngbDropdownItem>Pause</a>
                  <a ngbDropdownItem>Disable</a>
                  <a ngbDropdownItem>Remove</a>
                </div>
              </span>
            </div>
            <h6>Coach Jones</h6>
            <h6>iPad22</h6>
            <h6>192.168.1.10</h6>
            <h6>5 retries</h6>
          </div>
        </div>

      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex p-1">
          <div class="card cursor-pointer" style="height: 14rem; width: 12rem" [routerLink]="'/connection/connection-device-detail'">
            <img src="assets/images/pip-image/football_1.png" alt="" style="height: 100%" />
          </div>
          <div class="card p-1" style="
              height: 10rem;
              width: 10rem;
              background-color: rgba(233, 241, 244, 1);
              margin-top: 2rem;
              margin-left: -2rem !important;
            ">
            <div class="d-flex">
              <div class="d-flex mr-auto">
                <i class="bi bi-tablet" style="margin-right: 0.2rem"></i>
                <h6>iPad</h6>
              </div>

              <span ngbDropdown style="cursor: pointer">
                <i class="bi bi-three-dots-vertical" ngbDropdownToggle id="dropdownMenuButton"></i>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem>Pause</a>
                  <a ngbDropdownItem>Pause</a>
                  <a ngbDropdownItem>Disable</a>
                  <a ngbDropdownItem>Remove</a>
                </div>
              </span>
            </div>
            <h6>Coach Jones</h6>
            <h6>iPad22</h6>
            <h6>192.168.1.10</h6>
            <h6>5 retries</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>